<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/index.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
	<div class="wrap indexwrap">
		<aside id="intro" class="intro">
			<!-- 소개 -->
			<h1>판매자 페이지입니다.</h1>
			<h1>하단 메뉴를 골라주세요</h1>
		</aside>
		<div class="h_gnb_menu">
			<nav class="gnb_menu">
				<ul>
					<li>
						<a href="#" data-hover="가게정보" class="h_menu">가게정보</a>
					</li>
					<li>
						<a href="#" data-hover="후기" class="h_menu"> 후기</a>
					</li>
					<li>
						<a href="#" data-hover="Q&A" class="h_menu">QnA</a>
					</li>
					<li>
						<a href="#" data-hover="가게등록" class="h_menu">가게등록</a>
					</li>
					<li>
						<a href="#" data-hover="가게관리" class="h_menu">가게관리</a>
					</li>
				</ul>
			</nav>
		</div>
		<!--<aside id="banner_box" class="banner_box">
			 배너 
			<div class="prev"><i class="fa-solid fa-arrow-left fa-2xl"></i></div>

			<div class="next"><i class="fa-solid fa-arrow-right fa-2xl"></i></div>
		</aside>-->


	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>
<script>
	$('.h_logout').on('click', function () {
		alert("로그아웃되었습니다.")
	})
</script>

</html>