<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>일반유저 myActivity_history</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">	
	<link rel="stylesheet" href="/css/userMyActivityHistory.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	
	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/userMyPageMenu::userMyPageMenu(loginUser)}"></th:block>
		<!-- 오른쪽 내용 -->
		<div class="left_div">
			<h2 id="acti_title">활동내역</h2>
			<!--<div class="button_div">
				페이지 이동???
				<a href="#"><input type="button" value="게시글 내역"></a>
				<a href="#"><input type="button" value="기부 내역"></a>
				<a href="#"><input type="button" value="펀딩 내역"></a>
				<a href="#"><input type="button" value="가게 내역"></a>
			</div>-->
			<div class="search_div">
			<form name="searchForm" id="searchForm" action="/user/search" method="post">
				<input type="search" id="keyword" name="keyword" placeholder="검색어를 입력하세요">
				<input type="button" value="검색" id="search_btn" onclick="search()">
			</form>
			</div>
			<div class="contents_div">
				<!--history에 최초로 들어 왔을떄 뜨는 List-->
				<div class="contents Dona_List" id="Dona_content" th:if="${not #lists.isEmpty(Donation_List)}" th:each="donationItem : ${Donation_List}">
					<!--div추가됨-->
					<!--<div th:each="d_systemNameItem : ${d_systemname}">-->
					<img th:src="@{/images/{d_systemnameItem}(d_systemnameItem=${d_systemname[2]})}">
					<!--</div>-->
					<!---->
					<div>
						[기부]<p th:text="${donationItem}"></p>
						
						<!--<p>[[${DoneUserName}]]</p>-->
					</div>
				</div>
				<div class="contents Fund_List" id="Fund_content" th:if="${not #lists.isEmpty(Funding_List)}" th:each="fundingItem : ${Funding_List}">
					<!--<div th:each="f_systemNameItem : ${f_systemname}">-->
						<img th:src="@{/images/{f_systemnameItem}(f_systemnameItem=${f_systemname})}">
					<!--</div>-->
					<div>
						[펀드]<p th:text="${fundingItem}"></p>
						
						<!--<p>[[${FundUserName}]]</p>-->
					</div>
				</div>
				<!--=================================-->
				<!--사용자가 search를 행했을때 뜨는 list -->
				<!--기부 리스트-->
				<div class="contents" id="d_request" th:if="${not #lists.isEmpty(d_boardtitle)}" th:each="d_boardtitleItem : ${d_boardtitle}">
					
					<img th:src="@{/images/{d_systemnameItem}(d_systemnameItem=${d_systemname})}">
					<div>
						[기부]<p  th:text="${d_boardtitleItem}"></p>
						
						<!--<p  th:text="${d_boardOrgid}"></p>-->
					</div>
				</div>
				<!--====================-->
				
				<!--펀드 리스트-->
				<div class="contents" id="f_request" th:if="${not #lists.isEmpty(f_boardtitle)}" th:each="f_boardtitleItem : ${f_boardtitle}">
					
					<img th:src="@{/images/{f_systemnameItem}(f_systemnameItem=${f_systemname})}">
					<div>
						[펀드]<p th:text="${f_boardtitleItem}"></p>
						
						<!--<p th:each="f_boardOrgidItem : ${f_boardOrgid}" th:text="${f_boardOrgidItem}"></p>-->
					</div>
				</div>
				<!--========================-->
				<!--========================================-->
				
				<div th:if="${#lists.isEmpty(Donation_List) == true and #lists.isEmpty(Funding_List) == true}"  id="empty_msg">
					<p class="empty_msg">내역이 존재하지 않습니다.</p>
				</div>
				
				<!--1page => 총 n개 -->
				
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
	function search(){
		const keyword = document.getElementById("keyword")
		
		if(keyword.value == ""){
			alert("검색어를 입력해주세요")
			focus.keyword
		}
		else{
		$(".empty_msg").attr("style", "display : none");
		$(".Dona_List").attr("style", "display : none");
		$(".Fund_List").attr("style", "display : none");
			
			
		searchForm.submit();
		$(".empty_msg").attr("style", "display : none");
		$(".Dona_List").attr("style", "display : none");
		$(".Fund_List").attr("style", "display : none");
		
		}
		
	}
	
	
</script>

</html>
