<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>일반유저 myhome</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">
	<link rel="stylesheet" href="/css/userMyHome.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/userMyPageMenu::userMyPageMenu(loginUser)}"></th:block>
		<!-- 오른쪽 내용 -->
		<div class="left_div">
			<!---->
			<div class="donation_div">
				<div class="my_AmountOfHolding">
					<div>
						<!--로그인한 유저가 보유하고 있는 bonus 포인트-->
						<span>보유 포인트</span>
						<span>[[${UserBonus}]]Point</span>
					</div>
					<div>
						<a href="/store/sBoard"><input type="button" value="포인트 후원하러 가기" id="pointDonaLink"></a>
					</div>
				</div>
				<div class="total_donation">
					<div>
						<span>후원금액</span>

						<span>[[${UserD_cost}]]원</span>
					</div>
					<div>
						<!--기부 페이지로 이동-->
						<a href="/donation/dBoard"><input type="button" id="Dona_btn" value="기부 바로가기"></a>
						<!--펀딩 페이지로 이동-->
						<a href="/funding/fBoard"><input type="button" id="Fund_btn" value="펀딩 바로가기"></a>
					</div>
				</div>
			</div>
			<div class="savings_div">
				<a href="#">
					<img src="/images/pig.png">&nbsp;보너스 포인트는&nbsp;<span>기부/펀딩금액의 10%가 적립됩니다. &nbsp;</span>
				</a>
			</div>
			<div class="myNews_div">
				<div>
					<div>
						<h3><a id="nickname">[[${NickName}]]</a>님의 소식</h3>
						<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
						<span>총 기부[[${UserDonate}]] / 펀딩[[${UserFunding}]] 건</span>
						<p>※기부/펀딩내역 중 최근 [3]건이 출력됩니다</p>
					</div>
					<a href="/user/my/news">전체보기>></a>
				</div>
				<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
				<div>
					<div class="Dona_List" th:if="${not #lists.isEmpty(Home_Donation_List)}"
						th:each="donationItem : ${Home_Donation_List}">
						<a id="Dona_Red">[기부활동]</a><span th:text="${donationItem}">Donation List Name</span>
						<p id="Name_Time">[[${DoneUserName}]] &nbsp; [[${DoneTime}]]</p>
					</div>
					<div class="Fund_List" th:if="${not #lists.isEmpty(Home_Funding_List)}"
						th:each="fundingItem : ${Home_Funding_List}">
						<a id="Fund_Blue">[펀딩활동]</a><span th:text="${fundingItem}">Funding List Name</span>
						<p>[[${FundUserName}]] &nbsp; [[${FundTime}]]</p>
					</div>
					<div>
						<!--1개씩 말고 2개씩 띄우자는 의견-->
						<span>[Advertise]</span>
						<p>차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>


</html>