<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>일반유저 myNews</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">
	<link rel="stylesheet" href="/css/userMyNews.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<!--<style>
	        .hidden {
	            display: none;
	        }
	</style>-->
</head>


<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/userMyPageMenu::userMyPageMenu(loginUser)}"></th:block>
		<!-- 오른쪽 내 소식 -->
		<div class="left_div">
			<div class="myNews_div">
				<div>
					<div>
						<h3>내소식</h3>
						<span>총 기부[[${UserDonate}]] / 펀딩[[${UserFunding}]] 건</span>
						<p>※최근 기부/펀딩 내역이 표시됩니다</p>
						<div id="done_fund_btn">
						<input type="button" id="Dona_btn" value="기부목록" >
						<input type="button" id="Fund_btn" value="펀딩목록" >
						</div>
					</div>
				</div>
				<div>
					<div class="Dona_List" th:if="${not #lists.isEmpty(Donation_List)}" th:each="donationItem : ${Donation_List}">
						<a th:href="@{/donation/receipt(paymentnum=${donationItem.paymentnum})}">
							<span id="Dona_Red">[기부활동(일반결제)]</span><span th:text="${donationItem.d_title}"></span>
							<p id="Name_Time"><span id="Dona_text">후원한 기부금은 환불이 어렵습니다.</span>[[${donationItem.orgid}]] &nbsp; [[${donationItem.d_cost}]]원 &nbsp; </p> 
						</a>
					</div>
					<div class="Dona_List" th:if="${not #lists.isEmpty(RDonation_List)}" th:each="donationItem : ${RDonation_List}">
						<a th:href="@{/donation/Rreceipt(paymentnum=${donationItem.paymentnum})}">
							<span id="Dona_Red">[기부활동(정기결제)]</span><span th:text="${donationItem.d_title}"></span>
							<p id="RName_Time">[[${donationItem.orgid}]] &nbsp; [[${donationItem.d_cost}]]원 &nbsp; </p> 
						</a>
					</div>
					<div class="Fund_List" th:if="${not #lists.isEmpty(Funding_List)}" th:each="fundingItem : ${Funding_List}">
						<a th:href="@{/funding/fReceipt(paymentnum=${fundingItem.paymentnum})}">
							<span id="Fund_Blue">[펀딩활동]</span><span th:text="${fundingItem.f_title}">Funding List Name</span>
							<p id="Name_Time">[[${fundingItem.orgid}]] &nbsp; [[${fundingItem.f_cost}]]원</p>
						</a>
					</div>
				<!--최초 첫div 만 script가 적용되는 이수가 있었지만 div의 id를 class로 바꿔주어 해결함 / id값이 겹치면 안되는 부분을 까먹음-->	
					
					<div th:if="${#lists.isEmpty(Donation_List) and #lists.isEmpty(Funding_List)}">
						<p>내역이 존재하지 않습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
       
	$(document).ready(function(){
	
	           $("#Dona_btn").on("click", function(){
	               $(".Fund_List").attr("style", "display : none");
	               $(".Dona_List").removeAttr("style");
	           });
	
	           $("#Fund_btn").on("click", function(){
				$(".Dona_List").attr("style", "display : none");
				$(".Fund_List").removeAttr("style");
	           });
			});
	       
   </script>

</html>