<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>일반유저 myNews</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">
	<link rel="stylesheet" href="/css/userMyNews.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/userMyPageMenu::userMyPageMenu(loginUser)}"></th:block>
		<!-- 오른쪽 내 소식 -->
		<div class="left_div">
			<div class="myNews_div">
				<div>
					<div>
						<h3>내소식</h3>
						<span>총 ?건</span>
						<p>※결제 알림은 마케팅 알림 수신 동의 여부와 관계없이 발송됩니다.</p>						
					</div>
				</div>
				<div>
					<div>
						<span>해피빈 마케팅 정보 수신에 동의하였습니다.</span>
						<p>닉네임 | 2024.05.14</p>
					</div>
					<div>
						<span>해피빈 마케팅 정보 수신에 동의하였습니다.</span>
						<p>닉네임 | 위에 DB날짜 그대로 가져오기</p>
					</div>
					<div>
						<span>해피빈 마케팅 정보 수신에 동의하였습니다.</span>
						<p>닉네임 | 위에 DB날짜 그대로 가져오기</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
</html>
