<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>일반유저 myhome</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">
	<link rel="stylesheet" href="/css/userMyHome.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="stylesheet" href="/css/userModify.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<form action="/user/modify" method="post" name="modifyForm">
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/userMyPageMenu::userMyPageMenu(loginUser)}"></th:block>
		<!-- 오른쪽 내용 -->
		
		<div class="left_div">
			<div id="usernickname"><h2 id="nickname">[[${NickName}]]</h2> 님의 회원정보 </div>
			<div id="content_wrap">
			<div id="modi_username">
				<div id="old">
					<a id="old_content">기존 이름 :		<h2 id="username">[[${UserName}]]</h2></a> 
				</div>
				<div id="new">
					<input type="text" id="newName" placeholder="새로운 이름">
				</div>
			</div>
			<div id="modi_nickname">
				<div id="old">
					<a class="old_content">기존 닉네임 :	<h2 id="user_nickname">[[${NickName}]]</h2></a>
				</div>
				<div id="new">
					<input type="text" id="newNick" placeholder="새로운 닉네임">
				</div>
			</div>
			<div id="modi_email">
				<div id="old">
					<a class="old_content">기존 이메일 :	<h2 id="useremail">[[${UserEmail}]]</h2></a>
				</div>
				<div id="new">
					<input type="text" id="newEmail" placeholder="새로운 이메일">
				</div>
			</div>
			<div id="modi_userphone">
				<div id="old">
					<a class="old_content">기존 핸드폰번호 :	<h2 id="userphone">[[${UserPhone}]]</h2></a>
				</div>
				<div id="new">
					<input type="text" id="newUserphone" placeholder="새로운 핸드폰번호">
				</div>
			</div>
			<div id="submit_btn_wrap">
				<input type="button" id="submit_btn" value="수정하기" onclick="checkNick()">
			</div>
			</div>
		</div>
	</div>
	</form>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>
<script>
	function checkNick(){
		const username = document.getElementById('newName')
		const nickname = document.getElementById('newNick')
		const Email = document.getElementById('newEmail')
		const usesrPhone = document.getElementById('newUserphone')
		if(nickname.value == ""){
			alert("새로운 닉네임을 입력하세요")
		}
		if(username.value == ""){
			alert("새로운 이름을 입력하세요")
		}
		if(Email.value == ""){
			alert("새로운 이메일을 입력해 주세요")
		}
		if(userPhone.vlaue == ""){
			alert("새로운 핸드폰 번호를 입력하세요")
		}
		// 미완성
	}
</script>


</html>