<th:block th:fragment="footer()">
	<footer class="footer">
	        <div class="f_sub_line"></div>
	        <div class="footer_wrap">
	            <div class="f_sub_box">
	                <div class="f_notice_box">
	                    <ul>
	                        <li><p>공지사항</p></li>
	                        <li><a href="#">2023년 기부러브 연간 기부금 모금액 및 활용실적</a></li>
	                    </ul>
	                </div>
	                <div class="f_sns_box">
	                    <a href="#">
	                        <img src="/images/instagram_icon.png" alt="">
	                    </a>
	                    <a href="#">
	                        <img src="/images/facebook_icon.png" alt="">
	                    </a>
	                    <a href="#">
	                        <img src="/images/twitter_icon.png" alt="">
	                    </a>
	                    <a href="#">
	                        <img src="/images/youtube_icon.png" alt="">
	                    </a>
	                </div>
	            </div>
	            <div class="f_info_box">
	                <div class="f_info_law">
	                    <ul>
	                        <li class="f_info_item"><a href="#">이용약관</a></li>
	                        <li class="f_info_item"><a href="#">개인정보처리방침</a></li>
	                        <li class="f_info_item"><a href="#">책임의 한계와 법적고지</a></li>
	                        <li class="f_info_item"><a href="#">고객센터</a></li>
	                        <li class="f_info_item"><a href="#">공익제보(행정안전부)</a></li>
	                    </ul>
	                </div>
	                <div class="f_info">
	                    <ul>
	                        <li>재단법인 기부러브</li>
	                        <li>대표자 OOO</li>
	                        <li>서울 강남구 테헤란로14길 6 남도빌딩</li>
	                        <li>대표전화 : 1588-0000</li>
	                        <li>이메일 : givuluv@OOOO.com</li>
	                        <li>사업자등록번호 : 000-00-00000</li>
	                        <li>통신판매업신고 : 제0000-서울시-0000호</li>
	                    </ul>
	                </div>
	            </div>
	            <div class="f_copyright">
	                <p><a href="#">기부러브</a><span>Copyright © GivuLuv Corp. All Rights Reserved.</span></p>
	            </div>
	        </div>
	    </footer>
<th:block>