<th:block th:fragment="orgMyPageMenu(loginOrg)">
	<th:block th:if="${loginUser == null}">
		<!--<script>
			alert("로그인 후 이용하세요!");
			location.replace("/");
		</script>-->
	</th:block>
	<body>
		<div class="right_div">
			<div class="profile_div">
				<img th:src="${orgsystemname}">
				<span>[[${orginfo.orgname}]]</span>
				<span><a  href="/org/my/modify_orginfo"><input type="button" value="정보수정" id="modifyLink"></a></span>
				<span><a href="/org/my/delete_orginfo"><input type="button" value="회원탈퇴"  id="deleteLink"></a></span>
			</div>
			<div class="menu_div">
				<div>
					<a href="/org/my/home"><strong>펀딩 홈</strong></a>
					<!--<a>펀딩 홈</a>
					<a>펀딩 홈</a>-->
				</div>
				<!--<div>
					<a href="/org/my/org_news"><strong>내 소식</strong></a>
					<a>	</a>
					<a>내 소식</a>
				</div>-->
				<div>
					<a href="/org/my/org_activity_history"><strong>활동내역/소식</strong></a>
					<a></a>
				</div>
				<!--<div>
					<a><strong>정기결제관리</strong></a>
					<a>정기기부</a>
					<a>정기저금</a>
				</div>
				<div>
					<a><strong>연말정산</strong></a>
					<a>2023 연말정산</a>
					<a>전자기부금영수증</a>
				</div>-->
			</div>
		</div>
	</body>
</th:block>