<th:block th:fragment="sellerMyPageRank(loginUser)">
	<body>
		<div class="up_area">
			<div class="profile_area">
				<form>
					<input type="file" name="files" id="file" style="display:none">
					<img class="profile" src="/images/default_profile.png" onclick="javascript:myHome()">
				</form>
				<a href="/seller/my/home">[[${session.loginUser}]]님</a>
				<div>
					<p>좋아요 : 304개</p>
					<p>총 상품량 : 20개</p>
					<p>구독자 : 90명</p>
				</div>
			</div>
			<div class="product_area">
				<div class="buttons">
					<input type="button" value="최다 댓글 상품">
					<input type="button" value="최다 좋아요 상품">
				</div>
				<div class="products">
					<img class="one" src="/images/seller/my/1st.png">
					<img class="two" src="/images/seller/my/2nd.png">
					<img class="three" src="/images/seller/my/3rd.png">
					<div class="product">
						<div>
							<img src="/images/사과.jpg">
						</div>
						<div>
							<p>내 사과를 받아줘..</p>
							<p>좋아요 : 100개</p>
							<p>10,000원</p>
						</div>
					</div>
					<div class="product">
						<div>
							<img src="/images/바나나.jpg">
						</div>
						<div>
							<p>바나나먹으면 나한테 반하나?</p>
							<p>좋아요 : 50개</p>
							<p>10,000원</p>
						</div>
					</div>
					<div class="product">
						<div>
							<img src="/images/당근.jpg">
						</div>
						<div>
							<p>물론 당근이지!</p>
							<p>좋아요 : 10개</p>
							<p>10,000원</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<th:block>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script>
			function upload() {
				$("#file").click();
			}

			//$(선택자).change(함수) : 해당 선택자의 요소에 변화가 일어난다면 넘겨주는 함수 호출
			$("[type=file]").change(function (e) {
				//e : 파일이 업로드된 상황 자체를 담고있는 이벤트 객체
				//e.target : 파일이 업로드가 된 input[type=file] 객체(태그객체)
				const fileTag = e.target;
				console.log(fileTag);
				//e.target.files : 파일태그에 업로드가 된 파일들의 배열
				const file = fileTag.files[0];
				console.log(file);

				if (file == undefined) {
					//업로드 창을 띄웠다가 취소한 경우(파일이 업로드 되었다가 없어진 경우)
					cancelFile(fileTag.id.split("e").pop());
				}
				else {
					//업로드 된 파일의 확장자명			
					let ext = file.name.split(".").pop();
					if (ext == "jpeg" || ext == "png" || ext == "jpg" || ext == "webp" || ext == "gif") {
						$(".profile").remove();
						const reader = new FileReader();
						reader.onload = function (ie) {
							// .pd의 자식으로 img태그를 각각의 속성을 추가해서 자식으로 추가
							const img = document.createElement("img");
							img.setAttribute("src", ie.target.result);
							img.setAttribute("class", "profile");
							img.setAttribute("onclick", "javascript:upload()")
							document.querySelector(".pd").appendChild(img);
						}
						// 변경된 프로필 사진 저장버튼&삭제버튼 생성
						$(".save_button").remove();
						const save_button = document.createElement("input");
						save_button.setAttribute("type", "button");
						save_button.setAttribute("value", "프로필 저장");
						save_button.setAttribute("class", "save_button");
						save_button.setAttribute("onclick", "javascript:saveProfile()")
						document.querySelector(".profile_div").appendChild(save_button);

						$(".delete_button").remove();
						const delete_button = document.createElement("input");
						delete_button.setAttribute("type", "button");
						delete_button.setAttribute("value", "프로필 삭제");
						delete_button.setAttribute("class", "delete_button");
						delete_button.setAttribute("onclick", "javascript:cancelFile()")
						document.querySelector(".profile_div").appendChild(delete_button);

						reader.readAsDataURL(file);
					}
					else {
						$("." + fileTag.id + "_cont").remove();
					}
				}
			})
			function cancelFile() {
				$(".profile").remove();

				const img = document.createElement("img");
				img.setAttribute("src", "/images/default_profile.png");
				img.setAttribute("class", "profile");
				img.setAttribute("onclick", "javascript:upload()")
				document.querySelector(".pd").appendChild(img);

				$(".delete_button").remove();
				return;
			}
		</script>
		<script>
			function saveProfile() {
				$(".pd").submit();
				console.log("/user/profileSave submit 완료");
			}
		</script>
	</th:block>
</th:block>