/* 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체  */
* {
	box-sizing: border-box;
	font-family: 'KCC-Hanbit';
}
body {
	background-color: white;
}
a, input {
	cursor: pointer;
}
.wrap {
	
	width: 1000px;
	min-height: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

/* 컨텐츠 */

/* down_area - 내용 영역 */
.down_area {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 30px;
}
	/* menu_area - 메뉴 */
	.menu_area {
		background-color: white;
		width: 250px;  max-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	.menu_area > div {
		width: 100%;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 3px;
		border-bottom: 1px solid #e0e0e0;
	}
	.menu_area > div > a {
		transition: all 0.3s;
	}
	.menu_area > div > a:hover {
		color: #e77097;
	}
	
	/* contents_area - 본문 내용 */
	.contents_area {
		background-color: white;
		border: 1px solid #e0e0e0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;
	}
	.button_div {
		width: 100%;
		display: flex;
		justify-content: space-around;
		
	}
	.button_div > a {
		border-radius: 50%;
		width: 120px; height: 120px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		gap: 10px;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	.button_div > a:hover {
		box-shadow: 0 8px 8px #e77097, 0 5px 5px rgb(255, 255, 255);
	}

	.button_div > a > img {
		width: 60px; height: 60px;
	}
	
	/* revenue_div - 수익 div */
	.revenue_div {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #e0e0e0;
	}
	.revenue_div > span {
		font-size: 30px;
		color: rgb(199, 199, 199)	
	}
	.month_revenue, .total_revenue {
		width: 50%; height: 120px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.month_revenue > :nth-child(2),
	.total_revenue > :nth-child(2) {
		font-size: 28px;
		color: rgb(231, 112, 151);
	}
	
	/* write_div - 리뷰 및 QnA div */
	.write_div {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	.review_div, .QnA_div {
		width: 50%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.review_div > a, .QnA_div > a {
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.review_div > a{border: 2px solid #2f966b;}
	.QnA_div > a {border: 2px solid #e77097;}
	.review_div > a > .table {
		background-color: white;
		width: 100%; height: 150px;
		display: flex;
		flex-direction: row;
		gap: 2px;
		border: 1px solid #e0e0e0;
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	}
	.review_div > a > .table > img {
		border: 1px solid #e0e0e0;
		margin: 5px;
		width: 50%;
	}
	.review_div > a > .table > div {
		width: 100%;
		padding: 5px;
		font-size: 12px;
	}
	.review_div > a > .table > div > :nth-child(1){
		width: 100%; height: 70%;
		padding: 5px;
		margin-bottom: 5px;
	}
	.review_div > a > .table > div > :nth-child(2),
	.review_div > a > .table > div > :nth-child(3) {
		text-align: right;
	}
	.QnA_title {
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.QnA_title, .QnA_div > a > .table{
		display: flex;
		justify-content: space-between;
	}
	.QnA_div > a > .table {
		padding: 2px;
		border: 1px solid #e0e0e0;
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	}
	.QnA_div > a > .table > span {
		font-size: 12px;
	}
	.QnA_div > a > .table > :nth-child(2) {
		max-width: 200px;
	}
	.QnA_div > a > .table > :nth-child(3) {
		text-align: center;
	}
	.QnA_div > a > .table > img {
		width: 25px; height: 25px;
		border: 1px solid #e0e0e0;
		border-radius: 50%;
		src: url("/images/default_profile.png");
	}

	
	
	
	
	
	
	