/* 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체  */
* table, tr,th,td {
	box-sizing: border-box;
	font-family: 'KCC-Hanbit';
}
body {
	background-color: white;
}
a, input {
	cursor: pointer;
}
.wrap {
	
	width: 1000px;
	min-height: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

/* 컨텐츠 */

/* down_area - 내용 영역 */
.down_area {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 30px;
}
	/* menu_area - 메뉴 */
	.menu_area {
		background-color: white;
		width: 250px;  max-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	.menu_area > div {
		width: 100%;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 3px;
		border-bottom: 1px solid #e0e0e0;
	}
	
	/* 버튼 호버 */
	.menu_area > div > a,
	.file_btn > a,
	#checkid:hover,
	#findzipcode:hover,
	#joinBtn {
		transition: all 0.3s;
	}
	.menu_area > div > a:hover,
	.menu_area > :nth-child(2) > :nth-child(2),
	.file_btn > a:hover,
	#checkid:hover,
	#findzipcode:hover {
		color: #e77097;
	}
	#joinBtn:hover {
		background-color: rgb(0, 166, 0);
	}
	
	/* contents_area - 본문 내용 */
	.contents_area {
		background-color: white;
		border: 1px solid #e0e0e0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 20px;
	}
	#joinBtn {
		width: 350px; height: 40px;
		background-color: #2f956b;
		color: white;
		border: 1px solid #e0e0e0;
		margin: auto;
	}
		/* button_div - 사용자 버튼 */
		.button_div {
			width: 100%;
			display: flex;
			justify-content: space-around;
			
		}
		.button_div > a {
			border-radius: 50%;
			width: 120px; height: 120px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			gap: 10px;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		.button_div > a:hover {
			box-shadow: 0 8px 8px #e77097, 0 5px 5px rgb(255, 255, 255);
		}
		.button_div > a > img {
			width: 60px; height: 60px;
		}
		.contents_area > h1 {
			margin-top: 10px;
			margin-left: 10px;
		}
		
		/* ps_line - 재고현황 검색바 */
		.ps_line {
			width: 500px; height: 40px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgb(176, 236, 184);
			border-radius: 8.5rem;
		}
		.ps_div {
			width: 490px; height: 32px;
			padding: 0 10px;
			border: 1px solid #2f956b;
			border-radius: 8.5rem;
			background-color: white;
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.ps_div > svg{
			width: 28px; height: 28px;
		}
		.ps_div > svg > path {
			fill: #2f956b;
		}
		.ps_div > input {
			width: 100%; height: 50%;
			border: none;
			outline: none;
		}
		
		/* product_list - 재고리스트 */
		.product_list {
			width: 100%;
			border-collapse: collapse;
		}
		.product_list > thead > tr > th {
			padding: 10px;
			font-size: 18px;
			border: 1px solid black;
			border-right: none;
			border-left: none;
			background-color: #e0e0e0;
		}
		.product_list > thead > tr > :nth-child(2),
		.product_list > thead > tr > :nth-child(4) {
			width: 35%;
		}
		.product_list > thead > tr > :nth-child(1),
		.product_list > thead > tr > :nth-child(3) {
			width: 15%;
		}
		.product_list > tbody > tr > td {
			text-align: center;
			font-size: 15px;
			padding: 10px;
			border: 1px solid black;
			border-right: none;
			border-left: none;
		}
.pagination{
	text-align: center;
	padding: 0;
}
.pagination btn{
	float: left;
	display: block;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
	
}
#searchForm{
	margin-top: 5px;
}
.nowPage{
	color: rgb(231,112,151);
	font-size: 22px;
	font-weight: bold;
}
#keyword{
	border: none;
	width: 440px;
	height: 30px;
}
#searchForm #keyword{
	margin-left: 30px;
}