/* 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체  */
* {
	box-sizing: border-box;
	font-family: 'KCC-Hanbit';
}
body {
	background-color: white;
}
a, input {
	cursor: pointer;
}
.wrap {
	
	width: 1000px;
	min-height: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

/* up_area - 프로필 및 베스트 상품 div */
.up_area {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
	gap: 30px;
}
	/* profile_area - 프로필 */
	.profile_area {
		width: 250px; height: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		background: #848b91;
		color: white;
	}
	.profile_area > form > img {
		border: 1px solid black;
		width: 70px; height: 70px;
		border-radius: 50%;
		background-color: white;
		cursor: pointer;
	}
	.profile_area > a {
		color: white;
		font-size: 25px;
	}
	.profile_area > div {
		font-size: 15px;
		text-align: center;
	}
	
	/* product_area - 상품 베스트3 div */
	.product_area {
		width: 100%; height: 100%;
		display: flex;
		flex-direction: column;
		background-color: white;
	}
	.product_area > .buttons {
		height: 100%;
		margin: 10px;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 20px;
	}
	.product_area > .buttons > input {
		border: 1px solid #e0e0e0;
		width: 150px; height: 40px;
		background-color: white;
		font-size: 18px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	.product_area > .buttons > input:hover{
		color: #e77097;
	}
	
	.products {
		position: relative;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.products > img {
		width: 50px; height: 50px;
		position: absolute;
	}
	.products > .one {
		bottom: 225px;
		left: 1px;
	}
	.products > .two {
		bottom: 225px;
		left: 269px;
	}
	.products > .three {
		bottom: 225px;
		left: 537px;
	}
	
	
	.products > .product {
		border: 1px solid #e0e0e0;
		width: 220px; height: 260px;
		display: grid;
		grid-template-rows: 70% 30%;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	.products > .product:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.products > .product > :nth-child(1) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.products > .product > :nth-child(2) {
		width: 100%; height: 100%;
		padding: 5px 8px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		margin: auto 0;
		text-align: center;
	}
	.products > .product > div > img {
		max-width: 100%; max-height: 100%;
		margin: auto;
		object-fit: cover;
	}
	.products > .product > :nth-child(2) > :nth-child(1) {
		margin-right: auto;
		margin-bottom: 10px;
	}
	.products > .product > :nth-child(2) > :nth-child(2), 
	.products > .product > :nth-child(2) > :nth-child(3)
	{
		font-size: 13px;
		margin-left: auto;
	}