<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사회단체 회원가입</title>
<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/join.css">
</head>
<body>
    <!-- 컨텐츠 -->
    <div class="container join">           
        <div class="content">
			<a href="/user/login"><i class="fa-solid fa-right-to-bracket backPage"></i></a>
            <h1>단체정보를 입력해주세요.</h1>
            <div class="join_text">
				<span id="necessary"><i class="fa-solid fa-star star"></i></span>
                <span>필수정보입력</span>
            </div>
            <div class="join-input">
                <form action="/org/join" method="post" name="orgjoinForm" enctype="multipart/form-data">
                    <div class="join-input-wrap">
						<table class="join_tbl">
							<tbody>
								<tr class="id_checkBox">
									<td>
										<p id="id_check"></p>
									</td>
								</tr>
								<th><label for="orgid">아이디</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="orgid" id="orgid" placeholder="아이디">									
									</td>							
									<td id="btns">
										<input type="button" value="중복검사" onclick="checkId()" id="checkid">									
									</td>
								</tr>							
								<th><label for="orgpw">비밀번호</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td id="eyesBox">
										<input type="password" name="orgpw" id="orgpw">	
										<i class="fa-solid fa-eye-slash eyes"></i>									
									</td>							
								</tr>						
								<th><label for="orgpw_re">비밀번호 확인</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="password" id="orgpw_re" onblur="pwcheck()">										
									</td>							
								</tr>		
								<tr class="pw_check">
									<td>
										<span id="pw_checkText"></span>
									</td>
								</tr>					
								<th><label for="orgname">단체명</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="orgname" id="orgname">										
									</td>							
								</tr>
								<th><label for="orgcategory">카테고리</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<select id="orgcategory" name="orgcategory">											
											<option value="">선택하세요</option>
											<option value="동물">동물</option>
											<option value="아동•청소년">아동•청소년</option>
											<option value="어르신">어르신</option>
											<option value="장애인">장애인</option>
											<option value="다문화">다문화</option>
											<option value="지구촌">지구촌</option>
											<option value="시민사회">시민사회</option>
											<option value="환경">환경</option>
											<option value="가족•여성">가족•여성</option>
											<option value="기타">기타</option>
										</select>									
									</td>							
								</tr>
								<th><label for="logo">로고명</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="logo" id="logo">										
									</td>							
								</tr>
								<th><label for="file">로고사진</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr class="r">
									<td class="file_cont">
										<div>
											<input type="file" name="files" id="file" style="display:none">
											<span id="filename">로고 사진을 업로드하세요.</span>
										</div>
										<div>
											<a class="btn" href="javascript:upload()">파일 선택</a>
											<a class="btn" href="javascript:cancelFile()">첨부 삭제</a>
										</div>
									</td>
								</tr>					
								<th><label for="orgphone">단체 전화번호</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="tel" name="orgphone" id="orgphone" placeholder="ex) 010-1234-5678">										
									</td>							
								</tr>							
								<th><label for="ceoname">대표자 명</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="ceoname" id="ceoname">										
									</td>	
								</tr>	
								<th><label for="orgunqnum">고유번호</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="orgunqnum" id="orgunqnum" placeholder="고유번호">
									</td>
									<td id="btns">
										<input type="button" value="중복확인" id="checkunqnum" placeholder="고유번호">
									</td>
								</tr>
								<tr class="unq_checkBox">
									<td>
										<p id="unq_check"></p>
									</td>
								</tr>
								<th><label for="orgzipcode">우편번호</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="orgzipcode" id="orgzipcode" onclick="findAddr()" placeholder="우편번호" readonly>										
									</td>							
									<td id="btns">
										<input type="button" id="findzipcode" value="우편번호 찾기" onclick="findAddr()">
									</td>
								</tr>							
								<th><label for="orgaddr">주소</label><span id="necessary"><i class="fa-solid fa-star star"></i></span></th>
								<tr>
									<td>
										<input type="text" name="orgaddr" id="orgaddr" placeholder="주소" readonly>										
									</td>							
								</tr>							
								<th><label for="orgaddrdetail">상세주소</label></th>
								<tr>
									<td>
										<input type="text" name="orgaddrdetail" id="orgaddrdetail" placeholder="상세주소">										
									</td>							
								</tr>																			
								<th><label for="orgaddretc">참고항목</label></th>
								<tr>
									<td>
										<input type="text" name="orgaddretc" id="orgaddretc" placeholder="참고항목">										
									</td>							
								</tr>
							</tbody>
						</table>
                        <button type="button" id="joinBtn" onclick="sendit()">가입완료</button>                        
                    </div>
                </form>
            </div>            
        </div>
    </div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/org.js"></script>
<script>
	$(document).ready(function() {
	    $(".eyes").click(function() {
	        let currentType = $("#orgpw").attr("type");
	
	        if (currentType === "password") {
	            $("#orgpw").attr("type", "text");
	            $(this).removeClass("fa-eye-slash").addClass("fa-eye");
	        } else { 
	            $("#orgpw").attr("type", "password");
	            $(this).removeClass("fa-eye").addClass("fa-eye-slash");
	        }
	    });
	});
	function upload(){
		$("#file").click();
	}
	
	//$(선택자).change(함수) : 해당 선택자의 요소에 변화가 일어난다면 넘겨주는 함수 호출
	$("[type=file]").change(function(e){
		//e : 파일이 업로드된 상황 자체를 담고있는 이벤트 객체
		//e.target : 파일이 업로드가 된 input[type=file] 객체(태그객체)
		const fileTag = e.target;
		console.log(fileTag);
		//e.target.files : 파일태그에 업로드가 된 파일들의 배열
		const file = fileTag.files[0];
		console.log(file);
		
		if(file == undefined){
			//업로드 창을 띄웠다가 취소한 경우(파일이 업로드 되었다가 없어진 경우)
			cancelFile(fileTag.id.split("e").pop());
		}
		else{
			//파일을 업로드를 한 경우(없었다가 업로드, 있었는데 다른 파일로 업로드)
			//#file0name 찾아서 내부 텍스트 변경(파일의 이름으로)
			$("#"+fileTag.id+"name").text(file.name);
			
			//업로드 된 파일의 확장자명			
			let ext = file.name.split(".").pop();
			if(ext == "jpeg" || ext == "png" || ext == "jpg" || ext == "webp" || ext == "gif"){
				//".  file0       _cont"
				$("."+fileTag.id+"_cont .thumbnail").remove();
				const reader = new FileReader();
				reader.onload = function(ie){
					const img = document.createElement("img");
					img.setAttribute("src",ie.target.result);
					img.setAttribute("class","thumbnail");
					document.querySelector("."+fileTag.id+"_cont").appendChild(img);
				}
				reader.readAsDataURL(file);
			}
			else{
				$("."+fileTag.id+"_cont").remove();
			}
		}
	})
	function cancelFile(){
		$(".thumbnail").remove();
		$("#filename").text("로고 사진을 업로드하세요.");
		return;
	}
	

</script>
</body>
</html>
