<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">   
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="icon" href="/images/기부러브.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/signupcomplete.css">
</head>
<body>
    <div class="suc_wrap">
        <!--헤더-->
        <div class="suc_header">
            <div class="suc_header_inner">
                <div class="suc_logobox">
                    <a href="/" class="suc_logo">
                         <img src="../images/GivuLuv_logo.png" alt="">
                    </a>
                    <a href="/" class="suc_tit">
                        기부러브
                    </a>
                    <span class="suc_subtitle">기부러브로그 가입</span>
                </div>
            </div>			
        </div>
        <div class="suc_main">
            <!--페이지별로 나타내는 디자인-->
            <ol class="suc_step_list">
                <li class="suc_step_item">
                    STEP1 신청등록
                </li>
                <li class="suc_step_item">
                    STEP2 단체정보
                </li>
                <li class="suc_step_item active">
                    <i class="fa-regular fa-circle-check"></i>
                    STEP3 가입신청 완료
                </li>
            </ol>
            <div class="suc_message">
                <div class="suc_icon">
                    <i class="fa-regular fa-check-circle"></i>
                </div>
                <h1>가입신청이 완료되었습니다!</h1>
                <p>귀하의 가입신청이 성공적으로 완료되었습니다. 매니저의 가입신청 승인 후 이용이 가능합니다.</p>
                <a href="/">홈으로 돌아가기</a>
            </div>
        </div>
        <div class="suc_footer">
            <div class="suc_footer_inner">
                 <p><a href="/">기부러브</a><span>Copyright © GivuLuv Corp. All Rights Reserved.</span></p>
            </div>
        </div>
    </div>            
</body>
</html>