<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>donation</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/managerModal.css"> 
<link rel="stylesheet" href="/css/donation.css">
<link rel="stylesheet" href="/css/header_footer.css">
<link rel="icon" href="/images/기부러브.ico" type="image/x-icon">
</head>
<body>
   <!-- header -->
   <th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
   <!-- 컨텐츠 -->
   <div class="wrap donation">
		<div class="intro_donation">
				<h2>GivuLuv 추천 모금함</h2>
			<div class="category_wrap">
				<ul class="category_list">
					<li class="category_item_1" aria-current="true">
						<button type="button" class="categoryBtn selected" data-orgcategory="전체">
							<span class="DonationTodayCategory_text__2oRHp">전체</span>
						</button>
					</li>
					<li class="category_item_2" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="동물">
							<span class="DonationTodayCategory_text__2oRHp">동물</span>
						</button>
					</li>
					<li class="category_item_3" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="아동•청소년">
							<span class="DonationTodayCategory_text__2oRHp">아동•청소년</span>
						</button>
					</li>
					<li class="category_item_4" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="어르신">
							<span class="DonationTodayCategory_text__2oRHp">어르신</span>
						</button>
					</li>
					<li class="category_item_5" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="장애인">
							<span class="DonationTodayCategory_text__2oRHp">장애인</span>
						</button>
					</li>
					<li class="category_item_6" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="다문화">
							<span class="DonationTodayCategory_text__2oRHp">다문화</span>
						</button>
					</li>
					<li class="category_item_7" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="지구촌">
							<span class="DonationTodayCategory_text__2oRHp">지구촌</span>
						</button>
					</li>
					<li class="category_item_8" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="시민사회">
							<span class="DonationTodayCategory_text__2oRHp">시민사회</span>
						</button>
					</li>
					<li class="category_item_9" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="환경">
							<span class="DonationTodayCategory_text__2oRHp">환경</span>
						</button>
					</li>
					<li class="category_item_10" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="가족•여성">
							<span class="DonationTodayCategory_text__2oRHp">가족•여성</span>
						</button>
					</li>
					<li class="category_item_11" aria-current="true">
						<button type="button" class="categoryBtn" data-orgcategory="기타">
							<span class="DonationTodayCategory_text__2oRHp">기타</span>
						</button>
					</li>
				</ul>
			<div class="card_list">
				<div class="card_list2">
					<!-- 맨처음 기부페이지 눌렀을 때 -->
					<th:block th:if="${not #lists.isEmpty(list)}">
						<th:block th:each="dBoard : ${list}">
						    <div class="card_item">
						        <a th:href="${dBoard.dBoard.dBoardnum}" id="donation_link" class="get">
						            <div class="card_thumbnail">
						                <img th:src="${dBoard.systemname}">
						            </div>
						            <strong class="card_title" th:text="${dBoard.dBoard.dTitle}"></strong>
						            <strong class="card_orgname" th:text="${dBoard.orgname}"></strong>
						        </a>
						    </div>
						</th:block>
					<th:block th:unless="${not #lists.isEmpty(list)}">
					    <p>등록된 기부 게시글이 없습니다.</p>
					</th:block>
					<!-- 여기서부터는 돔구현됨 -->
				</div>
				<div class="moreBtn">
					<input type="button" value="더보기" id="more">
				</div>
			</div>
			<div class="today_donation">
				<h3 class="today_danation_title">
					<span class="blind">오늘 함께한 기부금<br> 이만큼 모였어요!</span>
				</h3>
				<div class="donation_today_summary">
					<span class="today_donation_summary people">😄 [[${todayDonationPeople}]]명</span>					
					<span class="today_donation_summary cost">❤️ [[${todayCost}]]원</span>
				</div>
			</div>
			<div class="donation_review_wrap">
				<h3 class="donation_review_title">응원 메시지</h3>
				<div class="donation_review_card_list_wrap">
					<ul class="donation_review_card_list">
						<li th:each="review : ${reviewWithTitle}" class="donation_review_card_list_item">
							<a th:href="@{/donation/donationView(dBoardnum=${review.review.connectid})}" class="donation_review_card_list_link">
								<div class="donation_review_card_list_review_top">
									<div class="donation_review_card_list_thumb">
										<img th:src="${review.systemname}" width="70" height="70" alt=""
											class="donation_review_card_list_image">
									</div>
									<strong class="donation_review_card_title" th:text="${review.boardtitle}"></strong>
								</div>
								<div class="donation_review_card_list_info">
									<span class="donation_review_card_list_text" th:text="${review.review.reviewdetail}"></span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
   <!-- 관리자 승인여부 모달창 -->
   <th:block th:replace="~{layout/managerModal::managerModal()}"></th:block>
   <!-- footer -->
   <th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/managerModal.js"></script>
<script th:inline="javascript">
	$('.h_logout').on('click', function(){
		alert("로그아웃되었습니다.")
	})
	
	$(document).ready(function() {
		    $('.categoryBtn').click(function() {
		        // 클릭된 카테고리 버튼에만 selected 클래스를 추가하고 나머지에서는 제거
		        $('.categoryBtn').removeClass('selected');
		        $(this).addClass('selected');
		    });
					// 한 번에 표시할 아이템의 개수 설정
				    let itemsPerPage = 8;
				
				    // 아이템의 총 개수
				    let totalItems = $('.card_item').length;
				    // 초기에는 itemsPerPage 개수까지만 표시되도록 설정
				    $('.card_item:gt(' + (itemsPerPage - 1) + ')').hide();
				
				    // 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
				    if (totalItems <= itemsPerPage) {
				        $('#more').hide();
				    }
					$(".get").on("click", function (e) {
						e.preventDefault();
						let dBoardnum = $(this).attr("href");
						location.href = "donationView?dBoardnum=" + dBoardnum;
					})
				    // 더보기 버튼 클릭 시
				    $('#more').on('click', function () {
				        // itemsPerPage 개수 만큼 추가로 표시
				        $('.card_item:hidden').slice(0, itemsPerPage).slideDown();
				        // 아직 표시하지 않은 아이템의 개수 갱신
				        totalItems -= itemsPerPage;
				        // 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
				        if (totalItems <= itemsPerPage) {
				            $('#more').hide();
				        }
				    });
			});
		$(document).ready(function () {
				// 카테고리 버튼 클릭 이벤트
				$('.categoryBtn').click(function () {
					let orgcategory = $(this).data('orgcategory');
					fetchCategoryItems(orgcategory);
				});

				function fetchCategoryItems(orgcategory) {
					$.ajax({
						url: '/donation/getCategoryItems',
						type: 'Get',
						data: {orgcategory: orgcategory},
						dataType: 'json',
						success: function (data) {
							$('.card_list2').empty();
							console.log(data);
							if (data.length > 0) {
								$.each(data, function (index, item) {
									console.log(item);
									let dBoard = item.dboard;
									let orgname = item.orgname;
									let systemname = item.systemname;
									console.log(systemname);
									let cardItem = `
									 <div class="card_item">
										<a href="donationView?dBoardnum=${dBoard.dboardnum}" id="donation_link" class="get">
											<div class="card_thumbnail">
												<img src="${systemname}">
											</div>
											<strong class="card_title">${dBoard.dtitle}</strong>
											<strong class="card_orgname">${orgname}</strong>
										</a>
									</div>`;
									$('.card_list2').append(cardItem);
								});
							} else {
								// 만약 받은 데이터가 없다면 메시지를 표시합니다.
								console.log("없음");
								$('.card_list2').append('<p>등록된 기부 게시글이 없습니다.</p>');
								$('.card_list2').css("text-align", "center");
								$('.card_list2 p').css("line-height", "200px");
								
							}
							let itemCount = $('.card_item').length;
							let hidden = $('.card_item:hidden').length
							console.log("글개수: "+itemCount)
							console.log("히든: "+hidden)
							    $('.card_item').hide();
							    $('.card_item:lt(8)').show();

							    if (itemCount > 8) {
							         $('#more').show();
							    } else {
							         $('#more').hide();
								}
								$('#more').off('click').on('click', function () {
								     $('.card_item:hidden').slice(0, 8).slideDown();
								                
								     // 모든 아이템이 표시되었을 경우 더보기 버튼을 숨깁니다.
								     if ($('.card_item:hidden').length === 0) {
								         $('#more').hide();
								     }
								});

						},
						error: function (xhr, status, error) {
							console.error('AJAX Error: ', status, error);
						}
					});
				}	
			});
			
</script>

</html>