<!DOCTYPE html>
<html>
<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>   
<link rel="stylesheet" href="/css/header_footer.css">
<link rel="stylesheet" href="/css/donationView.css">
</head>
<body>
   <!-- header -->
   <th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
   <!-- 컨텐츠 -->
   <div class="container">
		<div class="donation_wrap">
			<div class="donation_content">
				<h2 class="theme">
				    <a href="#" class="theme" style="text-decoration:none">[[${orgcategory}]]</a>
				</h2>
				<h3 class="tit">[[${dboard.dTitle}]]</h3>
				<div class="d_content" th:utext="${dboard.dContent}"></div>
			</div>
			<div class="donation_side">
				<div class="section_status ">
					<div class="graph_wrap">
						<div class="graph_status">
							<span class="per"><strong class="num">[[${percentage}]]</strong>%</span>
						</div>
						<div class="graph_bar">
							<span id="bar"></span>
						</div>
					</div>
					<div class="term_area">
						<p>
							<strong>
								<span th:text="${#dates.format(dboard.dRegdate, 'yyyy-MM-dd')}"></span> ~
								[[${dboard.dEnddate}]]
							</strong><span> 까지</span>
						</p>
						<div>
							<span class="d_day">D<em class="bar">-</em>[[${daysUntilEnd}]]</span>
						</div>
					</div>
					<div class="num_area">
						<p class="status_num"><strong>[[${d_cost}]]</strong><span id="won">원</span></p>
						<p class="detail_num v2"><strong><span>[[${dboard.targetAmount}]]</span><em>원 목표</em></strong></p>
					</div>
				</div>
				<div class="section_btn">		
					<a th:href="@{/donation/pay(dBoardnum=${dboard.dBoardnum})}" class="bt donate jq_donate" data-google="모금함_View" data-stat="기부하기_상단_BTN_CLK" onclick="donationBtn()">모금함 기부하기</a>
				</div>
				<div class="section_group">
					<div class="group_bx">
						<h3>
							<!-- [D]등록이미지 없을 경우 디폴트 이미지로 노출 -->
							<img src="https://ssl.pstatic.net/happyimg2/img3/social/comment/img/no_img32_32.png" width="32" height="32"
								alt="해피로그 기본 이미지">
							<span>
								모금단체
								<a href="https://happylog.naver.com/hlog/eunhye1004/home" target="happylog"> <strong>[[${orgname}]]</strong>
								</a>
							</span>
						</h3>
						<div class="info_lst">
							<ul>
								<li><strong>사회단체 가입: </strong><span>2021년</span></li>
								<li><strong>총 모금액: </strong><span>[[${totalCost}]]원</span></li>
								<li><strong>현재 정기기부자: </strong><span>[[${RdonationCnt}]]명</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="donationReview">
			<h2 id="d_review">응원 메시지</h2>
			<div id="totalReview">
				<p>총 <strong>[[${reviewCnt}]]</strong>개의 댓글</p>
			</div>
			<ul class="rbox_list">
				 <th:block th:if="${#lists.isEmpty(review)}">
				        <li>응원 메시지가 없습니다.</li>
				</th:block>
					<th:block th:unless="${#lists.isEmpty(review)}">
						<th:block th:each="reviewWithNickname : ${review}">
							<li class="rbox_comment">
								<div class="rbox_comment_box">
									<div class="rbox_area">
										<div class="rbox_info">
											<span class="rbox_info_main">
												<span class="rbox_name">
													<span class="rbox_name_area">
														<span class="rbox_nick_area">
															<span class="rbox_nick" th:text="${reviewWithNickname.nickname}">닉네임</span>
														</span>
														<span class="rbox_id_area">
															(<span class="rbox_id" th:text="${reviewWithNickname.review.userid}">아이디</span>)
														</span>
													</span>
												</span>
											</span>
											<span class="rbox_info_sub"></span>
										</div>
										<div class="rbox_text_wrap">
											<span class="rbox_contents" th:text="${reviewWithNickname.review.reviewdetail}">리뷰 내용</span>
										</div>
										<div class="rbox_info_date">
											<span class="rbox_date" th:text="${reviewWithNickname.review.reviewdate}">날짜</span>
											<div class="rbox_updateAndDelete">
												<a href="#" id="updateReview">수정</a>
												<a href="#" id="deleteReview">삭제</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</th:block>
				    </th:block>
				</ul>
			</ul>
			<th:block th:if="${session.loginUser != null}">
				<div class="comment replyForm">
					<div class="comment_inbox">
						<em class="comment_inbox_name">닉네임 ([[${session.loginUser}]])</em>
						<textarea placeholder="댓글을 남겨보세요" rows="1" class="commentText" id="reviewdetail"></textarea>
						<div class="comment_inbox_number">
							<span class="blind">현재 입력한 글자수</span>
							<strong class="inbox_count">0</strong>
							<span class="blind">전체 입력 가능한 글자수</span>
							<span class="inbox_total">100</span>
						</div>
					</div>
					<div class="commentBtnBox">
						<div class="regBtn">
							<a href="#" role="button" class="commentBtn">등록</a>						
						</div>					
					</div>
				</div>
			</th:block>
		</div>
	</div>
   <!-- footer -->
   <th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/review.js"></script>
<script th:inline="javascript">
	const review = /*[[${review}]]*/"";
	console.log()
	$('.h_logout').on('click', function(){
		alert("로그아웃되었습니다.")
	})
	
	function donationBtn(){
		let NotUserMessage = /*[[${NotUserMessage != null}]]*/ false;
		console.log(NotUserMessage)
		if (NotUserMessage) {
			alert("사용자로 로그인 후 이용해주세요");
		 }
	}
	document.addEventListener("DOMContentLoaded", function () {
	        const percentage = /*[[${percentage}]]*/"";
	        const graphBarSpan = document.querySelector('#bar');
	        graphBarSpan.style.width = percentage + '%';
			const textarea = document.querySelector(".commentText");
			const countDisplay = document.querySelector(".inbox_count");
			const maxLength = 100;
	    
			textarea.addEventListener("input", function() {
				const currentLength = textarea.value.length;
				countDisplay.textContent = currentLength;
					
			    if (currentLength > maxLength) {
			           alert("100글자 이상은 입력할 수 없습니다.");
			           textarea.value = textarea.value.substring(0, maxLength);
			           countDisplay.textContent = maxLength;
			    }
				if (currentLength > 61) {
				       textarea.rows = 2;
				} else {
				       textarea.rows = 1;
				}
	    	});
	});
	const replyForm = $(".replyForm");
	const reviewdetail = $('#reviewdetail')
	let boardnum = /*[[${dboard.dBoardnum}]]*/'';
	let loginUser = /*[[${session.loginUser}]]*/'';
	$('.commentBtn').on('click', function(e){
		e.preventDefault();
		if(reviewdetail.val().length == 0){
			alert("댓글이 비어있습니다!")
			reviewdetail.focus();
		}
		reviewService.insert(
			{"reviewdetail":reviewdetail.val(),"connectid":boardnum,"userid":loginUser},
			function(result){
			//DOM
			console.log(result);
			}
		)
	})
	function showList(){
			reviewService.selectAll(
				{"connectid":boardnum},
				function(list){
					//LIST DOM
					let str = "";
					if(list == null || list.length == 0){
						//실제로 댓글이 하나도 없을 때
						if(pagenum == 1){
							str += `<li class="no-reply">등록된 댓글이 없습니다.</li>`;
							replies.html(str);
							return;
						}
						//삭제를 통해서 현재 페이지의 댓글이 모두 삭제됐을 때
						else{
							showList(pagenum-1);
							return;
						}
					}
					
					for(let i=0;i<list.length;i++){
						const reply = list[i];
						str += `<li class="li${reply.replynum} row">
		<div class="row">
			<strong class="userid${reply.userid}">${reply.userid}</strong>
			<p class="reply${reply.replynum}">
				${reply.replycontents}
			</p>
		</div>
		<div>
			<strong>${displayTime(reply)}</strong>
		</div>`;
						str += "<div>"
						if(reply.userid == loginUser){
							str += `<a href="${reply.replynum}" class="modify btn">수정</a>`
							str += `<a href="${reply.replynum}" class="mfinish btn" style="display:none;">수정 완료</a>`
							str += `<a href="${reply.replynum}" class="remove btn">삭제</a>`
						}
						str += "</div>"
						str += "</li>"
					}
					replies.html(str);
					
					//DOM으로 생성된 버튼들에 이벤트 달기
					$(".remove").on("click",deleteReply);
					$(".modify").on("click",modifyReply);
					$(".mfinish").on("click",modifyReplyOk);
					
					//댓글 페이징 DOM 구현
					showReplyPages(replyCnt, pagenum);
				}
			)
		}
	
</script>

</html>