<!DOCTYPE html>
<html>
<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>   
<link rel="stylesheet" href="/css/header_footer.css">
<link rel="stylesheet" href="/css/donationPay.css">
</head>
<body>
   <!-- header -->
   <th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
   <!-- 컨텐츠 -->
   <div class="container">
		<div class="contents">
			<div class="tit">
				<a th:href="@{/donation/donationView(dBoardnum=${dboard.dBoardnum})}"><i class="fa-regular fa-less-than"></i></a>
				<h2>[[${dboard.dTitle}]]</h2><br>
				<span id="orgname">by [[${orgname}]]</span>
			</div>
		</div>
		<div class="payment">
			<ul class="dtn_tab">
				<li>
					<a th:href="@{/donation/pay(dBoardnum=${dboard.dBoardnum})}">
						<span class="way1">결제 기부하기</span>
					</a>
				</li>
				<li class="on">
					<a href="#">
						<span class="way2">정기 기부하기</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="dtn_section">
			<p class="dtn_txt">
				<strong>"기부자님의 소중한 마음으로 놀라운 변화가 일어납니다."</strong>
				투명한 기부 후기로 그 변화를 소개하고 보답하겠습니다!
			</p>
			<div class="pay_area">
				<ul class="ipt_area">
					<li class="num">
						<strong class="tit">결제 할 금액</strong>
						<!-- payment테이블있어야 할듯 -->
						<form name="donationForm" method="post">
							<input type="hidden" id="rdonaNo" name="rdonaNo" value="H000000195261">
							<input type="hidden" id="happyId" name="happyId" value="eunhye1004">
							<input type="hidden" id="chooseDonationMethod" name="chooseDonationMethod" value="Temporary">
							<input type="hidden" id="categoryNo" name="categoryNo" value="0">
							<input type="hidden" name="categoryDonation" value="false">
							<input type="hidden" id="paySeq" name="paySeq">
							<input type="hidden" id="p" name="p" value="p">
							<input type="hidden" id="s" name="s" value="">
							<input type="hidden" id="itemCode" name="itemCode" value="TemporaryDonate">
							<input type="hidden" id="paymentType" name="paymentType" value="Temporary">
							<input type="hidden" id="chargeTotalAmount" name="chargeTotalAmount" value="10000" style="width:107px;"
								maxlength="8">
							<input type="hidden" id="mktNotiReceiveAgree" name="mktNotiReceiveAgree" value="false">
							<input type="hidden" name="messageJson">
						</form>
						<input type="text" class="inp_num d_cost" value="1000" name="ChargeTotalAmount"
							id="ChargeTotalAmount" maxlength="8"><span class="tx_won">원</span>
						<span class="sort_menu">
							<button class="btn_sort  jq_fix_amount" type="button" data-amount="10,000">1만원</button>
							<button class="btn_sort jq_fix_amount" type="button" data-amount="20,000">2만원</button>
							<button class="btn_sort jq_fix_amount" type="button" data-amount="30,000">3만원</button>
							<button class="btn_sort reset" type="button" data-amount="0">초기화</button>
						</span>
						<span class="tx2">* 기부를 원하는 금액을 입력한 후 <em>'기부하기'</em> 버튼을 눌러주세요!</span>
					</li>
					<li class="donationOrg num">
						<strong class="npay_tit">후원 단체</strong>
						<span href="#" class="org_name">[[${orgname}]]</span>
					</li>
					<li class="nextPayDay num">
						<strong class="npay_tit">다음 결제일</strong>
						<span th:text="${nextPayDay}"></span>
						<span> (매월 첫째 주 금요일)</span>
						<span id="rtext" th:text="${dboard.dEnddate}"></span>
						<span id="rtext">까지 정기기부입니다.</span>
					</li>
					<li class="num npay_do">
						<strong class="npay_tit">결제 수단</strong>
						<span href="#" class="btn_npay_do payImg">
							<img src="/images/네이버페이.png">
						</span>
						<span href="#" class="btn_kpay_do payImg">
							<img src="/images/카카오페이.png">
						</span>
					</li>
				</ul>
			</div>
			<div class="dnt_area agree">
				<div class="commission_area">
					<strong class="cms_txt tit">정기결제 안내</strong>
					<p class="cms_txt"><em class="point2_txt">최소 1,000원 이상</em> 결제하실 수 있으며, 첫 신청일 이후에는 매월 첫째 주 금요일에 <em class="point2_txt">자동 결제</em>됩니다.</p>
				</div>
				<div class="agree_area v2">
					<div class="agree_wrap">
						<label class="label_all" for="agree_all"><input type="checkbox" id="agree_all" class="input">이용약관, 마케팅 알림 수신에 모두
							동의합니다.
						</label>
					</div>
					<div class="agree_wrap">
						<label for="agree_term">
							<input id="agree_term" type="checkbox" class="input jq_temporary_agree terms">
							(필수) GivuLuv 이용약관에 동의합니다.
						</label>
						<!--이용 약관-->
						<p class="agree_preview">
							<th:block th:replace="~{layout/agreeInfo::agreeInfo()}"></th:block>
						</p>
					</div>
					<div class="agree_wrap">
						<label for="agree_alarm"><input type="checkbox" id="agree_alarm" class="input terms">(선택) 해피빈 마케팅 알림 수신에
							동의합니다.</label>
						<span class="agree_text">해피빈에서 제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(네이버 앱 알림 또는 문자),<br>이메일로 받아보실 수 있습니다.</span>
					</div>
				</div>
				<div class="donation_buttons">
					<input type="button" class="button_highlight jq_donate" onclick="payBtn()" value="기부하기">
					<a th:href="@{/donation/donationView(dBoardnum=${dboard.dBoardnum})}" class="jq_prev_rdona_view">모금함으로 돌아가기</a>
				</div>
			</div>
		</div>
	</div>
   <!-- footer -->
   <th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/donationPay.js"></script>
<script src="https://js.bootpay.co.kr/bootpay-4.3.4.min.js" type="application/javascript"></script>
<script th:inline="javascript">
	$('.h_logout').on('click', function(){
		alert("로그아웃되었습니다.")
	})
	function payBtn(){
				let cost = parseInt($(".d_cost").val().replace(/,/g, ''));
				console.log(cost);
				let orgname = /*[[${orgname}]]*/"";
				let dBoardnum = /*[[${dboard.dBoardnum}]]*/"";
				console.log(orgname)
				console.log(dBoardnum)
				$.ajax({
				        url: '/user/payUserInfo', 
				        type: 'GET', 	
						data: {orgname: orgname, dBoardnum: dBoardnum},	       
				        success: function(response) {	
							let orgid = response.orgid;
							let user = response.user;
							let today = response.today;	 
							let enddate = response.enddate;
				            Bootpay.requestPayment({
								price: cost, // 0으로 해야 한다.
				                "application_id": "664d681b2bac039f7bd3d53e",
				                //"price": cost,
				                "order_name": orgname, 
								"order_id": orgid,
				                "pg": "nicepay",
				                "method": "card_rebill",
								show_agree_window: 0,
				                "user": {
				                    "id": user.userid,
				                    "username": user.username,
				                    "phone": user.userphone,
				                    "email": user.email,
									"addr" : user.addr
				                },							
								"items": [
								    {
								   "id": dBoardnum,
								   "name": orgname,
								   "qty": 1,
								   "price": cost
								   }
								],
								extra: {
									start_at: today, 
									end_at: enddate 
								}

							}).then(function(data) {
							if (data.event === 'done') {
								  console.log(data);
								  $.ajax({
								      url: '/payment/RconfirmPay',
								      method: "POST",
								      data: {
								         "cost": cost,
								         "orgname": orgname,
										 "dBoardnum": dBoardnum
								      },
								      success: function(msg) {
								         console.log(msg);
										 alert("기부 감사드립니다!")
								         location.href = "/donation/Rreceipt?paymentnum="+msg.paymentnum;
								      },
								      error: function() {
								              console.error('error');
								              alert("통신 실패");
								      }
								  });
							}
							}).catch(function(e) {
								console.log(e.message);
								switch (e.event) {
								     case 'cancel':
								           console.log(e.message);
								       	   break;
								     case 'error':
								           console.log(e.error_code);
								           break;
								 }
							});
	
							
						},
						error: function(error) {
						       console.error('Error fetching user info:', error);
						}
				        
				    });
			}
</script>
</html>