<!DOCTYPE html>
<html>
<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>   
<link rel="stylesheet" href="/css/header_footer.css">
<link rel="stylesheet" href="/css/donationView.css">
</head>
<body>
   <!-- header -->
   <th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
   <!-- 컨텐츠 -->
   <div class="container">
		<div class="donation_wrap">
			<div class="donation_content">
				<h2 class="theme">
				    <a href="#" class="theme" style="text-decoration:none">[[${orgcategory}]]</a>
				</h2>
				<h3 class="tit">[[${dboard.dTitle}]]</h3>
				<div class="d_content" th:utext="${dboard.dContent}"></div>
			</div>
			<div class="donation_side">
				<div class="section_status ">
					<div class="graph_wrap">
						<div class="graph_status">
							<span class="per"><strong class="num">18</strong>%</span>
						</div>
						<div class="graph_bar">
							<span style="width:18%"></span>
						</div>
					</div>
					<div class="term_area">
						<p>
							<strong>
								<span th:text="${#dates.format(dboard.dRegdate, 'yyyy-MM-dd')}"></span> ~
								[[${dboard.dEnddate}]]
							</strong><span> 까지</span>
						</p>
						<div>
							<span class="d_day">D<em class="bar">-</em>[[${daysUntilEnd}]]</span>
						</div>
					</div>
					<div class="num_area">
						<p class="status_num"><strong>378,000</strong><span id="won">원</span></p>
						<p class="detail_num v2"><strong><span>[[${dboard.targetAmount}]]</span><em>원 목표</em></strong></p>
					</div>
				</div>
				<div class="section_btn">		
					<a th:href="@{/donation/pay(dBoardnum=${dboard.dBoardnum})}" class="bt donate jq_donate" data-google="모금함_View" data-stat="기부하기_상단_BTN_CLK">모금함 기부하기</a>
				</div>
				<div class="section_group">
					<div class="group_bx">
						<h3>
							<!-- [D]등록이미지 없을 경우 디폴트 이미지로 노출 -->
							<img src="https://ssl.pstatic.net/happyimg2/img3/social/comment/img/no_img32_32.png" width="32" height="32"
								alt="해피로그 기본 이미지">
							<span>
								모금단체
								<a href="https://happylog.naver.com/hlog/eunhye1004/home" target="happylog"> <strong>[[${orgname}]]</strong>
								</a>
							</span>
						</h3>
						<div class="info_lst">
							<ul>
								<li><strong>사회단체 가입: </strong><span>2021년</span></li>
								<li><strong>총 모금액: </strong><span>11,872,800원</span></li>
								<li><strong>현재 정기기부자: </strong><span>4명</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   <!-- footer -->
   <th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script>
	$('.h_logout').on('click', function(){
		alert("로그아웃되었습니다.")
	})
	$(document).ready(function() {
		    $('.categoryBtn').click(function() {
		        // 클릭된 카테고리 버튼에만 selected 클래스를 추가하고 나머지에서는 제거
		        $('.categoryBtn').removeClass('selected');
		        $(this).addClass('selected');
		    });
		});
</script>

</html>