<!DOCTYPE html>
<html>

<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/write.css">
   <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
   <link rel="stylesheet" href="/css/date/daterangepicker.css">
</head>
<body>
   <div class="container">
      <!-- 헤더 -->
      <div class="writeheader">
         <div class="writeheaderleft">
            <img class=logo src="/images/GivuLuv_logo.png" alt="">
            <p>글쓰기</p>
         </div>
         <a href="javascript:donationsubmit();" class="btn">등록</a>
      </div>
      
      <!-- 컨텐츠 -->
      
      <div class="wrap donationwrite write">
         <form method="post" name="donationForm" id="donationForm" enctype="multipart/form-data">
            <input type="text" id="dTitle" class="title" name="dTitle" placeholder="제목">
            <div class="boxes">
               <div class="textarea_box">
                  <textarea id="summernote" name="editordata" class="content"></textarea>
                  <input type="hidden" id="dContent" name="dContent">
                  <input type="hidden" id="orgid" name="orgid" th:value="${session.loginOrg}"> <!--${session.orgid}-->
                  <input type="hidden" id="filenames" name="filenames">
               </div>
               <div class="option">
                  <div class="targetAmount_box">
                     <i class="fa-solid fa-won-sign"></i>
                     <input type="text" id="targetAmount" class="targetAmount" placeholder="목표 금액">
                     <input type="hidden" id="realtargetAmount" name="targetAmount">
                  </div>
                  <div class="calendar_box">
                     <p>마감일</p>
                     <i class="fa-solid fa-calendar"></i>
                     <input type="text" id="datetime" class="datetime" readonly>
                     <input type="hidden" id="dEnddate" name="dEnddate">
                  </div>
                  <div class="thumbnail_box">
                     <div id="file_box">
                        <div>
                           <input type="file" name="thumbnail" id="thumbnail" style="display:none" accept="image/*">
                           <p id="thumbnailname">선택된 썸네일 없음</p>
                           <a class="btn" href="javascript:upload(0)">파일 선택</a>
                        </div>
                     </div>
                  </div>            
               </div>
            </div>
         </form>
      </div>
   </div>

</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/boardwrite.js"></script>

<script>
   function upload(){
      $("#thumbnail").click();
   }
   //$(선택자).change(함수) : 해당 선택자의 요소에 변화가 일어난다면 넘겨주는 함수 호출
   $("[type=file]").change(function(e){
      //e : 파일이 업로드된 상황 자체를 담고있는 이벤트 객체
      //e.target : 파일이 업로드가 된 input[type=file] 객체(태그객체)
      const fileTag = e.target;
      console.log(fileTag);
      //e.target.files : 파일태그에 업로드가 된 파일들의 배열
      const file = fileTag.files[0];
      console.log(file);
      
      if(file == undefined){
         //업로드 창을 띄웠다가 취소한 경우(파일이 업로드 되었다가 없어진 경우)
         cancelFile();
      }
      else{
         //파일을 업로드를 한 경우(없었다가 업로드, 있었는데 다른 파일로 업로드)
         //#file0name 찾아서 내부 텍스트 변경(파일의 이름으로)
         $("img.thumbnailImg").remove();
         $("#thumbnailname").text(file.name);
         //업로드 된 파일의 확장자명         
         let ext = file.name.split(".").pop();
         if(ext=="jpeg"||ext=="JPEG"||ext=="png"||ext=="PNG"||ext=="jpg"||ext=="JPG"||ext == "webp"||ext=="WEBP"||ext=="gif"||ext=="GIF"){
            const reader = new FileReader();
            reader.onload = function(ie){
               const img = document.createElement("img");
               img.setAttribute("src",ie.target.result);
               img.setAttribute("class","thumbnailImg");
               $("#file_box").prepend(img);
            }
            reader.readAsDataURL(file);
         }
         else{
            cancelFile();
            alert("사진 파일만 넣어주세요!");
         }
      }
   })

   function cancelFile(){
      $("#thumbnailname").html("선택된 썸네일 없음")
      $("img.thumbnailImg").remove();
      $("[type=file]").val('');
   }
</script>


</html>