<!DOCTYPE html>
<html>

<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/write.css">
   <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
   <link rel="stylesheet" href="/css/date/daterangepicker.css">
   <link rel="icon" href="/images/기부러브.ico" type="image/x-icon">
</head>
<body>
	<th:block th:if="${session.loginOrg == null}">
		<script>
			alert("로그인 후 이용하세요!");
			location.replace("/");
		</script>
	</th:block>
   <div class="container">
      <!-- 헤더 -->
      <div class="writeheader">
         <div class="writeheaderleft">
            <img class=logo src="/images/GivuLuv_logo.png" alt="">
            <p>기부 글쓰기</p>
         </div>
         <a href="javascript:donationsubmit();" class="btn">등록</a>
      </div>
      
      <!-- 컨텐츠 -->
      
      <div class="wrap donationwrite write">
         <form method="post" name="donationForm" id="donationForm" enctype="multipart/form-data">
            <input type="text" id="dTitle" class="title" name="dTitle" placeholder="제목">
            <div class="boxes">
               <div class="textarea_box">
                  <textarea id="summernote" name="editordata" class="content"></textarea>
                  <input type="hidden" id="dContent" name="dContent">
                  <input type="hidden" id="orgid" name="orgid" th:value="${session.loginOrg}"> <!--${session.orgid}-->
                  <input type="hidden" id="filenames" name="filenames">
               </div>
               <div class="option">
                  <div class="targetAmount_box">
                     <i class="fa-solid fa-won-sign"></i>
                     <input type="text" id="targetAmount" class="targetAmount" placeholder="목표 금액">
                     <input type="hidden" id="realtargetAmount" name="targetAmount">
                  </div>
                  <div class="calendar_box">
                     <p>마감일</p>
                     <i class="fa-solid fa-calendar"></i>
                     <input type="text" id="datetime" class="datetime" readonly>
                     <input type="hidden" id="enddate" name="dEnddate">
                  </div>
                  <div class="thumbnail_box">
                     <div id="file_box">
                        <div>
                           <input type="file" name="thumbnail" id="thumbnail" style="display:none" accept="image/*">
                           <p id="thumbnailname">선택된 썸네일 없음</p>
                           <a class="btn" href="javascript:upload(0)">파일 선택</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>

</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/boardwrite.js"></script>

</html>