<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productView</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productView.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
    <div class="s_view_wrap">
        <div class="store_tit">
            <div class="store_name">
                <h1 id="storeName" th:text="${store.sName}"></h1>
            </div>
        </div>
        <div class="product_box">
            <div class="product_info_box">
                <div class="product_img">
					<!--물품 썸네일 넣기-->
                    <img th:src="@{'/summernoteImage/' + ${imgFile.systemname}}" alt="">
                </div>
                <div class="product_info">
                    <div class="p_name">
                        <p th:text="${sboard.sTitle}"></p>
                    </div>
                    <div class="p_cost">
                        <p><span th:text="${products.get(0).cost}"></span>원</p>
                    </div>
                    <div class="p_bonus">
                        <p>상품을 구매하는 고객님을 위한 기부포인트</p>
                        <p><span th:text="${#numbers.formatInteger((products.get(0).cost) * 0.1,3)}"></span>포인트</p>
                    </div>
					<div class="ProductReward">
						<div class="ProductReward_inner">
							<div class="product_option">
								<select id="p_rewardList">
								     <option value="" disabled selected hidden id="basicOption">상품 선택하기</option>
								     <option th:each="product : ${products}" th:value="${product.productnum}" th:data-cost="${product.cost}" th:data-pAmount="${product.pAmount}" th:text="${product.productname}"></option>
								</select>
							</div>
							<ul class="ProductDetailSummary_list_cart">
								<li class="ProductDetailRewardCartItem_wrap">
									<strong class="ProductDetailRewardCartItem_name" id="p_selectedOption"></strong>
									<div class="ProductDetailRewardCartItem_counter">
										<input id="p_reward-cart-item-1" type="number" class="ProductDetailRewardCartItem_input_count" value=1>
										<label for="p_reward-cart-item-1" class="p_blind">개수</label>
										<button type="button" class="ProductDetailRewardCartItem_button_minus" disabled="">
											<span class="ProductDetailRewardCartItem_icon_minus" id="p_minus">
											</span>
											<span class="p_blind">-</span>
										</button>
										<button type="button" class="ProductDetailRewardCartItem_button_plus">
											<span class="ProductDetailRewardCartItem_icon_plus" id="p_plus">
											</span>
											<span class="blind"><i class="p-light p-plus"></i></span>
										</button>
									</div>
									<span class="ProductDetailRewardCartItem_amount" id="p_selectedCost">
										<strong></strong></span>
										<button class="ProductDetailRewardCartItem_button_delete">
											<span class="ProductDetailRewardCartItem_icon"></span>
											<span class="p_blind">삭제</span>
										</button>
									</li>
								</ul>
								<div class="ProductDetailSummary_total">
									<div class="ProductDetailSummary_count">총 수량 <span class="ProductDetailSummary_number" id="ProductNum">0</span>개</div>
									<div class="ProductDetailSummary_amount">
										<strong class="ProductDetailSummary_name">총 금액</strong>
										<strong class="ProductDetailSummary_description">
										<span class="ProductDetailSummary_number" id="totalProductCost">0</span>원</strong>
									</div>
								</div>
								<div class="ProductDetailSummary_delivery">
									<span class="ProductDetailSummary_name">배송비</span>
									<div class="ProductDetailSummary_delivery_fee">
										<span class="ProductDetailSummary_amount">
											<strong>3,000</strong>원</span>
										<span class="ProductDetailSummary_description">(50,000원 이상 구매 시 무료)</span>
										<span class="ProductDetailSummary_description">제주지역 추가 4,000원</span>
									</div>
								</div>
								<div class="productBtn">
									<input type="button" id="p_payBtn" value="구입하기">
								</div>
						</div>
					</div>
                </div>
            </div>
            <div class="product_detail_info">
                <div class="product_info_tag">
                    <ul>
                        <li class="product_detail">
                            <a href="">
                                <p>상세정보</p>
                            </a>
                        </li>
                        <li class="product_review">
                            <a href="#product_review_box">
                                <p>리뷰(<span>[[${reviewList.size()}]]</span>)</p>
                            </a>
                        </li>
                        <li class="product_qna">
                            <a href="#product_qna_box">
                                <p>Q&A(<span>[[${qnaList.size()}]]</span>)</p>
                            </a>
                        </li>
                        <li class="product_back">
                            <a href="#p_rturn">
                                <p>반품/교환정보</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="warning">
                    <div>
                        <img src="/images/warning_icon.png" alt="">
                    </div>
                    <p>판매자가 타 사이트 안내 및 현금 결제, 개인정보 유도 시 <span>절대 결제/입력하지 마시고</span> 신고해주세요.</p>
                </div>
                <div class="product_detail">
                    <strong>상품정보</strong>
                    <div class="p_detail_info_box">
                        <table class="p_detail_info">
                            <colgroup>
                                <col width="160px">
                                <col width="340px">
                                <col width="160px">
                                <col width="340px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">상품번호</th>
                                    <td colspan="1">[[${products.get(0).productnum}]]</td>
                                    <th scope="row">상품상태</th>
                                    <td colspan="1">신상품</td>
                                </tr>
                                <tr>
                                    <th scope="row">모델명</th>
                                    <td colspan="1">[[${products.get(0).productname}]]</td>
                                    <th scope="row">브랜드</th>
                                    <td colspan="1">[[${store.sName}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p_etc_box">
                        <table class="p_detail_info">
                            <colgroup>
                                <col width="160px">
                                <col width="840px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">영수증발급</th>
                                    <td colspan="3">신용카드전표, 현금영수증발급</td>
                                </tr>
                                <tr>
                                    <th scope="row">판매자 특이사항</th>
                                    <td colspan="3">해외배송 제외상품</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product_detail_img">
						<div class="p_info_img" id="p_info_img" th:utext="${sboard.sContent}"></div>
                    </div>
                    <div class="more_info_view">
                        <div class="white_box" id="white_box"></div>
                        <!-- 자바스크립트로 화면 늘리기 -->
                        <input type="button" value="상세정보 펼쳐보기" id="more_info_view_btn" onclick="infoMoreview()"/>
                    </div>
                </div>
                <div class="buy_info">
                    <strong>거래조건에 관한 정보</strong>
                    <table class="p_buy_info">
                        <colgroup>
                            <col width="300px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">재화등의 배송방법에 관한 정보</th>
                                <td colspan="1">택배등</td>
                            </tr>
                            <tr>
                                <th scope="row">주문 이후 예상되는 배송기간</th>
                                <td colspan="1">대금 지급일로부터 3일 이내에 발송</td>
                            </tr>
                            <tr>
                                <th scope="row">제품하자·오배송 등에 따른 청약철회 등의 경우 청약철회 등의 기한 및 통신판매업자가 부담하는 반품비용 등에 관한 정보</th>
                                <td colspan="1">전자상거래 등에서의 소비자보호에 관한 법률 등에 의한 제품의 하자 또는 오배송 등으로 인한 청약철회의 경우에는 상품 수령 후 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 청약철회를 할 수 있으며, 반품 비용은 통신판매업자가 부담합니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">제품하자가 아닌 소비자의 단순변심에 따른 청약철회 시 소비자가 부담하는 반품비용 등에 관한 정보</th>
                                <td colspan="1">편도 3000원 (최초 배송비 무료인 경우 6000원 부과)</td>
                            </tr>
                            <tr>
                                <th scope="row">제품하자가 아닌 소비자의 단순변심에 따른 청약철회가 불가능한 경우 그 구체적 사유와 근거</th>
                                <td colspan="1">전자상거래 등에서의 소비자보호에 관한 법률 등에 의한 청약철회 제한 사유에 해당하는 경우 및 기타 객관적으로 이에 준하는 것으로 인정되는 경우 청약철회가 제한될 수 있습니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">재화등의 교환·반품·보증 조건 및 품질보증기준</th>
                                <td colspan="1">소비자분쟁해결기준(공정거래위원회 고시) 및 관계법령에 따릅니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">대금을 환불받기 위한 방법과 환불이 지연될 경우 지연배상금을 지급받을 수 있다는 지연배상금 지급의 구체적인 조건·절차</th>
                                <td colspan="1">주문취소 및 대금의 환불은 마이페이지에서 신청할 수 있으며, 전자상거래 등에서의 소비자보호에 관한 법률에 따라 소비자의 청약철회 후 판매자가 재화 등을 반환 받은 날로부터 3영업일 이내에 지급받은 대금의 환급을 정당한 사유 없이 지연하는 때에는 소비자는 지연기간에 대해서 연 15%의 지연배상금을 판매자에게 청구할 수 있습니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">소비자피해보상의 처리, 재화등에 대한 불만 처리 및 소비자와 사업자 사이의 분쟁처리에 관한 사항</th>
                                <td colspan="1">소비자분쟁해결기준(공정거래위원회 고시) 및 관계법령에 따릅니다.</td>
                            </tr>
                            <tr>
                                <th scope="row">거래에 관한 약관의 내용 또는 확인할 수 있는 방법</th>
                                <td colspan="1">상품상세 페이지 및 페이지 하단의 이용약관 링크를 통해 확인할 수 있습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product_review_box" id="product_review_box">
                    <div class="p_review_tit">
                        <p>상품리뷰</p>
                        <p>리뷰 ([[${	reviewList.size()}]])건</p>
                    </div>
                    <div class="p_review_list">
                        <!-- 리뷰가 있을경우 -->
						<div th:if="${reviewList.size() > 0}">
							<th:block th:each="review : ${reviewList}">
								<div class="p_review_box">
			                        <div class="p_review_view">
			                            <div class="review_cont">
			                                <p th:text="${review.reviewdetail}"></p>
			                            </div>
			                            <div class="review_info">
			                                <p>
												<img th:if="${review.star == 5}" src="/images/seller/my/5점.png">
												<img th:if="${review.star == 4}" src="/images/seller/my/4점.png">
												<img th:if="${review.star == 3}" src="/images/seller/my/3점.png">
												<img th:if="${review.star == 2}" src="/images/seller/my/2점.png">
												<img th:if="${review.star == 1}" src="/images/seller/my/1점.png">
												<span th:text="${review.star}"></span>
											</p>
			                                <p th:text="${review.userid}"></p>
			                                <p th:text="${review.reviewdate}"></p>
			                            </div>
			                        </div>
								</div>
							</th:block>
						</div>
                        <!-- 리뷰가 없을경우 -->
                        <div th:if="${reviewList.size() == 0}" class="no_review">
                            <p>아직 작성된 리뷰가 없습니다.</p>
                        </div>
                    </div>
                    <!-- 리뷰갯수가 더 남았을때 표시 -->
                    <div class="review_moreBtn">
                        <input type="button" value="더보기" id="review_more" onclick="">
                    </div>
                </div>
				
				<!--Q&A 시작-->
                <div class="product_qna_box" id="product_qna_box">
                    <div class="qna_tit">
                        <p>Q&A</p>
                        <input type="button" value="상품 Q&A 작성하기" id="qnaBtn" name="qnaBtn" onclick="qnaBtn()">
                    </div>
					<div class="qna_contents" id="qna_contents">
						<input type="hidden" name="qna_productnum" id="qna_productnum" th:value="${products.get(0).productnum}">
						<input type="hidden" name="userid" id="userid" th:value="${loginUser}">
						<textarea placeholder="내용을 입력해주세요." class="qna_content" id="qna_content"></textarea>
						<div class="qna_submit_box">
							<input type="button" value="등록" class="qna_submit" id="qna_submit" onclick="qnaSubmit()">
						</div>
					</div>
                    
					<!-- qna가 있으면 작성 -->
                    <div class="p_qna_box">
                        <div class="p_qna_tit">
                            <div><span>답변상태</span></div>
                            <div><span>제목</span></div>
                            <div><span>작성자</span></div>
                            <div><span>작성일</span></div>
                        </div>
						<div class="p_qna_list">
	                        <th:block th:if="${qnaList != null and not #lists.isEmpty(qnaList)}">
								<th:block th:each="qna : ${qnaList}">
			                        <div class="p_qna_cont_box">
			                            <ul class="p_qna_cont">
			                                <li class="p_qna_cont_list">
			                                    <div class="p_qna_simple">
			                                        <div th:if="${qna.answer == null}"><span>답변미완료</span></div>
			                                        <div th:unless="${qna.answer == null}"><span>답변완료</span></div>
			                                        <div>
			                                            <a href="javascript:void(0);" onclick="toggleDetail(this);">
			                                                <span th:text="${qna.question}"></span>
			                                            </a>
			                                        </div>
			                                        <div><span th:text="${qna.userid}"></span></div>
			                                        <div><span th:text="${qna.qnaregdate}"></span></div>
			                                    </div>
			                                    <!-- 내용 클릭시 질문 자세히 보기 -->
			                                    <div id="p_qna_detail_box">
			                                        <div class="p_qna_detail">
			                                            <div></div>
			                                            <div><span th:text="${qna.question}"></span></div>
				                                        <div><span th:text="${qna.userid}"></span></div>
														<th:block th:if="${session.loginUser == qna.userid}">
															<div class="p_qna_modify">
																<a href="#" class="modifyQna" id="modifyQna" >수정</a>
																<a th:href="@{/qna/delete(qnanum=${qna.qnanum}, productnum=${products.get(0).productnum})}" id="deleteQna">삭제</a>
															</div>
														</th:block>
			                                        </div>
			                                        <div class="p_qna_detail answer">
														<th:block th:if="${qna.answer == null}">
				                                            <div><span></span></div>
				                                            <div style="text-align: center"><span style="font-weight: bold;">아직 답변이 작성되지 않았습니다.</span></div>
				                                            <div><span></span></div>
															<div><span></span></div>
														</th:block>
														<th:block th:unless="${qna.answer == null}">
				                                            <div><span>판매자 답변</span></div>
				                                            <div><span th:text="${qna.answer}"></span></div>
				                                            <div><span>판매자</span></div>
															<div><span></span></div>
														</th:block>
			                                        </div>
												</div>
												<div class="qna_modify" id="qna_modify">
													<input type="hidden" name="qnanum" id="qnanum" th:value="${qna.qnanum}">
													<textarea th:placeholder="${qna.question}" class="qna_modify_content" id="qna_modify_content"></textarea>
													<div class="qna_modify_submit_box">
														<input type="button" value="수정완료" class="qna_modify_submit" id="qna_modify_submit" onclick="qnaModifySubmit()">
														<input type="button" value="수정취소" class="qna_modify_cancel" id="qna_modify_cancel" onclick="qnaModifyCnacel()">
													</div>
												</div>
			                                </li>
			                            </ul>
			                        </div>
								</th:block>
							</th:block>
						</div>
                    </div>
                    <!-- qna가 없을경우 -->
					<th:block th:if="${qnaList == null or #lists.isEmpty(qnaList)}">
                    <div class="no_qna">
                        <p>작성된 Q&A가 없습니다.</p>
                    </div>
					</th:block>
                </div>
                <!-- Q&A갯수가 더 남았을때 표시 -->
                <div class="qna_moreBtn">
                    <input type="button" value="더보기" id="qna_more" onclick="">
                </div>
                <div class="p_rturn" id="p_rturn">
                    <div class="p_return_tit">
                        <strong>반품/교환정보</strong>
                    </div>
                    <div class="p_return_guide">
                        <p><span>[[${store.sName}]]</span> 반품/교환 안내</p>
                        <p>반품 시 먼저 판매자와 연락하셔어 반품사유, 택배사, 배송비, 반품지 주소 등을 협의하신 후 반품상품을 발송해 주시기 바랍니다.</p>
                    </div>
                    <table class="p_return_info">
                        <colgroup>
                            <col width="200px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">지정택배사</th>
                                <td colspan="1">OO택배</td>
                            </tr>
                            <tr>
                                <th scope="row">보내실 곳</th>
                                <td colspan="1">[[${store.sAddr}]]</td>
                            </tr>
                            <tr>
                                <th scope="row">반품/교환 사유에 따른 요청 가능 기간</th>
                                <td colspan="1">구매자 단순 변심은 상품 수령 후 7일 이내. 또는 표시/광고와 상이, 계약 내용과 다르게 이행된 경우 상품 수령 수 3개월 이내 혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내</td>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="7">반품/교환 불가능 사유</th>
                                <td colspan="1">
                                    <ul class="p_return_infoCont">
                                        <li>
                                            <span>1. 반품요청기간이 지난 경우</span>
                                        </li>
                                        <li>
                                            <span>2. 구매자의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우</span>
                                        </li>
                                        <li>
                                            <span>3. 구매자의 책임있는 사유로 포장이 훼손되어 상품 가치가 현저히 상실된 경우</span>
                                        </li>
                                        <li>
                                            <span>4. 구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우</span>
                                        </li>
                                        <li>
                                            <span>5. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우</span>
                                        </li>
                                        <li>
                                            <span>6. 고객의 요청사항에 맞춰 제작에 들어가는 맞춤제작상품의 경우</span>
                                        </li>
                                        <li>
                                            <span>7. 복제가 가능한 상품 등의 포장을 훼손한 경우</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<footer>
    <a href="#" class="btn_gotop" id="click">
        <img src="/images/top_img.png" > 
    </a>
</footer>
<script src="/js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	$('.h_logout').on('click', function(){
		alert("로그아웃되었습니다.")
	})
	
	$(document).ready(function () {
			    // 한 번에 표시할 아이템의 개수 설정
			    var itemsPerPage = 5;
			
			    // 아이템의 총 개수
			    var totalItems = $('.p_qna_cont_box').length;
			
			    // 초기에는 itemsPerPage 개수까지만 표시되도록 설정
			    $('.p_qna_cont_box:gt(' + (itemsPerPage - 1) + ')').hide();
			
			    // 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
			    if (totalItems <= itemsPerPage) {
			        $('#qna_more').hide();
			    }
			    // 더보기 버튼 클릭 시
			    $('#qna_more').on('click', function () {
			        // itemsPerPage 개수 만큼 추가로 표시
			        $('.p_qna_cont_box:hidden').slice(0, itemsPerPage).slideDown();
			        // 아직 표시하지 않은 아이템의 개수 갱신
			        totalItems -= itemsPerPage;
			        // 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
			        if (totalItems <= itemsPerPage) {
			            $('#qna_more').hide();
			        }
			    });
		});
		
		
	$(document).ready(function () {
			    // 한 번에 표시할 아이템의 개수 설정
			    var itemsPerPage = 5;
			
			    // 아이템의 총 개수
			    var totalItems = $('.p_review_box').length;
			
			    // 초기에는 itemsPerPage 개수까지만 표시되도록 설정
			    $('.p_review_box:gt(' + (itemsPerPage - 1) + ')').hide();
			
			    // 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
			    if (totalItems <= itemsPerPage) {
			        $('#review_more').hide();
			    }
			    // 더보기 버튼 클릭 시
			    $('#review_more').on('click', function () {
			        // itemsPerPage 개수 만큼 추가로 표시
			        $('.p_review_box:hidden').slice(0, itemsPerPage).slideDown();
			        // 아직 표시하지 않은 아이템의 개수 갱신
			        totalItems -= itemsPerPage;
			        // 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
			        if (totalItems <= itemsPerPage) {
			            $('#review_more').hide();
			        }
			    });
		});
	
	//Q&A를 디테일하게 보기위한 함수
    function toggleDetail(element) {
		let qnaModify = document.getElementById('qna_modify');
        var detailBox = element.closest('.p_qna_cont_list').querySelector('#p_qna_detail_box');
        if (detailBox.style.display == 'block') {
			qnaModify.style.display = 'none';
            detailBox.style.display = 'none';
        } else {
			if(qnaModify.style.display == 'block'){
				qnaModify.style.display = 'none';
			}
			else{
				detailBox.style.display = 'block';
			}
        }
    }
	
	//처음 불러올때 물품 정보의 높이값이 500px보다 높으면 정보 숨기기 	
	$(document).ready(function () {
		let pInfoheight = document.querySelector('.p_info_img');
		console.log(pInfoheight.scrollHeight);
		let moreView = document.getElementById('p_info_img');
		
		if(pInfoheight.scrollHeight > 500 ){
			moreView.style.height = '500px';
		}
		else{
			$('.more_info_view').hide();
		}
		});
	
	
	
	//상품 정보 더 보기 위한 함수
    function infoMoreview(){
        let moreView = document.getElementById('p_info_img');
        let infoBtn = document.getElementById('more_info_view_btn');
        let whiteBox = document.getElementById('white_box');
		
		
		// getComputedStyle을 사용하여 현재 요소의 모든 CSS 속성을 가져옴
		// 이는 CSS 파일이나 외부 스타일시트에서 설정된 스타일도 포함

		let computedStyle = getComputedStyle(moreView);
		// 현재 높이를 가져옴
		let currentHeight = computedStyle.height;
		if(currentHeight == '500px'){
            moreView.style.height = '100%';
			whiteBox.style.display = 'none';
            infoBtn.value = '상세정보 접기';
        }
        else{
            moreView.style.height = '500px';
			whiteBox.style.display = 'block';
            infoBtn.value = '상세정보 펼쳐보기';
        }
    }
	
	function qnaBtn(){
		
		let loginUser = /*[[${loginUser}]]*/ '';
		let loginSeller = /*[[${loginSeller}]]*/ '';
		let loginOrg = /*[[${loginOrg}]]*/ '';
		let loginManager = /*[[${loginManager}]]*/ '';
		
		if (!loginUser) {
			if(!loginSeller && !loginOrg && !loginManager){
			    alert("로그인 후 이용해 주세요.");
				
			}
			else{
			    alert("사용자로 로그인 후 이용해주세요");
			}
			
			const loginUrl = "/user/login";
			window.location.href = loginUrl; 
			return;
		}
		
		let qnaTextarea = document.getElementById('qna_contents');
		
		let qnaStyle = getComputedStyle(qnaTextarea);
		let qnaDisplay = qnaStyle.display;
		
		if(qnaDisplay == 'none'){
			qnaTextarea.style.display = 'block';
		}
		else{
			qnaTextarea.style.display = 'none';
		}
	}
	
	function qnaSubmit(){
		let productnum = document.getElementById('qna_productnum').value;
		let userid = document.getElementById('userid').value;
		let question = document.getElementById('qna_content').value;
		let qnaTextarea = document.getElementById('qna_contents');
		if(question == ""){
			alert("내용을 입력해주세요.");
			document.getElementById('qna_content').focus;
			return;			
		}
		
		let data = {
			productnum: productnum,
			userid: userid,
			question: question
		};
		
		$.ajax({
			type: "POST",
			url:"/qna/regist",
			data: JSON.stringify(data),
			contentType: "application/json;charset=utf-8",
			success: function(result, status, xhr){
				console.log(result);
				console.log(result.qnaregdate);
				//성공했을때 돔으로 qna만들어 주기
				alert("Q&A 등록에 성공하셨습니다.");
				document.getElementById('qna_content').value = '';
				qnaTextarea.style.display = 'none';
				let productnum = result.productnum;
				let loginUser = document.getElementById('userid').value;
				let qnanum = result.qnanum;
				let question = result.question;
				let qnaregdate = result.qnaregdate == null ? '지금' :	 result.qnaregdate;
				let answer = result.answer == null ? '아직 답변이 작성되지 않았습니다.' : result.answer;
				let answerCheck = result.answer == null ? '답변미완료' : '답변완료';
				let userid = result.userid;
				
				let qnaresult = `
				<div class="p_qna_cont_box">
					<ul class="p_qna_cont">
						<li class="p_qna_cont_list">
							<div class="p_qna_simple">
								<div><span>${answerCheck}</span></div>
								<div>
									<a href="javascript:void(0);" onclick="toggleDetail(this);">
										<span>${question}</span>
									</a>
								</div>
								<div><span>${userid}</span></div>
								<div><span>${qnaregdate}</span></div>
							</div>
							<div id="p_qna_detail_box">
								<div class="p_qna_detail">
									<div></div>
									<div><span>${question}</span></div>
									<div><span>${userid}</span></div>
									${loginUser == userid ? `
									<div class="p_qna_modify">
										<a href="#" class="modifyQna" id="modifyQna" >수정</a>
										<a href="/qna/delete?qnanum=${qnanum}&productnum=${productnum}" id="deleteQna">삭제</a>
									</div>` : `
									<div></div>`}
								</div>
								<div class="p_qna_detail answer">
									${result.answer == null ? `
									<div><span></span></div>
									<div style="text-align: center"><span style="font-weight: bold;">아직 답변이 작성되지 않았습니다.</span></div>
									<div><span></span></div>
									<div><span></span></div>` : `
									<div><span>판매자 답변</span></div>
									<div><span>${answer}</span></div>
									<div><span>판매자</span></div>
									<div><span></span></div>`}
								</div>
							</div>
							<div class="qna_modify" id="qna_modify">
								<input type="hidden" name="qnanum" id="qnanum" value="${qnanum}">
								<textarea placeholder="${question}" class="qna_modify_content" id="qna_modify_content"></textarea>
								<div class="qna_modify_submit_box">
									<input type="button" value="수정완료" class="qna_modify_submit" id="qna_modify_submit" onclick="qnaModifySubmit()">
									<input type="button" value="수정취소" class="qna_modify_cancel" id="qna_modify_cancel" onclick="qnaModifyCnacel()">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>`;
			
			$('.p_qna_list').prepend(qnaresult);
			},
			error: function(xhr, status, xhr){
				console.log("실패");			
			}
		});
	}
	
	//Q&A 삭제 눌렀을 때
	$(document).on('click', '#deleteQna', function(e) {
	    e.preventDefault();
	    const url = $(this).attr('href');
		console.log(url)
	    if (confirm("Q&A를 삭제하시겠습니까?")) {
	        window.location.href = url;
	    }
	});
	
	//Q&A 수정 눌렀을때
	$(document).on('click', '#modifyQna', function(e){
		e.preventDefault();
		let qnaDetail = document.getElementById('p_qna_detail_box');
		let qnaModify = document.getElementById('qna_modify');
		
		qnaDetail.style.display = 'none';
		qnaModify.style.display = 'block';
	});
	
	//Q&A 수정완료 눌렀을때
	$(document).on('click', '#qna_modify_submit', function(e){
		//수정완료시 수정 text 내용 비워주고 display=none 해주기
		let qnaModify = document.getElementById('qna_modify');
		let qnaTextarea = document.getElementById('qna_modify_content');
		
		let qnanum = document.getElementById('qnanum').value;
		let question = document.getElementById('qna_modify_content').value;
		
		
		if(question == ""){
			alert("내용을 입력해주세요.");
			document.getElementById('qna_modify_content').focus;
			return;			
		}
		
		let data = {
			qnanum: qnanum,
			question: question
		};

		$.ajax({
			type: "POST",
			url:"/qna/modify",
			data: JSON.stringify(data),
			contentType: "application/json;charset=utf-8",
			success: function(result, status, xhr){
				console.log(result);
				alert("Q&A 수정에 성공하셨습니다.");
				let productnum = document.getElementById('qna_productnum').value;
				document.getElementById('qna_modify_content').value = '';
				qnaModify.style.display = 'none';
				window.location.href = `/store/productView?productnum=${productnum}`;
			},
			error: function(xhr, status, xhr){
				alert("Q&A 수정에 실패하셨습니다.");		
			}
		});				
		
	});
	
	window.addEventListener('scroll', function(){
	    var btn_gotop = document.querySelector('.btn_gotop'); // btn_gotop 요소를 선택
	    if(this.scrollY > 200) {
	        btn_gotop.style.display = 'block'; // 스크롤 위치에 따라 보이게 설정
	    }
	    else{
	        btn_gotop.style.display = 'none'; // 스크롤 위치에 따라 숨김
	    }
	});
	
	var Top = document.getElementById('click'); // click 요소를 선택
	Top.addEventListener('click', function(e){
	    e.preventDefault();
	    window.scrollTo({top:0, behavior:"smooth"});
	});
	
	$(document).ready(function() {
				$('#p_rewardList').on('change', function () {
						$('#p_reward-cart-item-1').val(1);
						$('#ProductNum').text(1);
						const selectedOption = $(this).find('option:selected');
						const selectedOptionText = selectedOption.text();
						const selectedCost = selectedOption.data('cost');
						const selectedpAmount = selectedOption.data('pamount');
						
						
						$('#p_selectedOption').text(selectedOptionText);
						$('#p_selectedCost strong').text(selectedCost.toLocaleString() + '원');
						$('#totalProductCost').text(selectedCost.toLocaleString());
			
						$('.ProductDetailSummary_list_cart').show();
			
						$('.ProductDetailRewardCartItem_icon').on('click', function () {
							$('#p_rewardList').val('');
							$('#p_basicOption').prop('selected', true);
							$('.ProductDetailSummary_list_cart').hide();
							$('#totalProductCost').text('0');
							$('#ProductNum').text('0');
						})
										
										
						$('#p_reward-cart-item-1').on('change', function() {
						    let inputNum = parseInt($(this).val());
							if (!isNaN(inputNum) && inputNum > 0) {
						        let selectedpAmount = parseInt($('#p_rewardList option:selected').data('pamount'));
								$('#totalProductCost').text((selectedCost * inputNum).toLocaleString());
						        if (inputNum > selectedpAmount) {
						            alert('재고량을 초과하여 더 이상 선택할 수 없습니다.');
						            $(this).val(selectedpAmount);
						            $('#ProductNum').text(selectedpAmount);
						        } else {
						            $('#ProductNum').text(inputNum);
						        }
						    } else{
						        alert('유효한 숫자를 입력하세요.');
						        $(this).val(1); 
						        $('#ProductNum').text(1);
						    }
						});
								
						let fundingCnt = parseInt($('#p_reward-cart-item-1').val());
						$('#p_plus').on('click', function () {
							console.log(fundingCnt)
											
							$('#p_reward-cart-item-1').val(fundingCnt);
							$('#ProductNum').text(fundingCnt);
							$('#totalProductCost').text((selectedCost * fundingCnt).toLocaleString());
							if (fundingCnt >= selectedpAmount) {
									alert('재고량을 초과하여 더 이상 선택할 수 없습니다.');
									$('#p_reward-cart-item-1').val(selectedpAmount);
									$('#ProductNum').text(selectedpAmount);
									fundingCnt=selectedpAmount;
							}
							else{
									fundingCnt++;
							}
						});
						$('#p_minus').on('click', function () {
							if (fundingCnt > 1) {
								fundingCnt--;
								$('#p_reward-cart-item-1').val(fundingCnt);
								console.log(fundingCnt)
								$('#ProductNum').text(fundingCnt);
								$('#totalProductCost').text((selectedCost * fundingCnt).toLocaleString());
								}
							});
						});
						$('#p_payBtn').click(function () {
								const selectedOption = $('#p_rewardList').val();
								
								if (selectedOption) {
								} else {
								     alert('상품 옵션을 선택해 주세요.');
								}
						});
	    });
		

		$(document).ready(function() {
		    $('#p_payBtn').click(function() {
		        let cost = $('#totalProductCost').text().replace(/,/g, '');
		        let product = $('#p_selectedOption').text();
		        let productCnt = $('#ProductNum').text();
		        let storename = $('#storeName').text();
				
				let loginUser = /*[[${loginUser}]]*/ '';
				let loginSeller = /*[[${loginSeller}]]*/ '';
				let loginOrg = /*[[${loginOrg}]]*/ '';
				let loginManager = /*[[${loginManager}]]*/ '';
				console.log(loginUser);
				console.log(loginSeller);
				
				if (!loginUser) {
					if(!loginSeller && !loginOrg && !loginManager){
					    alert("로그인 후 이용해 주세요.");
						
					}
					else{
					    alert("사용자로 로그인 후 이용해주세요");
					}
					
					const loginUrl = "/user/login";
					window.location.href = loginUrl; 
					return;
				}
		
		        console.log(storename);
		
		        const urlParams = new URLSearchParams(window.location.search);
		        const productnum = urlParams.get('productnum');
		
		        const newUrl = "/store/productPay?productname=" + encodeURIComponent(product) + 
		                           "&cost=" + encodeURIComponent(cost) + 
		                           "&productCnt=" + encodeURIComponent(productCnt) + 
		                           "&storename=" + encodeURIComponent(storename) + 
		                           "&productnum=" + encodeURIComponent(productnum);
		        
		        // get방식으로 페이지이동
		        window.location.href = newUrl;
		    });
		});

</script>
</html>