<!DOCTYPE html>
<html>
<head>
   <script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>   
   <link rel="stylesheet" href="/css/header_footer.css">
   <link rel="stylesheet" href="/css/receipt.css">
</head>
<body>
   <!-- header -->
   <th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
   <!-- 컨텐츠 -->
   <div class="wrap receipt">
      <div class="content">
         <div class="payementTit">
            <h2>[[${user.username}]]님</h2>
            <h2><strong>구매 감사합니다.</strong></h2>
            <h2><strong>구매 예약 완료</strong>되었습니다.</h2>
         </div>
         <div class="paymentInfo">
            <p>고객님이 <strong>GivuLuv 주식회사</strong>에서 danal 결제 서비스를 통해 구매하신 내역입니다.</p>
            <h3>결제정보</h3>
            <table id="payTbl">
               <tr>
                  <th>구매자명</th>
                  <td>[[${user.username}]]</td>
               </tr>
               <tr>
                  <th>상점 이름</th>
                  <td>[[${storename}]]</td>
               </tr>
               <tr>
                  <th>상품명</th>
                  <td>[[${product.productname}]]</td>
               </tr>
               <tr>
                  <th>주문갯수</th>
                  <td>[[${spayment.amount}]]개</td>
               </tr>
               <tr>
                  <th>주문번호</th>
                  <td>[[${spayment.paymentnum}]]</td>
               </tr>
               <tr>
                  <th>결제일시</th>
                  <td>[[${spayment.paydate}]]</td>
               </tr>
            </table>
            <div class="payCost">
               <h2>결제 금액</h2>
               <span>[[${spayment.sCost}]] 원</span>
            </div>
            <div class="backtoDontion">
               <input type="button" value="마이페이지로 돌아가기" onclick="location.href='/mypage'">
            </div>
         </div>
      </div>
   </div>
   <!-- footer -->
   <th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>

</html>
