<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>storeview</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/storeview.css">
	<link rel="stylesheet" href="/css/sBoard.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<div class="sv_wrap">
	    <div class="store_info_tit">
	        <div class="storeImg">
	            <img th:src="@{'/summernoteImage/' + ${mainimg}}" alt="">
	        </div>
	        <div class="storeName">
	            <h1>[[${stdto.sName}]]</h1>
	            <h2>[[${sidto.sSummary}]]</h2>
	        </div>
	    </div>
	    <div class="store_info">
	        <div class="storeContent">
	            <div class="brand">
	                <p>Brand Story</p>
	            </div>
	            <div class="storeContent_txt" id="storeContent_txt">
	                <p class="storeContent_tit">[[${sidto.sTitle}]]</p>
	                <p class="storeContent_con">[[${sidto.sInfocontent}]]</p>
	            </div>
				<div class="storeContent_img" id="storeContent_img">
				    <ul class="image_slider" id="imageSlider">
				        <th:block th:if="${subimg.size() > 0}">
				            <th:block th:each="img : ${subimg}">
				                <li><img th:src="@{|${img}|}" alt=""></li>
				            </th:block>
				        </th:block>
				    </ul>
				</div>
				<ul class="storeimg_btn" id="storeimg_btn">
				    <!-- 이미지가 2개 이상일 때 만듦 -->
				    <th:block th:if="${subimg.size() > 0}">
				        <th:block th:each="img, iterStat : ${subimg}">
				            <li><button data-index="[[${iterStat.index}]]">[[${iterStat.index + 1}]]</button></li>
				        </th:block>
				    </th:block>
				</ul>
	        </div>
	    </div>
		<div class="store_wrap">
			<div class="store_box">
				<div class="product_item">
					<div class="Product_list">
						<!--맨처음 가게 눌렀을때-->
						<!--th 타임리프로 리스트에 값이 비어있는지 확인-->
						<!--리스트에 값이 없을경우-->
						<th:block th:if="${sBoardList != null and not #lists.isEmpty(sBoardList)}">
							<!--for문 돌면서 가져오기-->
							<th:block th:each="item : ${sBoardList}">
								<div class="product_item_box">
									<!-- 수량이 있을 때 -->
									<div th:if="${item.product.pAmount != 0}" class="item_box">
										<a th:href="${item.product.productnum}" id="store_link" class="get">
											<div class="product_thumbnail">
												<!-- 물품 썸네일 있을 경우 -->
												<img th:if="${item.productFile == null}" src="/images/product.jpg"
													alt="">
												<img th:unless="${item.productFile == null}"
													th:src="@{'/summernoteImage/' + ${item.productFile.systemname}}"
													alt="">
											</div>
											<div class="p_tit_box">
												<p class="product_title" th:text="${item.sBoard.sTitle}"></p>
											</div>
										</a>
									</div>
									<!-- 수량이 없을 때 -->
									<div th:if="${item.product.pAmount == 0}" class="item_box">
										<div id="store_soldout" class="store_soldout">
											<div class="product_thumbnail">
												<!-- 물품 썸네일 있을 경우 -->
												<img th:if="${item.productFile == null}" src="/images/product.jpg"
													alt="">
												<img th:unless="${item.productFile == null}"
													th:src="@{'/summernoteImage/' + ${item.productFile.systemname}}"
													alt="">
											</div>
											<div class="soldout_box">
												<div class="soldout">품절</div>
											</div>
											<div class="p_tit_box">
												<p class="product_title" th:text="${item.sBoard.sTitle}"></p>
											</div>
										</div>
									</div>
									<div class="p_info_box">
										<p class="product_price" th:text="${item.product.cost}+원"></p>
										<!--찜(좋아요) 버튼 만들기-->
										<div class="p_choice_box">
											<input th:if="${item.like == null}" type="button"
												class="product_choice likeimg1"
												th:id="'product_choice'+${item.sBoard.sBoardnum}"
												th:onclick="'likeChoice(' + ${item.sBoard.sBoardnum} + ')'">
											<input th:unless="${item.like == null}" type="button"
												class="product_choice likeimg2"
												th:id="'product_choice'+${item.sBoard.sBoardnum}"
												th:onclick="'likeChoice(' + ${item.sBoard.sBoardnum} + ')'">
										</div>
									</div>
								</div>
							</th:block>
						</th:block>
						<th:block th:if="${sBoardList == null or #lists.isEmpty(sBoardList)}">
							<p>등록된 물품이 없습니다.</p>
						</th:block>
					</div>
				</div>
				<div class="product_moreBtn">
					<input type="button" value="더보기" id="product_more" onclick="">
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<footer>
	<a href="#" class="btn_gotop" id="click">
		<img src="/images/top_img.png">
	</a>
</footer>
<script src="/js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	$('.h_logout').on('click', function () {
		alert("로그아웃되었습니다.")
	})

	$(document).ready(function () {
		// 한 번에 표시할 아이템의 개수 설정
		var itemsPerPage = 20;

		// 아이템의 총 개수
		var totalItems = $('.product_item_box').length;

		// 초기에는 itemsPerPage 개수까지만 표시되도록 설정
		$('.product_item_box:gt(' + (itemsPerPage - 1) + ')').hide();

		// 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
		if (totalItems <= itemsPerPage) {
			$('#product_more').hide();
		}
		$(document).on("click", ".get", function (e) {
			e.preventDefault();
			let productnum = $(this).attr("href");
			console.log(productnum);
			location.href = "/store/productView?productnum=" + productnum;
		})
		$(document).on("click", ".storeGet", function (e) {
			e.preventDefault();
			let storenum = $(this).attr("href");
			location.href = "/store/storeview?storenum=" + storenum;
		})
		// 더보기 버튼 클릭 시
		$(document).on('click', "#product_more", function () {
			// itemsPerPage 개수 만큼 추가로 표시
			$('.product_item_box:hidden').slice(0, itemsPerPage).slideDown();
			// 아직 표시하지 않은 아이템의 개수 갱신
			totalItems -= itemsPerPage;
			// 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
			if (totalItems <= itemsPerPage) {
				$('#product_more').hide();
			}
		});

		//내용 변환
		let content = /*[[${sidto.sInfocontent}]]*/''
		content = replaceString.toDiv(content);
		$(".storeContent_con").html(content);

	});
	
	//이미지 이동
	document.addEventListener("DOMContentLoaded", function () {
	        const buttons = document.querySelectorAll('.storeimg_btn button');
	        const slider = document.getElementById('imageSlider');
	    
	        let currentIndex = 0;
	        const slideInterval = 3000; 
	        let autoSlide;
	    
	        function changeSlide(index) {
	            buttons.forEach(btn => btn.parentElement.classList.remove('slick-active'));
	            buttons[index].parentElement.classList.add('slick-active');
	            const slideWidth = slider.querySelector('li').clientWidth;
	            slider.style.transform = `translateX(${-index * slideWidth}px)`;
	            currentIndex = index;
	        }
	    
	        function startAutoSlide() {
	            autoSlide = setInterval(function () {
	                currentIndex = (currentIndex + 1) % buttons.length;
	                changeSlide(currentIndex);
	            }, slideInterval);
	        }
	    
	        function stopAutoSlide() {
	            clearInterval(autoSlide);
	        }
	    
	        buttons.forEach((button, index) => {
	            button.addEventListener('click', function () {
	                stopAutoSlide();
	                changeSlide(index);
	                startAutoSlide();
	            });
	        });
	    
	        startAutoSlide();
	    });
	
	
	
	// textarea 변환
	const replaceString = {
		toDiv: function (data) {
			//DB에 있는 값을 div에 보여주기
			let result = "";
			result = data.split("//givuluv<enter>givuluv//").join('<br>');
			result = result.split("//givuluv<space>givuluv//").join('&nbsp;');

			return result;
		},
		toDB: function (data) {
			//textarea에 있는 value를 DB에 저장하기

			let result = "";
			result = data.replace(/(?:\r\n|\r|\n)/g, "//givuluv<enter>givuluv//");
			result = result.replace(/ /g, "//givuluv<space>givuluv//")
			return result;
		},
		toTextarea: function (data) {
			//div에 있는 값을 textarea에 보여주기
			let result = "";
			result = data.split("<br>").join('\r\n');
			result = result.split("&nbsp;").join('\ ');

			return result;
		}
	}

	window.addEventListener('scroll', function () {
		var btn_gotop = document.querySelector('.btn_gotop'); // btn_gotop 요소를 선택
		if (this.scrollY > 200) {
			btn_gotop.style.display = 'block'; // 스크롤 위치에 따라 보이게 설정
		}
		else {
			btn_gotop.style.display = 'none'; // 스크롤 위치에 따라 숨김
		}
	});

	var Top = document.getElementById('click'); // click 요소를 선택
	Top.addEventListener('click', function (e) {
		e.preventDefault();
		window.scrollTo({top: 0, behavior: "smooth"});
	});


	//like 만들기
	function likeChoice(sBoardnum) {

		let loginUser = /*[[${loginUser}]]*/ '';
		let loginSeller = /*[[${loginSeller}]]*/ '';
		let loginOrg = /*[[${loginOrg}]]*/ '';
		let loginManager = /*[[${loginManager}]]*/ '';

		if (!loginUser) {
			if (!loginSeller && !loginOrg && !loginManager) {
				alert("로그인 후 이용해 주세요.");

			}
			else {
				alert("사용자로 로그인 후 이용해주세요");
			}

			const loginUrl = "/user/login";
			window.location.href = loginUrl;
			return;
		}


		let like = document.getElementById('product_choice' + sBoardnum);

		if (like.classList.contains('likeimg1')) {
			//좋아요 누르면 insert 보내기
			$.ajax({
				url: '/store/likeChoice',
				type: 'get',
				data: {sBoardnum: sBoardnum},
				dataType: 'text',
				success: function (data) {
					if (data === "O") {
						like.classList.remove('likeimg1');
						like.classList.add('likeimg2');
					} else {
						alert("다시시도해주세요.");
					}
				},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ', status, error);
					console.log(xhr.responseText); // 추가 로그
				}
			});
		}
		else if (like.classList.contains('likeimg2')) {
			//좋아요 다시 누르면 delete 보내기
			$.ajax({
				url: '/store/likeDelete',
				type: 'get',
				data: {sBoardnum: sBoardnum},
				dataType: 'text',
				success: function (data) {
					if (data == "O") {
						like.classList.add('likeimg1');
						like.classList.remove('likeimg2');
					} else {
						alert("다시시도해주세요.");
					}
				},
				error: function (xhr, status, error) {
					console.error('AJAX Error: ', status, error);
					console.log(xhr.responseText); // 추가 로그
				}
			});
		};
	}


</script>

</html>