<!DOCTYPE html>
<html>

<head>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/write.css">
	<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
	<link rel="stylesheet" href="/css/date/daterangepicker.css">
	<link rel="icon" href="/images/기부러브.ico" type="image/x-icon">
</head>
<style>
</style>

<body>
	<th:block th:if="${session.loginSeller == null}">
		<script>
			alert("로그인 후 이용하세요!");
			location.replace("/");
		</script>
	</th:block>
	<div class="container infowritecontainer">
		<!-- 헤더 -->
		<div class="writeheader_box">
			<div class="writeheader">
				<div class="writeheaderleft">
					<img class=logo src="/images/GivuLuv_logo.png" alt="">
					<p>소개 글쓰기</p>
				</div>
				<a href="javascript:storeinfosubmit();" class="btn">등록</a>
			</div>
		</div>

		<!-- 컨텐츠 -->
		<div class="wrap storeinfowrite write infowrite">
			<form method="post" name="storeinfoForm" id="storeinfoForm" enctype="multipart/form-data">
				<div class="option">
					<a href="javascript:thumbnailupload(0)" class="thumbnail_box">
						<div id="thumbnailImg_box">
							<div>
								<input type="file" name="thumbnail" id="thumbnail" style="display:none;"
									accept="image/*">
								<!--<a class="btn" href="javascript:upload(0)">파일 선택</a>-->
							</div>
						</div>
					</a>
					<p style="font-size: 14px; color: red;">출력되는 썸네일의 크기는 1920x500 입니다.</p>
				</div>
				<div class="boxes">
					<table class="textarea_box">
						<tr>
							<th>간략한 소개</th>
							<td>
								<input type="text" class="summary_info" name="sSummary" id="sSummary" placeholder="소개를 간략하게 작성해주세요.">
							</td>
						</tr>
						<tr>
							<th>타이틀</th>
							<td>
								<input type="text" class="title_info" name="sTitle" id="sTitle" placeholder="소개 글의 타이틀을 작성해주세요.">
							</td>
						</tr>
						<tr>
							<th>소개 및 하고싶은 말</th>
							<td>
								<textarea class="content_info" id="content" placeholder="소개 글을 작성해주세요."></textarea>
								<input type="hidden" name="sInfocontent" id="sInfocontent">
							</td>
						</tr>
					</table>
				</div>
				<table class="imgfile_box">
					<tr>
						<th>
							<p>소개에 필요한 사진을 한 장 이상 등록해주세요.</p>
							<p style="font-size: 14px; color: red;">출력되는 사진의 크기는 1140x520 입니다.</p>
						</th>
					</tr>
					<tr class="r0">
						<td class="file0_cont">
							<a class="file_upload file0_upload" href="javascript:upload(0)">
								<div>
									<input type="file" class="file" name="files" id="file0" style="display:none">
								</div>
							</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/js/infowrite.js"></script>
<script>
	$(document).ready(function() {
	  $('textarea').on( 'keydown', function (e){
	    $(this).css('height', 'auto');
	    $(this).height(this.scrollHeight);
	  });
	  $('textarea').keyup();
	});

</script>

</html>