<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>funding</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/fBoard.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
    <div class="funding_wrap">
        <div class="funding_box">
            <div class="fundingBanner_wrap">
				<aside id="banner_box" class="banner_box">
					<div class="prev"><i class="fa-solid fa-arrow-left fa-2xl"></i></div>
					<div class="banner_slide_box">
						<div id="slide_banner" class="slide_banner">
							<div id="banner0" class="banner">
								<a href="#"><img src="/images/펀딩배너1.jpg"
										alt="banner1"></a>
							</div>
							<div id="banner1" class="banner">
								<a href="#"><img
										src="/images/펀딩배너2.jpg"
										alt="banner2"></a>
							</div>
							<div id="banner2" class="banner">
								<a href="#"><img src="/images/펀딩배너3.jpg"
										alt="banner3"></a>
							</div>
						</div>
					</div>
					<div class="next"><i class="fa-solid fa-arrow-right fa-2xl"></i></div>
				</aside>
				</div>
            </div>
			<div class="funding_cont">
				<div class="funding_filter">
					<div class="fundingContent_select_wrap">
						<div class="SelectArea_select_area" style="visibility: visible;">
							<select class="SelectArea_select_list" aria-haspopup="listbox" aria-expanded="false">
								<option value="LATEST" selected>최신 순</option>
								<option value="PARTICIPATION_AMOUNT">참여금액 순</option>
								<option value="PARTICIPATION_RATE">참여율 순</option>
								<option value="END_APPROACH">종료 임박 순</option>
							</select>
						</div>
					</div>
				</div>
	            <div class="funding_item">
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블 리무버블 리무버블 리무버블 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	                </div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	                <div class="funding_item_box">
	                    <a href="/funding/fundingView" id="funding_link">
							<div class="funding_thumbnail">
								<img src="/images/product.jpg">
							</div>
							<div class="tit_cont">
		                        <div class="f_tit_box">
		                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
									<p class="funding_name">신이어마켓</p>
		                        </div>
								<div class="f_percent">
									<span class="blind">달성률</span>
									<span class="FundingCard_num">76</span>%
								</div>
							</div>
	                    </a>
	                    <div class="funding_info_box">
							<div class="fundingDDay">
								<i class="fa-solid fa-calendar-days"></i>
		                        <p id="dday">D-10</p>
							</div>
							<div class="priceBox">
								
		                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
							</div>
	                    </div>
	        		</div>
	            <div class="funding_moreBtn">
	                <input type="button" value="더보기" id="funding_more" onclick="">
	            </div>
	    </div>
			</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	$(document).ready(function() {
	            const itemsPerPage = 20;
	            const totalItems = $('.funding_item_box').length;
	            $('.funding_item_box').slice(itemsPerPage).hide();
	
	            if (totalItems <= itemsPerPage) {
	                $('#funding_more').hide();
	            }
	
	            $('#funding_more').click(function() {
	                const hiddenItems = $('.funding_item_box:hidden');
	                hiddenItems.slice(0, itemsPerPage).show();
	
	                if (hiddenItems.length <= itemsPerPage) {
	                    $('#funding_more').hide();
	                }
	            });
				
				const slidelength = $(".banner img").length; //banner list의 길이
				let currentIndex = 0
				const moveSlide = function(num){
					$(".slide_banner").attr("style",`transform:translateX(${-num * 2200}px)`)
					currentIndex = num;
				}
				$(".prev").on("click",function(num){
					if(currentIndex !== 0){
						moveSlide(currentIndex-1)
					}
				});
				$(".next").on("click",function(num){
					if(currentIndex !== slidelength-1){
						moveSlide(currentIndex+1)
					}
				});
				setInterval(()=>{
				       if(currentIndex !== slidelength -1){
					       moveSlide(currentIndex +1);
				       } else {
				           moveSlide(0);
				       }
				}, 2500)
	        });
</script>
</html>