<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>funding</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/fBoard.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
    <div class="funding_wrap">
        <div class="funding_box">
            <div class="funding_category">
                <ul class="funding_category_list">
                    <li class="funding_category_item">
                        <a href="/funding/product_a" class="funding_product">
                            <img src="/images/store_icon.png" alt="">
                            전체
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_b" class="funding_product">
                            <img src="/images/food_icon.png" alt="">
                            식품
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/store/product_c" class="funding_product">
                            <img src="/images/tea_icon.png" alt="">
                            음료/건강
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_d" class="funding_product">
                            <img src="/images/book_icon.png" alt="">
                            문구/문화
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_e" class="funding_product">
                            <img src="/images/living-icon.png" alt="">
                            인테리어
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_f" class="funding_product">
                            <img src="/images/daily_necessities_icon.png" alt="">
                            생활
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_g" class="funding_product">
                            <img src="/images/conmetics_icon.png" alt="">
                            미용
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_h" class="funding_product">
                            <img src="/images/dog_icon.png" alt="">
                            반려동물
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_i" class="funding_product">
                            <img src="/images/plant_icon.png" alt="">
                            식물/꽃
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_j" class="funding_product">
                            <img src="/images/clothes_icon.png" alt="">
                            의류
                        </a>
                    </li>
                    <li class="funding_category_item">
                        <a href="/funding/product_k" class="funding_product">
                            <img src="/images/accessories_icon.png" alt="">
                            패션잡화
                        </a>
                    </li>
                </ul>
            </div>
            <div class="funding_item">
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블 리무버블 리무버블 리무버블 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                <div class="funding_item_box">
                    <a href="/funding/fundingView" id="funding_link">
						<div class="funding_thumbnail">
							<img src="/images/product.jpg">
						</div>
						<div class="tit_cont">
	                        <div class="f_tit_box">
	                            <p class="funding_title">할미할배 손글씨 손그림 리무버블</p>
								<p class="funding_name">신이어마켓</p>
	                        </div>
							<div class="f_percent">
								<span class="blind">달성률</span>
								<span class="FundingCard_num">76</span>%
							</div>
						</div>
                    </a>
                    <div class="funding_info_box">
						<div class="fundingDDay">
							<i class="fa-solid fa-calendar-days"></i>
	                        <p id="dday">D-10</p>
						</div>
						<div class="priceBox">
							
	                        <p class="funding_price"><i class="fa-solid fa-won-sign"></i> 15000원</p>
						</div>
                    </div>
                </div>
                
        </div>
            <div class="product_moreBtn">
                <input type="button" value="더보기" id="product_more" onclick="">
            </div>
    </div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
</html>