<!DOCTYPE html>
<html>

<head>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/campaignList.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
	<div class="wrap campaignList mt">
		<div id="Board(boardnum)" class="orgBoard board">
			<div class="boardHeader">
				<div class="mainHeader">
					<a href="#" class="profile">
						<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
						<p>단체 이름</p>
					</a>
					<p>2주전</p>
				</div>
				<a href="javascript:follow(orgid)">팔로우</a> <!--if문으로 팔로우 돼있으면 안 보이게 / 팔로우 누르면 DB에 넣고 팔로우 안 보이게-->
			</div>
			<a href="javascript:modal(boardnum)">
				<div class="contents">
					내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용
				</div>
			</a>
			<div class="boardFooter">
				<div class="hashtag">
					<p>동물</p>
				</div>
				<div class="btn_box">
					<a href="javascript:addLike(boardnum)" id="addLike(boardnum)" class="addLike"><i
							class="fa-regular fa-heart"></i></a>
					<!--<a href="javascript:cancelLike(boardnum)" id="addLike(boardnum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
					<a href="javascript:copyLink(boardnum)"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
			<div class="modal_box"> <!-- 모달 창 밖에 누르면 모달 없어짐 -->
				<div class="modal">
					<div class="modalBoard">
						<div class="boardHeader">
							<div class="mainHeader">
								<a href="#" class="profile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>단체 이름</p>
								</a>
								<p>2주전</p>
							</div>
							<a href="javascript:follow(orgid)">팔로우</a>
							<!--if문으로 팔로우 돼있으면 안 보이게 / 팔로우 누르면 DB에 넣고 팔로우 안 보이게-->
						</div>
						<a href="javascript:modal(boardnum)">
							<div class="contents">
								내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용<br>내용
							</div>
						</a>
						<div class="boardFooter">
							<div class="hashtag">
								<p>동물</p>
							</div>
							<div class="btn_box">
								<a href="javascript:addLike(boardnum)" id="addLike(boardnum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelLike(boardnum)" id="addLike(boardnum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
								<a href="javascript:copyLink(boardnum)"><i
										class="fa-solid fa-arrow-up-right-from-square"></i></a>
							</div>
						</div>
					</div>
					<div class="replybox">
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
						<div class="reply">
							<div class="replyHeader">
								<a class="replyprofile">
									<img src="/summernoteImage/202405221023256949ed58d39-11cf-4eb5-bab3-0a9a7b59ab73.png">
									<p>유저 이름</p>
								</a>
								<a href="javascript:addReplyLike(replynum)" id="addReplyLike(replynum)" class="addLike"><i
										class="fa-regular fa-heart"></i></a>
								<!--<a href="javascript:cancelReplyLike(replynum)" id="addLike(replynum)" class="cancelLike"><i style="color:rgb(255, 128, 194)" class="fa-solid fa-heart"></i></a>-->
							</div>
							<div class="replydetail">
								sadfasdfasdfasdfasdfasfsadfasdfasdfas<br>afsdfasdf
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managerBoard">
		<p>매니저</p>
		<div class="cBoard_box">
			보드

		</div>
		<div>
			좋아요 / 링크버튼
			<a href="javascript:addLike" class="like"><i></i></a> <!--javascript:cancelLike-->
			<a href="javascript:copyLink"><i></i></a>
		</div>
		<div>
			<p>더보기</p>
		</div>
		<div class="modal">
			모달 : 상세페이지 / 댓글

		</div>
	</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="/js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
	$('.h_logout').on('click', function () {
		alert("로그아웃되었습니다.")
	})
</script>

</html>