@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* header css 시작 */
* {
    padding: 0;
    margin: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.header_wrap{
    width: 100%;
    height: 80px;
    margin-top: 15px;
}
.h_gnb{
    width: 1340px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}
.h_logobox{
    width: 365px;
    height: 80px;
    display: flex;
}
.h_logobox .h_logo{
    width: 90px;
    height: 80px;
    border-radius: 50%;
}
.h_logobox .h_logo img{
    width: 90px;
    height: 80px;
}
.h_logobox .h_tit{
    width: 140px;
    height: 40px;
    margin: 20px 0;
}
.h_logobox .h_tit p{
    font-family: 'TTLaundryGothicB';
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    color: rgb(231, 112, 151);
}

.h_gnb_menu{
    width: 640px;
    height: 80px;
}
.gnb_menu ul{
    display: flex;
}
.gnb_menu ul li {
    width: 160px;
    text-align: center;
    line-height: 80px;
    padding: 0 30px;
}
.h_menu{
    color: rgb(90, 90, 90);
    font-size: 25px;
    font-family: 'TTLaundryGothicB';
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.h_menu:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background: rgb(231, 112, 151);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(10px);
}

.h_menu:hover:after, .h_menu:focus:after {
    opacity: 1;
    transform: translateY(0px);
}

.h_menu:hover, .h_menu:focus{
      color: rgb(231, 112, 151);
  }

.h_user_box{
    width: 100px;
    height: 80px;
    margin-left: 150px;
}
.h_user{
	position: relative;
    height: 80px;
}
.submenu{
	text-align:right;
}

.h_user .h_login,
.h_user .h_logout{
    width: 80px;
    height: 30px;
    margin: 25px 10px;
    border-radius: 40px;
    background-color: rgb(220, 220, 220);
    text-align: center;
    line-height: 30px;
    font-family: 'KCC-Hanbit';
    color: rgb(70, 70, 70);
    font-weight: 100;
    font-size: 14px;
    float: right;
    position: relative;
}


.h_user .h_login:before,
.h_user .h_logout:before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 1;
    transform: scale3d(0.8, 0.5, 1);
}
  
.h_user .h_login:hover,
.h_user .h_logout:hover {
    background-color: rgb(79, 148, 111);
    color: white;
    font-weight: bold;
}
  
.h_user .h_login:hover, 
.h_user .h_logout:hover {
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    background-color: rgb(79, 148, 111);
    color: white;
    font-weight: bold;
    animation: anim-moema-1 0.3s forwards;
}
  
  @keyframes anim-moema-1 {
    50% {
      transform: scale3d(0.8, 0.8, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
.dropdown-menu {
	display: none;
    position: absolute;
    width: 100px;
    top: 70%;
    left: 0%;
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.h_user:hover .dropdown-menu{
	display: block;
	opacity: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
.bell{
	position: absolute;
	z-index: 99;
	top: 3px;
	left: 70px;
	font-size: 36px;
}
#approveCnt{
	z-index: 999;
	position: absolute;
	top: -3px;
	left: 80px;
	max-width: 50px;
	box-sizing: border-box;
	background-color: #f4361e;
	padding: 3px 8px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .04);
	color: white;
}
/* header css 마무리 */

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* footer css 시작 */


.footer{
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.f_sub_line{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
.footer_wrap{
    width: 1340px;
    height: 250px;
    margin: 0 auto;

}
.f_sub_box{
    width: 1340px;
    height: 50px;
    display: inline-flex;
}
.f_notice_box{
    width: 1140px;
    height: 50px;
}
.f_notice_box ul{
    width: 900px;
}
.f_notice_box ul li p, .f_notice_box ul li a {
	font-family: Arial, Helvetica, sans-serif;
}
.f_notice_box ul li p{
    line-height: 50px;
    width: 100px;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.f_notice_box ul li a{
    line-height: 50px;
    font-size: 14px;
    width: 600px;
}

.f_sns_box{
	display: flex;
	align-items: center;
}
.f_sns_box .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4080f4;
    text-decoration: none;
}
.f_sns_box .link:hover{
	color: #fff !important;
	transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

.f_info_box{
    width: 1340px;
    overflow: hidden;
    font-size: 14px;
    color: gray;
}
.f_info_law{
    width: 100%;
    margin: 20px 0;
}
.f_info_law ul li{
	font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(90, 90, 90);
    display: inline;
}
.f_info_law ul li::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #acacac;
    vertical-align: -1px;
    content: "";
}
.f_info_law ul li:first-child:before {
    display: none;
}
.f_info_law ul li a{
	font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
}

.f_info{
    width: 60%;
}
.f_info ul li{
	font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
    display: inline;
    white-space: nowrap;
    line-height: 23px;
}
.f_info ul li::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #acacac;
    vertical-align: -1px;
    content: "";
}
.f_info ul li:first-child:before, .f_info ul li:nth-child(5):before  {
    display: none;
}

.f_copyright{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(90, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
}

.f_copyright a{
    color: #e77097;
    font-size: 20px;
    margin-right: 10px;
    font-family: 'TTLaundryGothicB';
}
.f_copyright p span{
	font-family: Arial, Helvetica, sans-serif;
}
/* footer css 마무리 */