/* 공통 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
   margin: 0;padding: 0;
   font-family: 'TTLaundryGothicB';
}
input{
    cursor:pointer;
}
ul, ol, li{ list-style: none; }
table, tr, th, td{
    border-collapse: collapse;
    vertical-align: middle;
}
a{
   text-decoration: none;
   background-color: transparent;
   color: #424242;
}
img{
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
   -webkit-user-drag:none;
   -khtml-user-drag:none;
   -moz-user-drag:none;
   -o-user-drag:none;
   user-select:none;
}
.hdd{ display: none !important; visibility: hidden !important; }
.wrap{
   width: 1340px;
   margin: 0 auto
}


/* index */
section > a> h2{
   font-size: 40px;
   color: #333;
}
.space-between{
   display: flex;
   justify-content: space-between;
}
.row{
   display: flex;
   justify-content: center;
}
.column{
   display: flex;
   flex-direction: column;
}
.right{
   display: flex;
   justify-content: right;
}
.left{
   display: flex;
   justify-content: left;
}
.column_center{
   display: flex;
   align-items: center;
}
.mt{
   margin-top: 100px;
}
.mb{
   margin-bottom: 100px;
}



/* 소개 */
.intro{
   padding: 40px;
}
.intro h1{
   font-size: 40px;
   text-align: center;
   color: #333;
}
.intro h1:first-child{
   margin-bottom: 15px;
}



/* 배너 */
.banner_box{
   display: flex;
   justify-content: center;
   align-items:center;
}
.banner_slide_box{
   overflow: hidden;
   width: 1000px;
   height: 430px;
   margin: 40px;
   border-radius: 30px;
}
.slide_banner{
   width: 100000000000px;
   transition: 0.5s;
}
.banner{
   float: left;
   margin: 0 200px;
}
.banner:first-child{
   margin-left:0;
}
.banner:last-child{
   margin-right:0;
}
   /* 배너 버튼 */
.prev, .next{
   width: 20px;height: 20px;
   padding: 20px;
   border-radius:50%;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
.prev:hover, .next:hover{
   background-color: rgb(231, 112, 151);
   color: white;
}



/* 실시간 누적 기부금 */
.live_luv_box{
   background: linear-gradient(to right, rgb(231, 112, 151) 0%, rgb(237, 150, 179) 100%);
   justify-content: space-evenly;
   align-items: end;
   padding: 40px 180px;
}
.live_luv_box > div{
   width: 25%;
}
.live_luv_box > div:first-child{
   width: 200px;
}
.live_luv_box > div:first-child > h2{
   font-size: 40px;
}
.live_luv_box h2, .live_luv_box p, .live_luv_box span{
   color: white;
}
.live_luv_box > div p{
   font-size: 25px;
}
.live_luv_box > div > div > p > span{
   font-size: 40px;
   margin-right:10px;
}



/* 기부 */
.donations{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.donation{
   width: 250px;
   height: 300px;
   background-color: rgb(231, 112, 151);
   margin: 10px 0;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: #999 0 0 2px;
}
.donation_animation{
   animation-name: donation_down;
   animation-duration: 1s;
   animation-direction: normal;
   animation-fill-mode:forwards
}


@keyframes donation_down{
   0%{
      
   }
   100%{
      transform: translateY(120px);
   }
}


.no-donation{
   width: 250px;
   height: 300px;
   margin: 10px 0;
}

.donation_info_box{
   width: 100%;
   position: absolute;
   bottom: 0px;
   height: 120px;
   background-color: #4447;
   color: rgb(242, 242, 242);
}

.donation_info_header{
   padding: 7px;
   height: 70px;
   margin-bottom: 10px;
   position: relative;
}
.donation_title{
   font-size: 22px;
   height: 50px;
   margin-bottom: 2px;
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* 출력하고 싶은 줄 갯수 */
   -webkit-box-orient: vertical;
}
.donation_D-day{
   position: absolute;
   right: 7px;
}

.row_graph{
   width: 96%;
   height: 7px;
   margin: 5px auto;
   background-color: rgba(200, 200, 200, 0.7);
   box-shadow: #333 0 0 1px;
   border-radius: 30px;
}
.donation_amount{
   height: 7px;
   background-color: rgb(231,112,151);
   position: relative;
   border-radius: 30px;
}
.donation_save_money_box{
   display: flex;
   justify-content: space-between;
   margin: 5px;
}


/* 펀딩 */
.fundings{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.funding{
   width: 250px;
   height: 320px;
   margin: 10px 0;
   background-color: rgb(231, 112, 151);
   position: relative;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: #999 0 0 2px;
}
.no-funding{
   width: 250px;
   height: 320px;
   margin: 10px 0;
}

.funding_info_box{
   position: absolute;
   bottom: 0px;
   height: 140px;
   background-color: white;
   color: #424242;
}

.funding_info_header{
   padding: 7px;
   height: 70px;
   margin-bottom: 10px;
   position: relative;
}
.funding_title{
   font-size: 18px;
   height: 50px;
   margin-bottom: 2px;
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* 출력하고 싶은 줄 갯수 */
   -webkit-box-orient: vertical;
}
.funding_market{
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
   color: #999;
}
.funding_D-day{
   margin: 5px 0;
}
.funding_save_money{
   color: rgb(231, 112, 151);
   font-size: 20px;
}
.funding_chart {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 0.3s;
  background:lightgray;
  display:inline-block;
  margin-right: 10px;
}
.funding_save_money_percent{ /* 가상선택자는 도넛 모양을 만들기 위함이다.*/
  background: #fff;  /* 백그라운드 컬러로 중앙가리기 */
  position: absolute;
  top:50%; left:50%;
  width:65px; height:65px; /* 도넛의 너비 설정 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: #424242;
  text-align: center;
  line-height: 65px;
  user-select: none;
  font-size: 18px;
}
.funding_chart-bar{
  width: inherit;
  height: inherit;
  border-radius: 50%;
}


/* 가게 */
.stores{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.store{
   width: 250px;
   height: 320px;
   margin: 10px 0;
   background-color: rgb(231, 112, 151);
   position: relative;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: #999 0 0 2px;
}
.no-store{
   width: 250px;
   height: 320px;
   margin: 10px 0;
}

.store_info_box{
   width: 100%;
   position: absolute;
   bottom: 0px;
   height: 140px;
   color: #424242;
   background-color: white;
}
.store_profile, .store_info_footer{
   padding: 5px 7px;
   position: relative;
}
.store_profile{
   display: flex;
   align-items: center;
}
.store_profile > img{
   border-radius: 50%;
   margin-right: 10px;
}
.store_name{
   color: #484848;
   font-size: 18px;
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
}
.store_title{
   font-size: 18px;
   height: 50px;
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* 출력하고 싶은 줄 갯수 */
   -webkit-box-orient: vertical;
}
.product_price{
   color: rgb(231, 112, 151);
   font-size: 20px;
   border-top: 1px solid #999;
   padding: 4px;
}

.org_profile{
   width: 200px;
   height: 240px;
   margin-right: 50px;
}
.org_img{
   border-radius: 50%;
}




.org_rolling { 
  display: flex; 
  overflow: hidden;
}
.orgs { 
   display: flex;
    justify-content: space-between; 
}
.org_profile{ 
   width: 180px; 
   height: 240px;
    margin: 10px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.org_profile:nth-child(even) {
   margin-top: 80px;
}
.org_name {
   color: #444;
   margin-top: 10px;
   font-size: 18px;
    line-height: 1.2;
   overflow: hidden;
   word-break: break-word;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* 출력하고 싶은 줄 갯수 */
   -webkit-box-orient: vertical;
}
.orgs.original {
   animation: rollingleft1 33s linear infinite;
}
.orgs.clone {
   animation: rollingleft2 33s linear infinite;
}

@keyframes rollingleft1 {
   0% { transform: translateX(0); }
   50% { transform: translateX(-100%); }
   50.01% { transform: translateX(100%); }
   100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
   0% { transition: translateX(0); }
   100% { transform: translateX(-200%); }
}
