body{
	background-color: #f1f1f1;
}
.backPage{
	color: rgb(79,148,111);
	cursor: pointer;
}
.join{
	position: relative;
    max-width: 600px;
    min-height: 650px; 
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid lightgrey;
}
.content{
	padding: 4rem 3rem 3rem;
}
.join_text{
	text-align: right;
}
.join_text span:nth-child(2){
	color: rgba(0,0,0,0.8);
}
.star{
	color: rgba(255,0,0,0.8);
	font-size: 8px;
	vertical-align: top;
}
.join-input{
	margin-top: 30px;	
}
.join-input-wrap #joinBtn{
	width: 100%;
	height: 50px;
	font-size: 18px;
	border-radius: 5px;
	background-color: rgba(231,112,151,0.5);
	border: none;
	color: #fff;
	margin-top: 50px;
	cursor: pointer;
}
.join-input-wrap #joinBtn:hover{
	background-color: rgb(231,112,151);
}
.join_tbl{
	width: 100%;
}
.join_tbl th{
	text-align: left;
	margin-top: 5px;
	color: rgba(0,0,0,0.7);
}

.join_tbl input{
	width: 100%;
	margin-bottom: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 18px;
}
#id_check{
	margin-bottom: 0;
}
td#btns{
	width: 0;
}
#checkid, #findzipcode{
	border: none;
	border-radius: 5px;
	background-color: rgb(231,112,151);
	color: #f1f1f1;
	font-weight: bold;
	padding: 5px 0;
	font-size: 13px;
	cursor: pointer;
}
.pw_check span{
	display: none;
}
input#userpw{
	margin-bottom: 10px;
}
input#userpw_re{
	margin-bottom: 10px;
}
#pw_checkText{
	margin-bottom: 10px;
	font-size: 13px;
}
.genderBox{
	display: flex;
	justify-content: center;
	list-style: none;
}
.radio_item{
	display: flex;
}
.radio_item #gender{
	margin-right: 20px;
}