@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

.s_view_wrap{
    width: 1340px;
    margin: 0 auto;
}
.view_top{
    width: 1340px;
    height: 100px;
    /* background-color: aqua; */
    position: relative;
}
.top_logo{
    width: 70px;
    height: 70px;
    margin: 15px 0;
    float: left;
}
.top_logo a img{
    width: 80px;
    height: 70px;
    background-size: 70px;
}
.top_mypage{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: right;
    padding-right: 10px;
    float: right;
    font-family: 'TTLaundryGothicB';
}

.store_tit{
    text-align: center;
    height: 150px;
    line-height: 150px;
    font-size: 30px;
    font-family: 'TTLaundryGothicB';
}

.product_box{
    width: 1000px;
    margin: 30px auto;
}

.product_info_box{
    width: 1000px;
   overflow: hidden;
    display: flex;
}
.product_img{
    width: 500px;
    height: 500px;
}
.product_img img{
    width: 500px;
    height: 500px;
    background-size: cover;
}
.product_info{
    width: 500px;
    overflow: hidden;
    padding: 0 50px;
}
.p_name{
    height: 60px;
    font-size: 23px;
    font-family: 'TTLaundryGothicB';
}
.p_cost{
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: right;
    font-family: 'KCC-Hanbit';
}
.p_bonus{
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    height: 100px;
    padding: 35px 0;
    font-family: 'KCC-Hanbit';
    margin-bottom: 10px;
    display: flex;
}
.p_bonus p{
	font-size: 14px;
    width: 250px;
    line-height: 30px;
}
.p_bonus p:last-child{
    width: 150px;
    text-align: right;
}

.p_delivery_info{
    margin: 20px 0 50px;
    height: 30px;
    text-align: right;
    font-size: 12px;
}

.buy_amount{
    height: 160px;
}
.buy_amount_box{
    width: 170px;
    height: 49px;
    border: 2px solid rgb(175, 175, 175);
    display: flex;
    align-items: center;
}
input[type="button"]{
    background-color: lightgray;
    border: none;
}

.del_btn, .add_btn{
    width: 45px;
    height: 45px;
    font-size: 25px;
    cursor: pointer;
}

input[type="text"]{
    border: none;
}

input[type="text"] {
    border: none;
    padding: 0;
    margin: 0; /* 외부 여백 초기화 */
    box-sizing: border-box;
}

#amounts{
    height: 45px;
    width: 80px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

.sumCost{
    height: 90px;
    line-height: 90px;
    display: flex;
}

.sumCost p:first-child{
    width: 100px;
    font-size: 14px;
    color: rgb(80, 80, 80);
    font-family: 'KCC-Hanbit';
}

.sumCost p:last-child{
    width: 300px;
    text-align: right;
    font-size: 14px;
    color: rgb(80, 80, 80);
    font-family: 'KCC-Hanbit';
}

#my_sum{
    font-size: 25px;
    font-family: 'TTLaundryGothicB';
    color: rgb(230, 40, 103);
}

.buy_btn{
    width: 400px;
    height: 50px;
}

.p_btn p{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(79, 148, 111);
    color: white;
    font-family: 'KCC-Hanbit';
    cursor: pointer;
}


/* 상세정보 구간 시작 */

.product_detail_info{
    width: 1000px;
    margin-top: 150px;
}

.product_info_tag{
    width: 1000px;
    height: 50px;
    position: relative;
    background-color: rgb(240,240,240);
}
.product_info_tag ul{
    display: flex;
}
.product_info_tag ul li {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}
.product_info_tag ul li a p{
    font-family: 'KCC-Hanbit';
    width: 250px;
    height: 50px;
    color: #3d3d3d;
}

.product_info_tag ul li::before{
    position: absolute;
    top: 0; left: 0;
    width: 1px;
    height: 25px;
    margin-top: 12.5px;
    background-color: #acacac;
    vertical-align: -1px;
    content: "";
}
.product_info_tag ul li:first-child:before {
    display: none;
}

.warning{
    width: 900px;
    height: 70px;
    margin: 50px auto;
    padding: 0 77px;
    background-color: rgb(252, 244, 234);
    border: 1px solid rgb(228, 216, 202);
    display: flex;
}

.warning div img{
    width: 20px;
    height: 20px;
    margin: 25px 5px ;
}

.warning p {
    line-height: 70px;
    font-weight: bold;
}

.warning p span{
    color: rgb(214, 0, 0);
    font-weight: 1000;
}

.product_detail{
    width: 1000px;
    position: relative;
}
.product_detail strong{
    font-size: 14px;
}
.p_detail_info_box, .p_etc_box{
    width: 1000px;
    height: 80px;
    margin: 10px 0;
}
table{
    border-spacing: 0px;

}

th, td{
    text-align: left;
    font-size: 12px;
    height: 20px;
    padding: 10px 20px;
    border: solid #ededed;
    border-width: 1px 0;
    word-break:break-all;
    color: #6e6e6e;
}

th{
    background-color: #f8f8f8;
}


/* 내용부분 */

.product_detail_img{
    margin-top: 150px;
    width: 1000px;
}
#p_info_img{
    width: 1000px;
    height: 100%;
    object-fit: cover;
    object-position: top;
    font-family: 'TTLaundryGothicB';
    overflow: hidden;
}

.more_info_view{
    width: 1000px;
    height: 150px;
    position: relative;
}
.white_box{
	display: block;
    position: absolute;
    margin-top: -100px;
    width: 1000px;
    height: 100px;
    z-index: 100;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255,255,255));
}
#more_info_view_btn{
    width: 500px;
    height: 50px;
    margin: 100px 250px 0;
    border-radius: 5px;
    font-family: 'TTLaundryGothicB';
    font-size: 18px;
    cursor: pointer;
    color: #505050;
    background-color: rgb(255, 247, 240);
}
#more_info_view_btn:hover{
    box-shadow: 0 0 2px gray;
}

.buy_info{
   width: 1000px;
   margin-top: 100px; 
}
.buy_info strong{
    font-size: 14px;
}
.p_buy_info{
    width: 1000px;
    margin-top: 10px;
}


/* 상품 리뷰 */

.product_review_box{
    margin-top: 100px;
    width: 1000px;
    overflow: visible;
}

.p_review_tit{
    height: 50px;
    display: flex;
    border-bottom: 2px solid gray;
}

.p_review_tit p{
    font-family: 'TTLaundryGothicB';
    width: 500px;
    font-size: 25px;
    color: #505050;
}
.p_review_tit p:last-child{
    text-align: right;
    font-size: 16px;
}

.p_review_view{
    width: 1000px;
    padding: 0 30px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.review_cont{
	font-family: 'KCC-Hanbit';
}
.review_info{
    margin-top: 10px;
    width: 940px;
    height: 30px;
    display: flex;
}
.review_info p{
    width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
}
.review_info p:first-child{
    margin-left: 580px;
    padding-top: 3px;
}
.review_info p:first-child img{
	height: 15px;
	background-size: cover;
}
.review_info p:first-child span{
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
	line-height: 10px;
}
.review_moreBtn{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
}
#review_more{
    width: 100px;
    height: 40px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
}
#review_more:hover{
	border: 1px solid rgba(0,0,0,0.7);
}


/* 상품 Q&A  */

.product_qna_box{
    margin-top: 100px;
    width: 1000px;
    overflow: visible;
}
.qna_tit{
    width: 1000px;
    height: 100px;
    border-bottom: 2px solid gray;
    /* background-color: antiquewhite; */
}
.qna_tit p{
    font-family: 'TTLaundryGothicB';
    width: 500px;
    font-size: 25px;
    color: #505050;
    margin-bottom: 15px;
}

#qnaBtn{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'KCC-Hanbit';
}
#qna_contents{
	display: none;
	width: 1000px;
	height: 200px;
}
.qna_contents textarea{
	width: 1000px;
	height: 150px;
	resize: none;
	padding: 15px;
	outline: unset;
}
.qna_submit_box{
	width: 100px;
	height: 30px;
	margin: 10px auto;
}

.qna_submit{
	width: 100px;
	height: 30px;
	border-radius: 30px;
	cursor: pointer;
}
.qna_submit:hover{
	border: 1px solid black;
}


.p_qna_box{
    width: 1000px;
    overflow: visible;
}

.p_qna_tit{
    height: 40px;
    background-color: #f7f7f7;
    display: flex;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.p_qna_tit div{
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 150px;
}
.p_qna_tit div:nth-child(2){
    width: 550px;
}
.p_qna_cont_box{
    border-bottom: 1px solid rgb(228, 228, 228);
    overflow: visible;
}
.p_qna_cont_list{
    width: 1000px;
}
.p_qna_simple{
    height: 40px;
    display: flex;
}
.p_qna_simple div{
    width: 150px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
}
.p_qna_simple div span{
    width: 150px;
}
.p_qna_simple div:nth-child(2){
    width: 550px;
    text-align: left;
}
.p_qna_simple div:nth-child(2) a{
    width: 550px;
}
.p_qna_simple div:nth-child(2) a:hover span{
    font-size: 12.4px;
    font-weight: bold;
}
.p_qna_simple div:nth-child(2) a span{
    width: 550px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#p_qna_detail_box{
    display: none;
}
.p_qna_detail{
    padding: 15px 0;
    display: flex;
    border-bottom: 1px solid rgb(228, 228, 228);
    align-items: center;
    background-color:#f7f7f7;
}
.p_qna_modify a{
	margin: 0 5px;
	font-family: 'KCC-Hanbit';
}
.p_qna_modify a:hover{
	color:rgb(231, 112, 151);
}
.answer{
    background-color: #ededed;
}
.p_qna_detail div{
    font-size: 13px;
    width: 150px;
    text-align: center;
    position: relative;
}
.p_qna_detail div:nth-child(2) {
    width: 550px;
    text-align: left;
}

.no_qna, .no_review{
    width: 1000px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-family: 'TTLaundryGothicB';
    font-size: 20px;
}

.qna_moreBtn{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
}
#qna_more{
    width: 100px;
    height: 40px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
}
#qna_more:hover{
	border: 1px solid rgba(0,0,0,0.7);
}

.p_rturn{
    width: 1000px;
    margin-top: 100px; 
 }
 .p_return_tit strong{
     font-size: 14px;
 }
 .p_return_guide{
    width: 1000px;
    height: 80px;
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 10px;
 }
 .p_return_guide p:first-child{
    padding: 15px;
    font-weight: bold;
    color: #505050;
 }
 .p_return_guide p:last-child{
    font-size: 12px;
    font-weight: bold;
    color: #505050;
 }
 .p_return_guide p:first-child span{
    color:rgb(79, 148, 111)
 }
 .p_return_info{
     width: 1000px;
     margin-bottom: 100px;
 }
 
 .p_return_infoCont li{
	height: 30px;
	line-height: 30px;
 }
 
 
 #qna_modify{
	display: none;
	width: 1000px;
	height: 200px;
}
.qna_modify textarea{
	width: 1000px;
	height: 150px;
	resize: none;
	padding: 15px;
	outline: unset;
}
.qna_modify_submit_box{
	width: 230px;
	height: 30px;
	margin: 10px auto;
	display: flex;
}
.qna_modify_submit, .qna_modify_cancel{
	width: 100px;
	height: 30px;
	border-radius: 30px;
	cursor: pointer;
}
.qna_modify_submit{
	margin-right: 30px;
}
.qna_modify_submit:hover, .qna_modify_cancel:hover{
	border: 1px solid black;
}

/* 탑버튼 */

.btn_gotop { 
    display: none; 
    position: fixed; 
    bottom: 50px;
    right: 70px;
    z-index: 999; 
    outline: none; 
    cursor: pointer; 
    width: 50px;
    height: 50px;
    border-radius: 100%; 
}

.btn_gotop > img {
	width: 50px;
    height: 50px;
    border-radius: 100%;
	object-fit: cover;
}




ProductReward{
    float: right;
    position: relative;
    width: 350px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-top: 18px;
}
.ProductReward_inner{
	position: relative;
}
.Product_option{
	position: relative;
}
#p_rewardList{
	position: relative;
    width: 100%;
    height: 40px;
    padding-left: 11px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 3px;
    font-size: 14px;
    color: #202020;
    text-align: left;
}
.ProductDetailSummary_list_cart {
	display: none;
    margin-top: 20px;
    border: 1px solid #000;
    border-width: 1px 0;
}
.ProductDetailRewardCartItem_wrap {
    position: relative;
    padding: 18px 0;
}
.ProductDetailRewardCartItem_name {
    display: block;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.36;
    color: #000;
    word-break: break-all;
}
.ProductDetailRewardCartItem_counter{
    position: relative;
    width: 136px;
    margin-top: 10px;
}
.ProductDetailRewardCartItem_input_count {
    display: inline-block;
    height: 38px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.25;
    color: #333;
    text-align: center;
    vertical-align: top;
}
.ProductDetailRewardCartItem_input_count{
    width: 100%;
    padding: 2px 37px 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.ProductDetailRewardCartItem_button_minus {
	position: absolute;
    left: 0;
}
.ProductDetailRewardCartItem_icon_minus {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 34px;
    font-size: 0;
    text-align: center;
    vertical-align: top;
}
.ProductDetailRewardCartItem_icon_minus:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 1px;
    margin-left: 7px;
    background-color: #666;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}
.ProductDetailRewardCartItem_icon_plus {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 34px;
    font-size: 0;
    text-align: center;
    vertical-align: top;
}
.ProductDetailRewardCartItem_button_plus {
	position: absolute;
    right: 0;
}
ProductDetailRewardCartItem_icon_plus:after {
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}
.ProductDetailRewardCartItem_icon_plus:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: #666;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
}
.ProductDetailRewardCartItem_icon_plus:before{
	position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 1px;
    margin-left: 7px;
    background-color: #666;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}
.ProductDetailRewardCartItem_input_amount, .ProductDetailRewardCartItem_input_count {
    display: inline-block;
    height: 38px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.25;
    color: #333;
    text-align: center;
    vertical-align: top;
}
.ProductDetailRewardCartItem_button_delete{
    position: absolute;
    top: 5px;
    right: -15px;
    padding: 15px;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.ProductDetailRewardCartItem_button_delete .ProductDetailRewardCartItem_icon:before {
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.ProductDetailRewardCartItem_button_delete .ProductDetailRewardCartItem_icon:after {
    -ms-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
}
.ProductDetailRewardCartItem_button_delete .ProductDetailRewardCartItem_icon:after, .ProductDetailRewardCartItem_button_delete .ProductDetailRewardCartItem_icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19px;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
}
.ProductDetailRewardCartItem_button_delete .ProductDetailRewardCartItem_icon {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
}
ProductDetailSummary_total{
    margin-top: 21px;
}
.ProductDetailSummary_total .ProductDetailSummary_count {
    float: left;
    margin: 6px 0 0 1px;
    font-size: 14px;
    color: #666;
}
.ProductDetailSummary_total .ProductDetailSummary_amount .ProductDetailSummary_name {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 700;
}
.p_blind{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
.ProductDetailRewardCartItem_amount {
    position: absolute;
    right: 0;
    bottom: 27px;
    font-size: 15px;
}
.ProductDetailSummary_total {
    margin: 21px 0 15px 0;
    display: flex;
    justify-content: space-evenly;
}
.ProductDetailSummary_total .ProductDetailSummary_count {
    float: left;
    margin: 6px 0 0 1px;
    font-size: 14px;
    color: #666;
}
.ProductDetailSummary_total .ProductDetailSummary_amount .ProductDetailSummary_name {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 700;
}
.ProductDetailSummary_total .ProductDetailSummary_amount .ProductDetailSummary_number {
    display: inline-block;
    margin: -2px 1px 0 0;
    font-family: NanumSquareWebFont, dotum, Sans-serif;
    font-size: 27px;
    font-weight: 800;
    line-height: 1.11;
    letter-spacing: -1.1px;
    vertical-align: top;
}
.ProductDetailSummary_total .ProductDetailSummary_amount .ProductDetailSummary_description {
    font-size: 17px;
    line-height: 1.76;
    color: rgb(231, 112, 151);
}
.ProductDetailSummary_total:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}
.ProductDetailSummary_delivery {
    margin: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}
.ProductDetailSummary_delivery .ProductDetailSummary_name:after {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 2px 8px 0;
    background-color: rgba(0, 0, 0, .15);
    vertical-align: top;
    content: "";
}
.ProductDetailSummary_delivery .ProductDetailSummary_name {
    float: left;
    font-size: 14px;
    color: #666;
}
.ProductDetailSummary_delivery .ProductDetailSummary_description {
    display: inline-block;
    font-size: 13px;
    color: #828282;
    vertical-align: top;
}
.ProductDetailSummary_delivery .ProductDetailSummary_delivery_fee{
    overflow: hidden;
    text-align: right;
}
.ProductBtn{
	margin-top: 15px;
	text-align: center;
}
#p_payBtn{
	width: 100%;
	height: 50px;	
	background-color: rgb(231, 112, 151);
	border: none;
	border-radius: 6px;
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.ProductDetail{
	margin: 0 auto;
	width: 1340px;
	padding: 20px 100px;
}
