@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{ box-sizing: border-box; margin: 0; padding: 0; }

ul, li {
    list-style: none;
}
a{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: black; /* 링크의 텍스트 색상을 투명하게 설정 */
}

.store_wrap{
    width: 1340px;
    overflow: hidden;
    margin: 0 auto;
}

.store_category{
    width: 1340px;
    height: 160px;
    margin: 50px 0 30px;
    padding-top: 20px;
}

.store_category_list{
    width: 1270px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.store_category_item{
    display: inline-block;
    width: 110px;
    height: 90px;
    padding: 0 15px;
    text-align: center;
}

.store_product{
    cursor: pointer;
}

.store_product:hover{
	/*font-size: 18px;*/
	font-weight: bold;
	color: rgb(79, 148, 111);
}

.store_product img{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.product_item{
    width: 1340px;
    overflow: hidden;
}

.product_item_box{
    width: 228px;
    overflow: hidden;
    margin: 0 20px 40px;
    float: left;
}
#store_link,
#store_soldout {
    width: 228px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_thumbnail img {
    width: 228px;
    height: 250px;
    object-fit: cover;
}

.soldout_box {
    width: 100%;
    height: 250px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soldout {
    width: 70px;
    height: 30px;
    text-align: center;
    font-family: 'TTLaundryGothicB';
    font-size: 30px;
    color: white;
    line-height: 30px;
    /*background-color: antiquewhite;*/
}

.product_title {
    width: 100%;
    height: 60px;
    padding: 20px 0;
    font-size: 18px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'TTLaundryGothicB';
}

.p_info_box{
    width: 228px;
    height: 50px;
    display: flex;
    margin: 10px 0;
    border-bottom: 1px solid gray;
}
.product_price{
    width: 188px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: 'KCC-Hanbit';
}

.p_choice_box{
    width: 40px;
    height: 40px;
    padding: 5px;
}
 
.product_choice{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: unset;
    background-image: url('../images/heart1_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.seller_link{
    width: 228px;
    height: 70px;
}
.seller_box{
    width: 228px;
    height: 70px;
    display: flex;
}

.seller_thumbnail img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
}

.seller_info{
    width: 155px;
    height: 70px;
    padding: 15px 10px;
}

.store_name{
    width: 135px;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'TTLaundryGothicB';
}

.seller_info p:last-child{
    font-size: 14px;
}

.product_moreBtn{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
}
#product_more{
    width: 100px;
    height: 40px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
}
#product_more:hover{
	border: 1px solid rgba(0,0,0,0.7);
}

/* 탑버튼 */

.btn_gotop { 
    display: none; 
    position: fixed; 
    bottom: 50px;
    right: 70px;
    z-index: 999; 
    outline: none; 
    cursor: pointer; 
    width: 50px;
    height: 50px;
    border-radius: 100%; 
}

.btn_gotop > img {
	width: 50px;
    height: 50px;
    border-radius: 100%;
	object-fit: cover;
}
