/* 폰트 */
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체  */
* {
	box-sizing: border-box;
	font-family: 'KCC-Hanbit';
}
body {
	background-color: #f1f1f1;
}
a, input {
	cursor: pointer;
}
.wrap {
	width: 1000px;
	min-height: 800px;
	padding: 10px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 22% 75%;
	gap: 3%;
}
	
/* left_div (내용 div) */
.left_div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
	/* donation_div (기부금) */
	.donation_div {
		border: 1px solid #e0e0e0;
		width: 100%; height: 200px;
		display: grid;
		grid-template-columns: 50% 50%;
		background-color: white;
	}
	 .my_AmountOfHolding, .total_donation{
		display: grid;
		padding: 20px;
		grid-template-rows: 50% 50%;
	}
	.my_AmountOfHolding {
		border-right: 1px solid #e0e0e0;
	}
	/* 금액 나오는 부분 */
	.my_AmountOfHolding > :nth-child(1),
	.total_donation > :nth-child(1) {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.my_AmountOfHolding > :nth-child(2),
	.total_donation > :nth-child(2) {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-top: 1px solid #e0e0e0;
	}
	/* 버튼 부분 */
	.my_AmountOfHolding > :nth-child(2) > input,
	.total_donation > :nth-child(2) > input {
		font-size: 15px;
		padding: 5px;
		color: white;
		border: none;
		background-color: rgb(231, 112, 151);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	.my_AmountOfHolding > :nth-child(1) > :nth-child(2),
	.total_donation > :nth-child(1) > :nth-child(2)
	 {
		font-size: 30px;
		color: rgb(231, 112, 151);
		
	}
	
	
	/* savings_div (저금 광고(?)) */
	.savings_div {
		border: 1px solid #e0e0e0;
		width: 100%; height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	.savings_div > a {
		width: 100%; height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;		
	}
	.savings_div > a > img {
		width: 50px; height: 50px;
		background-size: cover;
	}
	
	/* myNews_div (내소식 내가 쓴 글들) */
	.myNews_div {
		border: 1px solid #e0e0e0;
		padding: 20px;
		width: 100%px;
		height: 100%;
		display: flex;
		
		flex-direction: column;
		gap: 10px;
		background-color: white;
	}
	/* 내소식 제목 div */
	.myNews_div > :nth-child(1) {
		display: flex;
		justify-content: space-between;
	}
	.myNews_div > :nth-child(1) > :nth-child(1) {
		display: flex;
		align-items: baseline;	
		justify-content: center;
		gap: 5px;
	}
	.myNews_div > :nth-child(1) > :nth-child(1) > span,
	.myNews_div > :nth-child(1) > :nth-child(1) > p
	{
		font-size: 13px;
	}
	.myNews_div > :nth-child(1) > :nth-child(1) > p {
		color: green;
	}
	/* 실제 알림 내용들 */
	.myNews_div > :nth-child(2){
		/*display: flex;*/
		flex-direction: column;
		gap: 30px;
	}
	.myNews_div > :nth-child(2) > div {
		width: 100%; height: 70px;
		padding: 10px;
		border: 1px solid #e0e0e0;
		/*display: flex;*/
		flex-direction: column;
		justify-content: center;
	}
	.myNews_div > :nth-child(2) > div > p{
		text-align: end;
	}
	
		#Trip:hover{
		color: red;
	}
	
	#electronic_receipt{
		/*width: 100px;*/
		float: left;
	}
	
	#electronic_receipt_Dona:hover{
		color: red;
	}
	
	#electronic_receipt_Fund:hover{
		color: red;
	}
	
	#receipt_wrap{
		border: 1px solid red;
	}
	
	#Dona_btn, #Fund_btn{
	width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
	}
	
	#pointDonaLink{
	width: 130px;
    height: 30px;
    border-radius: 20px;
    border: none;
	}
	
	#Dona_btn:hover{
		background-color: rgb(79, 148, 111);
		color: white;
	}
	#Fund_btn:hover{
		background-color: rgb(79, 148, 111);
		color: white;
	}
	#pointDonaLink:hover{
		background-color: rgb(79, 148, 111);
		color: white;
	}
	
	.myNews_div2{
		float: right;
	}
	