@font-face {
     font-family: 'NIXGONM-Vb';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a, a:hover, a:focus, a:active, a:visited, a:target{
	text-decoration: none;
	/*background-color: transparent;*/
	color: #424242;
	user-select: none;
}
.btn{
	padding: 10px;
	border-radius: 20px;
	background-color: rgb(231, 112, 151);
	color: white;
    font-family: 'NIXGONM-Vb';
    font-size: 20px;
    text-align: center;
	cursor: pointer;
	user-select: none;
}
.btn:hover{
	color: white;
}
.btn_option{
	
}

.container{
	width: 90%;
	margin: 0 auto;
}



.logo{
	width: 60px;
	height: 60px;
}

.writeheader{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.writeheaderleft{
	display: flex;
	align-items: center;
	font-family: 'TTLaundryGothicB';
}
.writeheaderleft > p{
	margin: 0;
	font-size: 30px;
	margin-left: 10px;
}

.title{
	border: 0;
	border-bottom: 1px solid #424242;
	font-size: 24px;
	padding: 13px;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.title:focus-visible{
	outline: none;
}

.calendar_box{
	display: inline-block;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 5px solid rgb(255, 128, 192);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.calendar_box > i{
	color: rgb(255, 164, 209);
}


.datetime{
	width: 120px;
	padding: 5px;
	font-size: 20px;
	border-radius: 30px;
	border: none;
	background-color: rgb(255, 164, 209);
	color: white;
	text-align: center;
}
.datetime:hover{
	cursor: pointer;
}

.targetAmount_box{
	margin: 20px 0;
}
.targetAmount_box > i{
	font-size: 24px;
	color: #222;
}
.targetAmount{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
}


/* summernote */
.note-toolbar{
	background-color:  rgba(255, 128, 192, 0.2) !important;
}
.note-resizebar{
	display: none !important;
}
.note-statusbar{
	border-top: none !important;
}