<!DOCTYPE html>
<!--org mypage-->
<html>
<header>
	<meta charset="UTF-8">
	<title>org myhome</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">
	<link rel="stylesheet" href="/css/userMyHome.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/orgMyPageMenu::orgMyPageMenu(loginOrg)}"></th:block>
		<!-- 오른쪽 내용 -->
		<div class="left_div">
			<!---->
			<div class="donation_div">
				<div class="my_AmountOfHolding">
					<div>
						
						<span>판매자 아이디 :</span>
						<span>[[${orginfo.orgid}]]</span>
					</div>
					<div>
						<span>판매자 카테고리 :: </span>
						<span>[[${orginfo.orgcategory}]]</span>
					</div>
				</div>
				<div class="total_donation">
					<div>
						<span>Ceo이름</span>

						<span>[[${orginfo.ceoname}]]</span>
					</div>
					<div>
						<span>판매자 전화번호 :: </span>
						<span>[[${orginfo.orgphone}]]</span>
					</div>
				</div>
			</div>
			<div class="savings_div">
				<a href="#">
					<span></span>
				</a>
			</div>
			<div class="myNews_div">
				<div>
					<div>
						<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 주요 Q&A</h3>
						<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
						<span></span>
						<p>※[[${orginfo.orgname}]] 님의 최근 Q&A 목록입니다.</p>
					</div>
					<a href="#">내 Q&A 정보 보러가기>></a>
				</div>
				<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
				<div>
					<div class="Dona_List" >
						<a id="Dona_Red"><!--[기부활동]--></a><span>org user별 Q&A 구역입니다</span>
						<p id="Name_Time"></p>
					</div>
					<div class="Fund_List" >
						<a id="Fund_Blue"><!--[펀딩활동]--></a><span >	org user별 Q&A 구역입니다</span>
						<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
					</div>
					<div>
						
						<span></span>
						<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<!--<script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>-->


</html>