<!DOCTYPE html>
<html>
<header>
	<meta charset="UTF-8">
	<title>단체유저 Activity_history</title>
	<link rel="stylesheet" href="/css/userMyPageMenu.css">	
	<link rel="stylesheet" href="/css/userMyHome2.css">
	<link rel="stylesheet" href="/css/userMyActivityHistory.css">
	<link rel="stylesheet" href="/css/header_footer.css">
	<!--CSS 추가예정-->
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
</header>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	
	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- 왼쪽 메뉴바 -->
		<th:block th:replace="~{layout/orgMyPageMenu::orgMyPageMenu(orgUser)}"></th:block>
		<!-- 오른쪽 내용 -->
		<div class="left_div">
			<h2 id="acti_title">활동내역</h2>
			<!--<div class="button_div">
				페이지 이동???
				<a href="#"><input type="button" value="게시글 내역"></a>
				<a href="#"><input type="button" value="기부 내역"></a>
				<a href="#"><input type="button" value="펀딩 내역"></a>
				<a href="#"><input type="button" value="가게 내역"></a>
			</div>-->
			<!--<div class="search_div">
			<form name="searchForm" id="searchForm" action="/user/search" method="post">
				<input type="search" id="keyword" name="keyword" placeholder="검색어를 입력하세요">
				<input type="button" value="검색" id="search_btn" onclick="search()">
			</form>
			</div>-->
			<div class="contents_div">
				<!--history에 최초로 들어 왔을떄 뜨는 List-->
				<div class="myNews_div" th:if="${not #lists.isEmpty(d_boardinfo)}" th:each="donationItem : ${d_boardinfo}">
							<div>
								<div>
									<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 최근 기부</h3>
									<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
									<span></span>
									
								</div>
								<!--<a href="#">내 Q&A 정보 보러가기>></a>-->
							</div>
							<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
							<div>
								<div class="Dona_List" >
									<a id="Dona_Red"><!--[기부활동]--></a><span th:text="${donationItem.d_title}"></span>
									<p id="Name_Time"></p>
								</div>
								<div class="Fund_List" >
									<a id="Fund_Blue"><!--[펀딩활동]--></a>목표금액 :: <span th:text="${donationItem.target_amount}"></span>
									<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
								</div>
								<div>
									
									현재금액 ::<span th:text="${donationItem.save_money}"></span>
									<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
								</div>
							</div>
						</div>
				<div class="myNews_div" th:if="${not #lists.isEmpty(f_boardinfo)}" th:each="fundingItem : ${f_boardinfo}">
							<div>
								<div>
									<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 최근 펀드</h3>
									<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
									<span></span>
									
								</div>
								<!--<a href="#">내 Q&A 정보 보러가기>></a>-->
							</div>
							<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
							<div>
								<div class="Dona_List" >
									<a id="Dona_Red"><!--[기부활동]--></a>	<span th:text="${fundingItem.f_title}"></span>
									<p id="Name_Time"></p>
								</div>
								<div class="Fund_List" >
									<a id="Fund_Blue"><!--[펀딩활동]--></a>목표금액 ::<span th:text="${fundingItem.target_amount}"></span>
									<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
								</div>
								<div>
									
									현재금액 ::<span th:text="${fundingItem.save_money}"></span>
									<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
								</div>
							</div>
						</div>
				<div class="myNews_div" th:if="${not #lists.isEmpty(followinfo)}" th:each="followItem : ${followinfo}">
							<div>
								<div>
									<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 팔로우 소식</h3>
									<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
									<span></span>
									
								</div>
								<!--<a href="#">내 Q&A 정보 보러가기>></a>-->
							</div>
							<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
							<div>
								<div class="Dona_List" >
									<a id="Dona_Red"><!--[기부활동]--></a><span>현재 팔로우 수 입니다 </span>
									<p id="Name_Time"></p>
								</div>
								<div class="Fund_List" >
									<a id="Fund_Blue"><!--[펀딩활동]--></a>팔로워 ::<span th:text="${followItem.userid}"></span>
									<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
								</div>
								<div>
									
									현재 팔로워 수 ::<span 	th:text="${followItem.f_amount}"></span>
									<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
								</div>
							</div>
						</div>
				<div class="myNews_div" th:if="${not #lists.isEmpty(reviewinfo)}" th:each="reviewItem : ${reviewinfo}">
							<div>
								<div>
									<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 리뷰 소식</h3>
									<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
									<span></span>
									
								</div>
								<!--<a href="#">내 Q&A 정보 보러가기>></a>-->
							</div>
							<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
							<div>
								<div class="Dona_List" >
									<a id="Dona_Red"><!--[기부활동]--></a>리뷰어 :<span th:text="${reviewItem.userid}"></span>
									<p id="Name_Time"></p>
								</div>
								<div class="Fund_List" >
									<a id="Fund_Blue"><!--[펀딩활동]--></a>올린시간 ::<span th:text="${reviewItem.reviewdate}"></span>
									<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
								</div>
								<div>
									
									별점 ::<span 	th:text="${reviewItem.star}"></span>
									<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
								</div>
							</div>
						</div>
				<div class="myNews_div" th:if="${not #lists.isEmpty(likeinfo)}" th:each="likeItem : ${likeinfo}">
							<div>
								<div>
									<h3><a id="nickname">[[${orginfo.orgname}]]</a> 님의 좋아요 소식</h3>
									<!--로그인한 유저가 참여한 기부 , 펀딩 내역의 수-->
									<span></span>
									
								</div>
								<!--<a href="#">내 Q&A 정보 보러가기>></a>-->
							</div>
							<!--로그인한 유저가 참여한 기부, 펀딩 내역을 출력-->
							<div>
								<div class="Dona_List" >
									<a id="Dona_Red"><!--[기부활동]--></a><span>좋아요 소식입니다</span>
									<p id="Name_Time"></p>
								</div>
								<div class="Fund_List" >
									<a id="Fund_Blue"><!--[펀딩활동]--></a>최근 좋아요 유저 ::<span th:text="${likeItem.userid}"></span>
									<p><!--[[${FundUserName}]] &nbsp; [[${FundTime}]]--></p>
								</div>
								<div>
									
									현재누적 좋아요 ::<span th:text="${likeItem.like_amount}"></span>
									<p><!--차곡차곡 모은 보너스 포인트로 "<a href="#" id="Trip"><strong>해외여행</strong></a>"가자!--></p>
								</div>
							</div>
						</div>
				
				
				
				<!--=================================-->
				<!--사용자가 search를 행했을때 뜨는 list -->
				<!--기부 리스트-->
				<!--<div class="contents" id="d_request" th:if="${not #lists.isEmpty(d_boardtitle)}" th:each="d_boardtitleItem : ${d_boardtitle}">
					
					<img th:src="@{/images/{d_systemnameItem}(d_systemnameItem=${d_systemname})}">
					<div>
						[기부]<p  th:text="${d_boardtitleItem}"></p>
						
						<p  th:text="${d_boardOrgid}"></p>
					</div>
				</div>
				====================
				
				펀드 리스트
				<div class="contents" id="f_request" th:if="${not #lists.isEmpty(f_boardtitle)}" th:each="f_boardtitleItem : ${f_boardtitle}">
					
					<img th:src="@{/images/{f_systemnameItem}(f_systemnameItem=${f_systemname})}">
					<div>
						[펀드]<p th:text="${f_boardtitleItem}"></p>
						
						<p th:each="f_boardOrgidItem : ${f_boardOrgid}" th:text="${f_boardOrgidItem}"></p>
					</div>
				</div>-->
				<!--========================-->
				<!--========================================-->
				
				<!--<div th:if="${#lists.isEmpty(d_boardList) == true and #lists.isEmpty(f_boardList) == true}"  id="empty_msg">
					<p class="empty_msg">내역이 존재하지 않습니다.</p>
				</div>-->
				<div class="nextDiv">
					<i class="fa-solid fa-circle-plus" id="load-more-btn"></i>
				</div>
				<!--1page => 총 n개 -->
				
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
	$(document).ready(function () {
		    // 한 번에 표시할 아이템의 개수 설정
		    var itemsPerPage = 6;
		
		    // 아이템의 총 개수
		    var totalItems = $('.myNews_div').length;
		
		    // 초기에는 itemsPerPage 개수까지만 표시되도록 설정
		    $('.myNews_div:gt(' + (itemsPerPage - 1) + ')').hide();
		
		    // 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
		    if (totalItems <= itemsPerPage) {
		        $('#load-more-btn').hide();
		    }
		    // 더보기 버튼 클릭 시
		    $('#load-more-btn').on('click', function () {
		        // itemsPerPage 개수 만큼 추가로 표시
		        $('.myNews_div:hidden').slice(0, itemsPerPage).slideDown();
		        // 아직 표시하지 않은 아이템의 개수 갱신
		        totalItems -= itemsPerPage;
		        // 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
		        if (totalItems <= itemsPerPage) {
		            $('#load-more-btn').hide();
		        }
		    });
		});
	
	
</script>

</html>
