<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>판매자 myhome</title>
	<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="stylesheet" href="/css/seller/my/rank.css">
	<link rel="stylesheet" href="/css/seller/my/home.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	
	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- up_area - 프로필 및 랭킹 -->
		<th:block th:replace="~{layout/sellerMyPageRank::sellerMyPageRank(loginUser)}"></th:block>
		
		<div class="down_area" >
			<div class="menu_area" >
				<div>
					<h3>상품</h3>
					<a>현제 재고현황</a>
					<a>새 물품 등록</a>
				</div>
				<div>
					<h3>스토어</h3>
					<a href="/seller/my/storeList">내 스토어</a>
					<a href="/seller/my/storeUpdate">스토어 수정</a>
				</div>
				<div>
					<h3>Q&A</h3>
					<a>Q&A 목록 및 관리</a>
				</div>
				<div>
					<h3>리뷰</h3>
					<a>리뷰 목록 및 관리</a>
				</div>
			</div>
			<div class="contents_area">
				<div class="button_div">
					<a href="/seller/my/storeList">
						<img src="/images/seller/my/스토어.png">
						<span>apple님 스토어</span>
					</a>
					<a>
						<img src="/images/seller/my/review.png">
						<span>리뷰</span>
					</a>
					<a>
						<img src="/images/seller/my/qna.png">
						<span>Q&A</span>
					</a>
					<a>
						<img src="/images/seller/my/쇼핑.png">
						<span>다른스토어 보기</span>
					</a>
				</div>
				<div class="revenue_div">
					<div class="month_revenue">
						<span>이번달 수익</span>
						<span>0원</span>
					</div>
					<span>/</span>
					<div class="total_revenue">
						<span>전체 수익</span>
						<span>0원</span>
					</div>
				</div>
				<div class="write_div">
					<div class="review_div">
						<h3>리뷰</h3>
						<div>
							<div class="table">
								<img src="/images/사과.jpg">
								<div>
									<p>사과 맛나누</p>
									<p>apple님</p>
									<p>2024.05.21</p>
								</div>
							</div>
							<div class="table">
								<img src="/images/바나나.jpg">
								<div>
									<p>바나나 맛나누 ㅁㄴㅇㄻㄴㅇㄹㄴㅇㅁㄹㄴㅇㅁㄻㄴㅇㄻㄴㅇㄻㄴㅇㄹㄴㅇ</p>
									<p>apple님</p>
									<p>2024.05.21</p>
								</div>
							</div>
							<div class="table">
								<img src="/images/당근.jpg">
								<div>
									<p>정말 너무 좋아요 잘쓰겠습니다~</p>
									<p>apple님</p>
									<p>2024.05.21</p>
								</div>
							</div>
						</div>
					</div>
					<div class="QnA_div">
						<h3>Q&A</h3>
						<div>
							<div class="QnA_title">
								<span>프로필</span>
								<span>Q&A 내용</span>
								<span>작성 날짜</span>
							</div>
							<div class="table">
								<img src="/images/default_profile.png">
								<span>정말 너무 좋아fasdfasdfdssdafsasdafsda
									sadfsadasdfdsafsdafasdff요 잘쓰겠습니다~</span>
								<span>2024.05.21</span>
							</div>
							<div class="table">
								<img src="/images/default_profile.png">
								<span>정말 너무 좋아요 잘쓰겠습니다~</span>
								<span>2024.05.21</span>
							</div>
							<div class="table">
								<img src="/images/default_profile.png">
								<span>정말 너무 좋아요 잘쓰겠습니다~</span>
								<span>2024.05.21</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>

</html>