<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>판매자 myQnA</title>
	<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="stylesheet" href="/css/seller/my/rank.css">
	<link rel="stylesheet" href="/css/seller/my/qna.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- up_area - 프로필 및 랭킹 -->
		<th:block th:replace="~{layout/sellerMyPageRank::sellerMyPageRank(loginUser)}"></th:block>

		<div class="down_area">
			<div class="menu_area">
				<div>
					<h3>상품</h3>
					<a href="/seller/my/productNow">현재 재고현황</a>
					<a href="/store/write">새 물품 등록</a>
				</div>
				<div>
					<h3>스토어</h3>
					<a href="/seller/my/storeList">내 스토어</a>
					<a href="/seller/my/storeUpdate">스토어 수정</a>
				</div>
				<div>
					<h3>Q&A</h3>
					<a href="/seller/my/qna">Q&A 목록 및 관리</a>
				</div>
				<div>
					<h3>리뷰</h3>
					<a href="/seller/my/reviewList">리뷰 목록 및 관리</a>
				</div>
			</div>
			<div class="contents_area">
				<div class="button_div">
					<a href="/seller/my/storeList">
						<img src="/images/seller/my/스토어.png">
						<span>apple님 스토어</span>
					</a>
					<a href="/seller/my/reviewList">
						<img src="/images/seller/my/review.png">
						<span>리뷰</span>
					</a>
					<a href="/seller/my/qna">
						<img src="/images/seller/my/qna.png">
						<span>Q&A</span>
					</a>
					<a>
						<img src="/images/seller/my/쇼핑.png">
						<span>다른스토어 보기</span>
					</a>
				</div>
				<!-- ======= -->
				<!-- 제목, 검색바, 글쓰기 div -->
				<div class="titie_search">
					<h1>Q&A 목록 및 관리</h1>
				</div>
				<!-- qna 필터 div -->
				<div class="filter_div">
					<input type="button" value="전체보기" onclick="javascript:total_veiw()">
					<input type="button" value="답변 대기" onclick="window.location.href = 'qnaNoAnswer'" style="color: #757575;">
				</div>
				<!-- qna 내용 div -->
				<div th:if="${qnaList != null and qnaList.size() > 0}" th:each="qna:${qnaList}" class="qna_contents_div">
					<div class="content">
						<span>[[${qna.question}]]</span>
						<div>
							<div class="cm_check" th:style="${qna.answer} != null ? 'background-color: #2f956b; color: white' : ''">A</div>
							<span th:text="${qna.answer} != null ? '답변 완료' : '답변 대기' "></span>
							<div class="profile_info">
								<img src="/images/default_profile.png">
								<span>[[${qna.userid}]]</span>
								<span>[[${qna.qnaregdate}]]</span>
							</div>
						</div>
					</div>
				</div>
				<div class="nextDiv">
					<i class="fa-solid fa-circle-plus" id="load-more-btn"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	var total_btn = $(".filter_div input[value='전체보기']")
	var review_btn = $(".filter_div input[value='답변 대기']")
	
	const searchForm = $("#searchForm");
	
	function search(pagenum){
		searchForm.find("[name=pagenum]").val(pagenum);
		//유효성 검사
		return true;
	}
	
	$(".changePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		let pagenum = $(this).attr("href");
		searchForm.attr("onsubmit",`search(${pagenum})`);
		searchForm.submit();
	})
	
	function total_veiw() {
       	total_btn.css("color", "black");
        review_btn.css("color", "#757575");
		loadQnAList(false);
	}
	
    function no_review() {
        total_btn.css("color", "#757575");
        review_btn.css("color", "black");
		loadQnAList(true);
    }
	
	function loadQnAList(onlyUnanswered) {
	    $.ajax({
	        url: '/seller/my/qnaNoAnswer',  // 서버 엔드포인트
	        type: 'GET',
	        data: { onlyUnanswered: onlyUnanswered },
	        success: function(data) {
	            $('#qna_contents_div').html(data);  // 서버로부터 받은 HTML을 대체
	        },
	        error: function(err) {
	            console.log(err);
	        }
	    });
	}
</script>
<script>
	$(document).ready(function () {
	    // 한 번에 표시할 아이템의 개수 설정
	    var itemsPerPage = 5;
	
	    // 아이템의 총 개수
	    var totalItems = $('.qna_contents_div').length;
	
	    // 초기에는 itemsPerPage 개수까지만 표시되도록 설정
	    $('.qna_contents_div:gt(' + (itemsPerPage - 1) + ')').hide();
	
	    // 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
	    if (totalItems <= itemsPerPage) {
	        $('#load-more-btn').hide();
	    }
	    // 더보기 버튼 클릭 시
	    $('#load-more-btn').on('click', function () {
	        // itemsPerPage 개수 만큼 추가로 표시
	        $('.qna_contents_div:hidden').slice(0, itemsPerPage).slideDown();
	        // 아직 표시하지 않은 아이템의 개수 갱신
	        totalItems -= itemsPerPage;
	        // 남은 아이템이 itemsPerPage 개수 이하이면 더보기 버튼 숨기기
	        if (totalItems <= itemsPerPage) {
	            $('#load-more-btn').hide();
	        }
	    });
	});
</script>
</html>