<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>판매자 myReviewList</title>
	<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="stylesheet" href="/css/seller/my/rank.css">
	<link rel="stylesheet" href="/css/seller/my/reviewList.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- up_area - 프로필 및 랭킹 -->
		<th:block th:replace="~{layout/sellerMyPageRank::sellerMyPageRank(loginUser)}"></th:block>

		<div class="down_area">
			<div class="menu_area">
				<div>
					<h3>상품</h3>
					<a href="/seller/my/productNow">현재 재고현황</a>
					<a>새 물품 등록</a>
				</div>
				<div>
					<h3>스토어</h3>
					<a href="/seller/my/storeList">내 스토어</a>
					<a href="/seller/my/storeUpdate">스토어 수정</a>
				</div>
				<div>
					<h3>Q&A</h3>
					<a href="/seller/my/qna">Q&A 목록 및 관리</a>
				</div>
				<div>
					<h3>리뷰</h3>
					<a href="/seller/my/reviewList">리뷰 목록 및 관리</a>
				</div>
			</div>
			<div class="contents_area">
				<div class="button_div">
					<a href="/seller/my/storeList">
						<img src="/images/seller/my/스토어.png">
						<span>apple님 스토어</span>
					</a>
					<a href="/seller/my/reviewList">
						<img src="/images/seller/my/review.png">
						<span>리뷰</span>
					</a>
					<a href="/seller/my/qna">
						<img src="/images/seller/my/qna.png">
						<span>Q&A</span>
					</a>
					<a>
						<img src="/images/seller/my/쇼핑.png">
						<span>다른스토어 보기</span>
					</a>
				</div>
				<!-- ======= -->
				<!--  div -->
				<h1>리뷰 목록 및 관리</h1>
				<div class="reviewList_div">
					<div th:if="${reviewList != null and reviewList.size() > 0}" th:each="review:${reviewList}" class="review">
						<div class="profile">
							<img src="/images/default_profile.png">
						</div>
						<div class="contents_div">
							<div th:switch="${review.star}" class="star">
								<img th:case="'5'" src="/images/seller/my/5점.png">
								<img th:case="'4'" src="/images/seller/my/4점.png">
								<img th:case="'3'" src="/images/seller/my/3점.png">
								<img th:case="'2'" src="/images/seller/my/2점.png">
								<img th:case="'1'" src="/images/seller/my/1점.png">
								<span>[[${review.star}]]점</span>
							</div>
							<div class="contents">
								<p>[[${review.userid}]] / [[${review.reviewdate}]]</p>
								<div th:if="${sBoardList != null and sBoardList.size() > 0}" th:each="sBoard:${sBoardList}">
									<p th:text="${sBoard.sBoardnum} == ${review.connectid} ? '게시판 제목 : '+${sBoard.sTitle} :''"></p>									
								</div>
								<p class="reviewdetail">[[${review.reviewdetail}]]</p>
							</div>
						</div>
						<div class="poto_div">
							<img src="/images/default_profile.png">
						</div>
					</div>
				</div>
				<div class="search_area" style="display:none">
					<form name="searchForm" id="searchForm" action="reviewList" onsubmit="return search(1)">
						<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
						<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
					</form>
				</div>
				<table class="pagination">
					<tbody>
						<tr>
							<td>
								<a class="btn changePage" th:href="${pageMaker.startPage - 1}" th:if="${pageMaker.prev}">&lt;</a>
								<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
									<span class="nowPage" th:if="${pageMaker.cri.pagenum == i}">[[${i}]]</span>
									<a class="btn changePage" th:href="${i}" th:unless="${pageMaker.cri.pagenum == i}">[[${i}]]</a>
								</th:block>
								<a class="btn changePage" th:href="${pageMaker.endPage+1}" th:if="${pageMaker.next}">&gt;</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	const searchForm = $("#searchForm");
		
		function search(pagenum){
			searchForm.find("[name=pagenum]").val(pagenum);
			//유효성 검사
			return true;
		}
		
		$(".changePage").on("click",function(e){
			//e(이벤트)의 기본 작동 막기
			e.preventDefault();
			let pagenum = $(this).attr("href");
			searchForm.attr("onsubmit",`search(${pagenum})`);
			searchForm.submit();
		})
</script>

</html>