<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>판매자 myReviewList</title>
	<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/header_footer.css">
	<link rel="stylesheet" href="/css/seller/my/rank.css">
	<link rel="stylesheet" href="/css/seller/my/reviewList.css">
</head>

<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>

	<!-- 컨텐츠 -->
	<div class="wrap">
		<!-- up_area - 프로필 및 랭킹 -->
		<th:block th:replace="~{layout/sellerMyPageRank::sellerMyPageRank(loginUser)}"></th:block>

		<div class="down_area">
			<div class="menu_area">
				<div>
					<h3>상품</h3>
					<a href="/seller/my/productNow">현제 재고현황</a>
					<a>새 물품 등록</a>
				</div>
				<div>
					<h3>스토어</h3>
					<a href="/seller/my/storeList">내 스토어</a>
					<a href="/seller/my/storeUpdate">스토어 수정</a>
				</div>
				<div>
					<h3>Q&A</h3>
					<a href="/seller/my/qna">Q&A 목록 및 관리</a>
				</div>
				<div>
					<h3>리뷰</h3>
					<a href="/seller/my/reviewList">리뷰 목록 및 관리</a>
				</div>
			</div>
			<div class="contents_area">
				<div class="button_div">
					<a href="/seller/my/storeList">
						<img src="/images/seller/my/스토어.png">
						<span>apple님 스토어</span>
					</a>
					<a href="/seller/my/reviewList">
						<img src="/images/seller/my/review.png">
						<span>리뷰</span>
					</a>
					<a href="/seller/my/qna">
						<img src="/images/seller/my/qna.png">
						<span>Q&A</span>
					</a>
					<a>
						<img src="/images/seller/my/쇼핑.png">
						<span>다른스토어 보기</span>
					</a>
				</div>
				<!-- ======= -->
				<!--  div -->
				<h1>리뷰 목록 및 관리</h1>
				<div class="reviewList_div">
					<div class="review">
						<div class="profile">
							<img src="/images/default_profile.png">
						</div>
						<div class="contents_div">
							<div class="star">
								<img src="/images/seller/my/5점.png">
								<span>5점</span>
							</div>
							<div class="contents">
								<p>apple / 24.05.28</p>
								<p>분쇄 선택:원두콩(홀빈) / 증류 선택:베트남&블랜드 / 원두 선택:다크 블랜드</p>
								<p>
									사진과 동영상에 향을 다 담을 수 없어서 아쉽네요!
									박스를 열자마자 나는 고소한 커피향에 아찔할 정도인데 ㅎㅎ
									이번에도 너무 신선한 원두에 꼼꼼한 포장 만족스러워요!
									산미보단 고소한 커피를 좋아하는 커피 유목민이던 제가 완전 정착해서 n번째 구매를 이어가고 있는 오롯이 블렌드 왕 추전해요!
								</p>
							</div>
						</div>
						<div class="poto_div">
							<img src="/images/default_profile.png">
						</div>
					</div>
					<div class="review">
						<div class="profile">
							<img src="/images/default_profile.png">
						</div>
						<div class="contents_div">
							<div class="star">
								<img src="/images/seller/my/1점.png">
								<span>1점</span>
							</div>
							<div class="contents">
								<p>apple / 24.05.28</p>
								<p>분쇄 선택:원두콩(홀빈) / 증류 선택:베트남&블랜드 / 원두 선택:다크 블랜드</p>
								<p>
									사진과 동영상에 향을 다 담을 수 없어서 아쉽네요!
									박스를 열자마자 나는 고소한 커피향에 아찔할 정도인데 ㅎㅎ
									이번에도 너무 신선한 원두에 꼼꼼한 포장 만족스러워요!
									산미보단 고소한 커피를 좋아하는 커피 유목민이던 제가 완전 정착해서 n번째 구매를 이어가고 있는 오롯이 블렌드 왕 추전해요!
								</p>
							</div>
						</div>
						<div class="poto_div">
							<img src="/images/default_profile.png">
						</div>
					</div>
					<div class="review">
						<div class="profile">
							<img src="/images/default_profile.png">
						</div>
						<div class="contents_div">
							<div class="star">
								<img src="/images/seller/my/3점.png">
								<span>3점</span>
							</div>
							<div class="contents">
								<p>apple / 24.05.28</p>
								<p>분쇄 선택:원두콩(홀빈) / 증류 선택:베트남&블랜드 / 원두 선택:다크 블랜드</p>
								<p>
									사진과 동영상에 향을 다 담을 수 없어서 아쉽네요!
									박스를 열자마자 나는 고소한 커피향에 아찔할 정도인데 ㅎㅎ
									이번에도 너무 신선한 원두에 꼼꼼한 포장 만족스러워요!
									산미보단 고소한 커피를 좋아하는 커피 유목민이던 제가 완전 정착해서 n번째 구매를 이어가고 있는 오롯이 블렌드 왕 추전해요!
								</p>
							</div>
						</div>
						<div class="poto_div">
							<img>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</html>