<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
<script src="https://kit.fontawesome.com/1924b51539.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <!-- 컨텐츠 -->
    <div class="container login">           
        <div class="content">
			<a href="/"><i class="fa-solid fa-house" id="homeIcon"></i></a>
            <h1>GivuLuv 로그인</h1>
            <div class="register_text">
                <span>신규 사용자이신가요?</span>
                <a href="/user/join" id="join">계정 만들기</a>
            </div>
            <div class="login-input">
                <form action="/user/login" method="post" name="loginForm">
                    <div class="login-input-wrap">
                        <input type="text" name="userid" id="userid" placeholder="아이디" th:value="${joinid}"><br>
                        <input type="password" name="userpw" id="userpw" placeholder="비밀번호"><br>
                        <button type="submit" id="loginBtn">로그인</button>                        
                    </div>
                </form>
            </div>
            <div class="find">
                <a href="#">아이디 찾기</a>
                <span> / </span>
                <a href="#">비밀번호 찾기</a>                
            </div>
			<div class="socialLogin">
	            <div class="kakao">
	                <span th:if="${userId==null}">
	                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=9ab3fade4a59b62141d875116fa51d64&redirect_uri=http://localhost:8080/login&response_type=code">
	                        <img src = "/images/kakotalk.png">
	                    </a>
	                </span>
	                <span th:if="${userId!=null}">
	                    <form name="logout" action="http://localhost:8080/logout">
	                        <input type="submit" value="로그아웃">
	                    </form>
	                </span>
	            </div>
				<div class="naver">
					<a href="#">
						<img src="/images/naver.png">
					</a>
				</div>
			</div>
			<div class="otherJoin">
				<a href="#">판매자 계정 만들기</a>
				<span> / </span>
				<a href="#">사회단체 계정 만들기</a>
			</div>
        </div>
    </div>
	
	<th:block th:if="${joinid != null}">
		<script th:inline="javascript">
			window.onload = function() {
				let joinid = /*[[${joinid}]]*/'';
				alert(joinid + '님 가입을 환영합니다~');
				setTimeout(function(){
					document.loginForm.userid.value = joinid;
					document.loginForm.userpw.focus();
				}, 1300);
			};
		</script>
	</th:block>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function() {
	    $("#loginBtn").on("click", function() {
	        let userid = $("#userid").val();
	        let userpw = $("#userpw").val();
	        
	        if (userid === "" && userpw === "") {
	            alert("아이디와 비밀번호를 입력하세요.");
	            return false; 
	        } else if (userid === "") {
	            alert("아이디를 입력하세요.");
	            return false; 
	        } else if (userpw === "") {
	            alert("비밀번호를 입력하세요.");
	            return false; 
	        } else {
	            return true; 
	        }
	    });
	});

</script>
</body>
</html>
