    @font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
        font-family: 'KCC-Hanbit';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }   

    .map_tit{
        width: 1340px;
        height: 80px;
        margin: 50px auto 0 auto;
        text-align: center;
        font-family: 'TTLaundryGothicB';
        color: #333;
    }
    .map_tit h2{
        font-size: 40px;
        margin: 0 0 5px 0;
    }
    .map_wrap{
        width: 100%;
        height: 450px;
        margin-top: 20px;
        background-color: rgb(255, 216, 225);
    }
    .map_box{
        width: 1340px;
        height: 450px;
        margin: 0 auto;
    }
    .map_img{
        width: 800px;
        height: 450px;
        float: left;
    }
    #map_img_box{
		display: block;
        height: 450px;
        margin: 0 70px;
        float: left;
        background-size: 100%;
    }
    #map{
		display: none;
		width: 800px;
        height: 450px;
        position: relative;
	}
	.close_btn{
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 23px;
		color: #333;
		border: none;
		position: absolute;
		top: 10px; right: 10px;
		margin: 10px;
		font-size: 18px;
		background-color: beige;
		cursor: pointer;
		border-radius: 5px;
		z-index: 500;
		box-shadow: 0 0 5px black;
	}
    .local_box{
        float: left;
        width: 540px;
        height: 450px;
    }
    .local_keyword_info{
        width: 540px;
        height: 101px;
        padding: 35.5px 0 15.5px 0;
    }
    .local_info{
        width: 430px;
        height: 50px;
        border-radius: 10px;
        background-color: white;
        border: 2px solid rgb(158, 158, 158);
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        font-family: 'KCC-Hanbit';
        font-size: 25px;
        color: rgb(75, 75, 75);
        box-shadow: 3px 3px 3px rgb(58, 58, 58);
    }
    input[type=button]{
        height: 93px;
        width: 130px;
        border: none;
        cursor: pointer;
        background-color: unset;
        text-align: center;
        line-height: 93px;
        font-family: 'TTLaundryGothicB';
        color: white;
        font-size: 25px;
        border-radius: 10px;
        box-shadow: 4px 4px 2px rgb(24, 46, 34);
    }
    input[type=button]:hover{
        font-size: 30px;
        text-shadow: 0 0 5px black;
        background-color: rgb(42, 105, 72);
    }
    .local_keyword_box{
        width: 450px;
        height: 93px;
        margin: 15px auto;
    }
    .local_keyword{
        height: 93px;
        width: 130px;
        background-color: rgb(109, 160, 133);
        border-radius: 10px;
        margin: 0 10px;
        float: left;
    }
    .local_center{
        background-color:unset;
    }