@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.lsu_wrap{
    width: 100%;
}
.lsu_header_inner{
    background-color: #f1f1f1;
    margin: 0 auto;
    width: 100%;
    height: 100px;
}
.lsu_header .lsu_logobox{
    display: flex;
}
.lsu_header .lsu_logo{
    display: inline-block;
    padding: 22px 0 20px;
}
.lsu_header img{
    width: 78px;
}
.lsu_header .lsu_tit{
   width: 100px;
   height: 20px;
   display: inline-block;
}
.lsu_header .lsu_tit {
    font-family: 'TTLaundryGothicB';
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    color: rgb(231, 112, 151);
    margin-top: 22px;
    text-decoration: none;
}
.lsu_header .lsu_subtitle{
    font-family: 'TTLaundryGothicB';
    line-height: 60px;
    font-size: 15px;
    text-align: center;
    color: rgb(231, 112, 151);
    margin-top: 24px;
}
.lsu_step_list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 1140px;
    margin: 47px auto 32px;
    justify-content: space-between;
    align-items: center;
}
.lsu_step_item {
    flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
    font-family: Arial, sans-serif;
    color: #aaa;
}
.lsu_step_item.active {
    background-color: rgb(231, 112, 151);
    color: white;
}
.lsu_step_item.active .fa-circle-check {
    color: white;
}
.lsu_step_item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ddd;
    transform: translateY(-50%);
}
.lsu_step_item:last-child:before {
    content: none;
}
.lsu_step_item.active:before {
    border-left-color: rgb(231, 112, 151);
}
.fa-circle-check {
    margin-right: 8px;
}
.lsu_form_fieldset{
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    width: 60%;
    margin-left: 350px;
}
.lsu_form_check{
    position: relative;
    padding: 25px 30px 23px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}
.lsu_form_check .lsu_form_require_check{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #ed5a5a;
}
.lsu_form_content{
    margin-top: -10px;
    padding: 30px;
    border-top: 1px solid #e5e5e5;
}
.lsu_form_row{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.lsu_form_col_left{
    display: table-cell;
    width: 170px;
    padding-left: 4px;
    vertical-align: top;
}
.lsu_form_checkname{
    position: relative;
    display: inline-block;
    padding: 10px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
}
.lsu_form_col_right{
    display: table-cell;
    padding: 18px 0;
}
.lsu_form_input_text{
    width: 405px;
    height: 42px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid rgb(0, 0, 0);
    color: #202020;
    background: #fbfbfb;
}
.lsu_form_input_desc{
    position: relative;
    margin-top: 14px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #828282;
}
.lsu_form_row+.lsu_form_row{
    border-top: 1px solid #e5e5e5;
    padding: 30px 0 20px;
}
.lsu_form_uniquenum{
    position: relative;
    display: inline-block;
    padding: 10px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
}
.lsu_button_unique{
    display: inline-block;
    width: auto;
    height: 44px;
    padding: 0 16px;
    border: 1px solid #828282;
    font-size: 14px;
    line-height: 16px;
    color:#666;
    vertical-align: top;
}
#uniquenumber_result {
    margin-top: 10px;
    font-weight: bold;
}
.lsu_form_content_tip{
    position: relative;
    padding: 18px 34px 16px;
    border-top: 1px solid #e0e5e8;
    border-bottom: 1px solid #ecf1f4;
    background: rgb(235,244,249);
    font-size: 13px;
    line-height: 19px;
    color: #647b88;
}
.lsu_form_content .lsu_form_input_text{
    height: -21px;
}
.lsu_step_button{
    margin: 40px 0 100px;
    text-align: center;
    margin-right: 30px;
}
.lsu_button_prev{
    width: 160px;
    height: 46px;
    border: 1px solid #e0e5e8;
    font-size: 16px;
    line-height: 20px;
    color: #202020;
}
.lsu_button_next{
    width: 160px;
    height: 46px;
    border: 1px solid #e0e5e8;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    background: rgb(231, 112, 151);
    color: #fff;
}
.lsu_footer{
    padding: 19px 0 100px;
    border-top: 1px solid rgb(#828282);
    background: #f5f5f5;
}
.lsu_footer_inner{
    margin: 0 auto;
    width: 1140px;
    text-align: center;
}
.lsu_footer_inner a{
    text-decoration: none;
    font-family: 'TTLaundryGothicB';
    line-height: 60px;
    font-size: 20px;
    color: rgb(231, 112, 151);
}