<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
	<script src="https://kit.fontawesome.com/516da99189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/sBoard.css">
	<link rel="stylesheet" href="/css/header_footer.css">
</head>
<body>
	<!-- header -->
	<th:block th:replace="~{layout/header::header(loginUser)}"></th:block>
	<!-- 컨텐츠 -->
    <div class="store_wrap">
        <div class="store_box">
            <div class="store_category">
                <ul class="store_category_list">
                    <li class="store_category_item">
                        <a href="/store/product_a" class="store_product">
                            <img src="/images/store_icon.png" alt="">
                            전체
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_b" class="store_product">
                            <img src="/images/food_icon.png" alt="">
                            식품
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_c" class="store_product">
                            <img src="/images/tea_icon.png" alt="">
                            음료/건강
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_d" class="store_product">
                            <img src="/images/book_icon.png" alt="">
                            문구/문화
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_e" class="store_product">
                            <img src="/images/living-icon.png" alt="">
                            인테리어
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_f" class="store_product">
                            <img src="/images/daily_necessities_icon.png" alt="">
                            생활
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_g" class="store_product">
                            <img src="/images/conmetics_icon.png" alt="">
                            미용
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_h" class="store_product">
                            <img src="/images/dog_icon.png" alt="">
                            반려동물
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_i" class="store_product">
                            <img src="/images/plant_icon.png" alt="">
                            식물/꽃
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_j" class="store_product">
                            <img src="/images/clothes_icon.png" alt="">
                            의류
                        </a>
                    </li>
                    <li class="store_category_item">
                        <a href="/store/product_k" class="store_product">
                            <img src="/images/accessories_icon.png" alt="">
                            패션잡화
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product_item">
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product_item_box">
                    <a href="/store/storeView" id="store_link">
						<div class="product_thumbnail">
							<img src="/images/product.jpg">
						</div>
                        <div class="p_tit_box">
                            <p class="product_title">할미할배 손글씨 손그림 리무버블 스티커 3종 점점점 표시되나 확인 차 쓴다</p>
                        </div>
                    </a>
                    <div class="p_info_box">
                        <p class="product_price">15000원</p>
                        <div class="p_choice_box">
                            <input type="button" class="product_choice" onclick=""></input>
                        </div>
                    </div>
                    <a href="#" id="seller_link">
                        <div class="seller_box">
                            <div class="seller_thumbnail">
                                <img src="/images/store.jpg" alt="">
                            </div>
                            <div class="seller_info">
                                <p class="store_name">신이어마켓</p>
                                <p class="">#어르신일자리창출</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product_moreBtn">
                <input type="button" value="더보기" id="product_more" onclick="">
            </div>
        </div>
    </div>
	<!-- footer -->
	<th:block th:replace="~{layout/footer::footer()}"></th:block>
</body>
</html>