#Java 관련
*.class
*.jar

#환경 파일
env.properties
*.env

# 로그 파일
*.log

#IDE 관련
.classpath
.project
.settings/
.idea/
*.iml

#빌드 출력물
/target/
/bin/

#src/main/resources/properties/env.properties 파일 무시
src/main/resources/properties/*